force-app/main/default/flows/Account_Summary_Form_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Account_Summary_to_Collection</name>
        <label>Add Account Summary to Collection</label>
        <locationX>225</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>collection_NewAccountSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new_AccountSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account_Summaries_from_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Implementation_Form_to_Collection</name>
        <label>Add New Implementation Form to Collection</label>
        <locationX>1291</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>collection_NewAccountSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new_AccountSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Account_Summaries_from_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_New_Setup_Form_to_Collection</name>
        <label>Add New Setup Form to Collection</label>
        <locationX>1284</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>collection_NewAccountSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>new_AccountSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_to_Create_Implementation_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Implementation_Form_Variable</name>
        <label>Assign Implementation Form Variable</label>
        <locationX>872</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>var_HasImplementationForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Setup_or_Implementation_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Setup_Form_Variable</name>
        <label>Assign Setup Form Variable</label>
        <locationX>749</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>var_HasSetupForm</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Existing_Setup_or_Implementation_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Account_Implmentation_Form_Account_Summary</name>
        <label>Create Account Implmentation Form Account Summary</label>
        <locationX>1286</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Subscription_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000UPyvAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerSupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Implementation_Form_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Account_Setup_Form_Account_Summary</name>
        <label>Create Account Setup Form Account Summary</label>
        <locationX>1282</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Subscription_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01280000000BjioAAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerSupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Setup_Form_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Non_Renewing_Checklist</name>
        <label>Create Non-Renewing Checklist</label>
        <locationX>66</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Primary_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.CompetitorAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000UPvcAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerSupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Initial_Subscription_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Subscription_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Subscription_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Number_of_Connected_Contractors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Total_Contractors_on_List__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Number_of_Unique_Contractors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.BCS_Unique_Contractors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Number_of_Additional_Tools_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Number_of_ISN_Tools_Used__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Number_of_Healthy_Account_Badge_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Badge_Item_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.A_Grade_Conformance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.A_Grade_Conformance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Subscription_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Subscription_Compliance_Calculated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Process_Flow_Implemented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessFlowImplemented</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Vendor_List_Updated_in_Last_12_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VendorListUpdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Import_Export__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImportExport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.News_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewsRelease</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Dallas_Workshop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DallasWorkshop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Video_Recorded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VideoRecorded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.ISN_on_Company_Webiste_Intranet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WebsiteIntranet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Summary_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Transition_Form_Account_Summary</name>
        <label>Create Transition Form Account Summary</label>
        <locationX>381</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Incoming_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Outgoing_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oldOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01280000000BgTnAAK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerSupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Summary_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Win_Account_Summary</name>
        <label>Create Win Account Summary</label>
        <locationX>226</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.LastModifiedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Primary_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triggeringAccount.CompetitorAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000GI6rAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ownerSupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_AccountSummary.Win_Loss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Win</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Summary_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Setup_Form</name>
        <label>Check if Setup Form</label>
        <locationX>561</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Check_for_Existing_Setup_or_Implementation_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Setup_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existing_AccountSummary.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01280000000BjioAAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Setup_Form_Variable</targetReference>
            </connector>
            <label>Is Setup Form</label>
        </rules>
        <rules>
            <name>Is_Implementation_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existing_AccountSummary.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01234000000UPyvAAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Implementation_Form_Variable</targetReference>
            </connector>
            <label>Is Implementation Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_Create_Implementation_Form</name>
        <label>Check to Create Implementation Form</label>
        <locationX>1076</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Create_New_Account_Summaries_from_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Need_to_Create_Implementation_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HasImplementationForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Implmentation_Form_Account_Summary</targetReference>
            </connector>
            <label>Need to Create Implementation Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_Create_Setup_Form</name>
        <label>Check to Create Setup Form</label>
        <locationX>987</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Check_to_Create_Implementation_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Need_to_Create_Setup_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_HasSetupForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Setup_Form_Account_Summary</targetReference>
            </connector>
            <label>Need to Create Setup Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>formsExist</name>
        <label>formsExist</label>
        <locationX>853</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Check_to_Create_Setup_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existing_AccountSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Existing_Setup_or_Implementation_Form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>whatKindOfForm</name>
        <label>whatKindOfForm</label>
        <locationX>379</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>newSubscriberForms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookForExistingSetupForms</targetReference>
            </connector>
            <label>newSubscriberForms</label>
        </rules>
        <rules>
            <name>transitionForm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newOwner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transition_Form_Account_Summary</targetReference>
            </connector>
            <label>transitionForm</label>
        </rules>
        <rules>
            <name>lostToCompetitorForm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ltcForm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Non_Renewing_Checklist</targetReference>
            </connector>
            <label>lostToCompetitorForm</label>
        </rules>
        <rules>
            <name>subscriberWin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>subscriberWin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Win_Account_Summary</targetReference>
            </connector>
            <label>subscriberWin</label>
        </rules>
    </decisions>
    <description>Add summary forms based on account updates</description>
    <formulas>
        <name>DallasWorkshop</name>
        <dataType>String</dataType>
        <expression>IF({!triggeringAccount.Dallas_Workshop_Held__c},&#39;Yes&#39;,&#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>ImportExport</name>
        <dataType>String</dataType>
        <expression>IF({!triggeringAccount.Import_Export__c},&#39;Yes&#39;,&#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>NewsRelease</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!triggeringAccount.Press_Release__c})),&#39;Yes&#39;,&#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>ProcessFlowImplemented</name>
        <dataType>String</dataType>
        <expression>IF({!triggeringAccount.Process_Flow_Implemented__c},&#39;Yes&#39;,&#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>VendorListUpdated</name>
        <dataType>String</dataType>
        <expression>IF({!triggeringAccount.Contractor_List_Update_in_Last_12_Months__c},&#39;Yes&#39;,&#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>VideoRecorded</name>
        <dataType>String</dataType>
        <expression>IF({!triggeringAccount.VideoRecorded__c},&#39;Yes&#39;,&#39;No&#39;)</expression>
    </formulas>
    <formulas>
        <name>WebsiteIntranet</name>
        <dataType>String</dataType>
        <expression>IF({!triggeringAccount.ISN_on_Website_Intranet__c},&#39;Yes&#39;,&#39;No&#39;)</expression>
    </formulas>
    <interviewLabel>Account Summary Form Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Summary Form Create</label>
    <loops>
        <name>Check_for_Existing_Setup_or_Implementation_Form</name>
        <label>Check for Existing Setup or Implementation Form</label>
        <locationX>748</locationX>
        <locationY>276</locationY>
        <assignNextValueToReference>existing_AccountSummary</assignNextValueToReference>
        <collectionReference>existing_AccountSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Setup_Form</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_to_Create_Setup_Form</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Account_Summaries_from_Collection</name>
        <label>Create New Account Summaries from Collection</label>
        <locationX>1000</locationX>
        <locationY>659</locationY>
        <inputReference>collection_NewAccountSummaries</inputReference>
    </recordCreates>
    <recordLookups>
        <name>lookForExistingSetupForms</name>
        <label>lookForExistingSetupForms</label>
        <locationX>664</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>formsExist</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01280000000BjioAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01234000000UPyvAAG</stringValue>
            </value>
        </filters>
        <object>Account_Summary__c</object>
        <outputReference>existing_AccountSummaries</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <sortField>RecordTypeId</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>triggeringAccountLookup</name>
        <label>triggeringAccountLookup</label>
        <locationX>180</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>whatKindOfForm</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>triggeringAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <queriedFields>Prospect_Status__c</queriedFields>
        <queriedFields>Buying_Process__c</queriedFields>
        <queriedFields>Subscription_Start_Date__c</queriedFields>
        <queriedFields>Renewal_Date__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>CompetitorAccount__c</queriedFields>
        <queriedFields>Total_Contractors_on_List__c</queriedFields>
        <queriedFields>BCS_Unique_Contractors__c</queriedFields>
        <queriedFields>Number_of_ISN_Tools_Used__c</queriedFields>
        <queriedFields>Badge_Item_Count__c</queriedFields>
        <queriedFields>A_Grade_Conformance__c</queriedFields>
        <queriedFields>Subscription_Compliance_Calculated__c</queriedFields>
        <queriedFields>Process_Flow_Implemented__c</queriedFields>
        <queriedFields>Contractor_List_Update_in_Last_12_Months__c</queriedFields>
        <queriedFields>Import_Export__c</queriedFields>
        <queriedFields>Press_Release__c</queriedFields>
        <queriedFields>Dallas_Workshop_Held__c</queriedFields>
        <queriedFields>VideoRecorded__c</queriedFields>
        <queriedFields>ISN_on_Website_Intranet__c</queriedFields>
    </recordLookups>
    <startElementReference>triggeringAccountLookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>collection_NewAccountSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
    <variables>
        <name>existing_AccountSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
    <variables>
        <name>existing_AccountSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
    <variables>
        <name>formToCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>impForms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
    <variables>
        <name>new_AccountSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
    <variables>
        <name>newLTCFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newSetupFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newTransitionFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oldOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerSupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>triggeringAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>triggeringAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_HasImplementationForm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_HasSetupForm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
