force-app/main/default/flows/Account_Creation_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_Contact_to_Collection</name>
        <label>Add Contact to Collection</label>
        <locationX>847</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>collectionNewContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_Admin</name>
        <label>Has Admin</label>
        <locationX>553</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>adminContactPresent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setContactValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setContactValues</name>
        <label>Set Contact Values</label>
        <locationX>662</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>newContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>directNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobileNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Main_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mainNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.OtherCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhysicalCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.OtherStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhysicalStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.OtherPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhysicalPostal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.OtherState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhysicalState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.OtherCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactPhysicalCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactBillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactBillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactBillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactBillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactBillingPostal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Account_Admin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAdmin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Sync_Addresses_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceSyncAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAccount</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEnglish</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNull</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </choices>
    <choices>
        <name>choiceSite</name>
        <choiceText>Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Admin_Contact_Check</name>
        <label>Admin Contact Check</label>
        <locationX>681</locationX>
        <locationY>185</locationY>
        <defaultConnector>
            <targetReference>setContactValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not First Admin</defaultConnectorLabel>
        <rules>
            <name>first_admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>adminContactPresent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Admin</targetReference>
            </connector>
            <label>First Admin?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Check</name>
        <label>Contact Check</label>
        <locationX>1161</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>Create_Contacts_from_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Contacts</defaultConnectorLabel>
        <rules>
            <name>More_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>multipleContactChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contactInformation</targetReference>
            </connector>
            <label>More Contacts?</label>
        </rules>
        <rules>
            <name>No_Admin_Contacts_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adminContactPresent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>multipleContactChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Require_One_Contact</targetReference>
            </connector>
            <label>No Admin Contacts Added</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceAccountBillingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingCountryCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceAccountBillingState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingStateCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceAccountPhysicalCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShippingCountryCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceAccountPhysicalState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShippingStateCode</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceContactBillingCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceContactBillingState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingStateCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceContactPhysicalCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OtherCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceContactPhysicalState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OtherStateCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSyncAddresses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sync_Addresses_To__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Account Creation Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Creation Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contacts_from_Collection</name>
        <label>Create Contacts from Collection</label>
        <locationX>917</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>Set_Account_Admin_and_Billing_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>contactError</targetReference>
        </faultConnector>
        <inputReference>collectionNewContacts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createAccount</name>
        <label>Create Account</label>
        <locationX>340</locationX>
        <locationY>223</locationY>
        <assignRecordIdToReference>newAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>accountError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Avg_Employee_Initial__c</field>
            <value>
                <elementReference>avgEmpCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>accountBillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>accountBillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>accountBillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>accountBillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>accountBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>choiceGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>accountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>accountPhysicalCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>accountPhysicalCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>accountPhysicalPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>accountPhysicalState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>accountPhysicalStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_ID__c</field>
            <value>
                <elementReference>taxId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verticals__c</field>
            <value>
                <elementReference>choiceVertical</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>496</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Account_Creation_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>contactError</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Main_Admin_Contact__c</field>
            <value>
                <elementReference>mainAdminId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Billing_Contact__c</field>
            <value>
                <elementReference>mainBillingContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Account_Creation_Complete</name>
        <label>Account Creation Complete</label>
        <locationX>336</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completeMessage</name>
            <fieldText>&lt;p&gt;Congratulations, your account and contact(s) have been created!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &lt;a href=&quot;/{!newAccountId}&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;b&gt; &lt;/b&gt;to review all information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>accountError</name>
        <label>accountError</label>
        <locationX>313</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;There was an error when creating your account. The Salesforce Admin Team has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>accountInformation</name>
        <label>Account Information</label>
        <locationX>309</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>accountName</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>taxId</name>
            <dataType>String</dataType>
            <fieldText>Tax ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>billingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>choiceAccountBillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>choiceAccountBillingCountry</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountBillingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountBillingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountBillingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountBillingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountBillingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>physicalAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Physical Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>choiceAccountPhysicalCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>choiceAccountPhysicalState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>accountPhysicalCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountPhysicalCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountPhysicalPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountPhysicalState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>accountPhysicalStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>avgEmpCount</name>
            <dataType>Number</dataType>
            <fieldText>Average Employee Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>language</name>
            <choiceReferences>accountLanguage</choiceReferences>
            <choiceReferences>choiceEnglish</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceEnglish</defaultSelectedChoiceReference>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>account</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Verticals__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Vertical</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Contractor Development</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <stringValue>CS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>choiceGroup</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>choiceVertical</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirmSearch</name>
        <label>Confirm Search</label>
        <locationX>169</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>accountInformation</targetReference>
        </connector>
        <fields>
            <name>confirmSearchMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Important:&lt;/u&gt;&lt;/b&gt; By clicking next you are confirming you have searched Salesforce and the accounts / contacts you are about to create do not already exist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>contactError</name>
        <label>contactError</label>
        <locationX>751</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage_0</name>
            <fieldText>&lt;p&gt;There was an error when creating one or more of your contact(s). The Salesforce Admin Team has been notified.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click &lt;/span&gt;&lt;a href=&quot;https://isn--dev.lightning.force.com/%7B!newAccountId%7D&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;to view the account and contact information to continue editing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>contactInformation</name>
        <label>Contact Information</label>
        <locationX>664</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Admin_Contact_Check</targetReference>
        </connector>
        <fields>
            <name>contactInfo</name>
            <fieldText>&lt;p&gt;Your account has been created! Please continue adding contacts.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; You must add at least one Admin contact as you need to set the account&#39;s main admin and billing contacts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>lastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>firstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>accountAdmin</name>
            <dataType>Boolean</dataType>
            <fieldText>Account Admin</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Check this box for contacts who a) &quot;own&quot; the subscription, b) typically gets renewal notifications and/or c) have overall responsibility for account-level changes.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>billingContact</name>
            <dataType>Boolean</dataType>
            <fieldText>Billing Contact</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;In addition to Account Admins, Billing Contacts will receive invoice emails&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>directPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Direct Phone Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>directNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mainPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Phone Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mainNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mobilePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone Number</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mobileNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>syncAddress</name>
            <choiceReferences>choiceAccount</choiceReferences>
            <choiceReferences>choiceNull</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceAccount</defaultSelectedChoiceReference>
            <fieldText>Sync Addresses with Account? Change this to -None- if changing the addresses below.</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If changing the addresses for the contact, change this field to None (vs Account or Site)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>accountBillingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>accountBillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>accountBillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Mailing Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>accountBillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>accountBillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>accountBillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>choiceContactBillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>choiceContactBillingState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactBillingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactBillingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactBillingPostal</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactBillingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactBillingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>contactPhysicalAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>accountPhysicalCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>accountPhysicalCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>accountPhysicalPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Physical Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>accountPhysicalState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>accountPhysicalStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputCountryOptions</name>
                <value>
                    <elementReference>choiceContactPhysicalCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputProvinceOptions</name>
                <value>
                    <elementReference>choiceContactPhysicalState</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactPhysicalCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactPhysicalCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactPhysicalPostal</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactPhysicalState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactPhysicalStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>multipleContacts</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add another contact?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>multipleContactChoice</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Require_One_Contact</name>
        <label>Require One Contact</label>
        <locationX>976</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>contactInformation</targetReference>
        </connector>
        <fields>
            <name>noContactWarning</name>
            <fieldText>&lt;p&gt;At least one admin contact must be added to the account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Account_Admin_and_Billing_Contact</name>
        <label>Set Account Admin and Billing Contact</label>
        <locationX>686</locationX>
        <locationY>523</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>accountAdminBillingContacts</name>
            <fieldText>&lt;p&gt;Please select the contact(s) below who are the main admin and billing contact(s) for the account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mainAdmin</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryLimit</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>AccountId = &#39;{!newAccountId}&#39; AND Active__c = TRUE AND Account_Admin__c = TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Admin Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Select main contact...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Contacts must be associated with account, active and an account admin</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mainAdminId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>mainBillingContact</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>AccountId = &#39;{!newAccountId}&#39; AND Active__c = TRUE AND (Account_Admin__c = TRUE OR 	Billing_Contact__c = TRUE)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryLimit</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Billing Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Select billing contact...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Contacts must be associated with account, active and an account admin or billing contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mainBillingContactId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>confirmSearch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>168</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>createAccount</targetReference>
        </connector>
        <flowName>Get_Record_Type_Id</flowName>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Contractor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>accountRecordType</assignToReference>
            <name>recordType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>521</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>contactInformation</targetReference>
        </connector>
        <flowName>Get_Record_Type_Id</flowName>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>Contractor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactRecordType</assignToReference>
            <name>recordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountBillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountBillingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountBillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPhysicalCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPhysicalCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPhysicalPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPhysicalState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPhysicalStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>adminContactPresent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>choiceGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>choiceVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionNewContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactBillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactBillingPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactBillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhysicalCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhysicalCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhysicalPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhysicalState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPhysicalStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>directNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainAdminId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainBillingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>multipleContactChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
