force-app/main/default/flows/Add_Groups_to_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Add_to_Existing_Groups</name>
        <choiceText>Add to Existing Groups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add to Existing Groups</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_Existing_Groups_and_Add_New</name>
        <choiceText>Remove Existing Groups and Add New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove Existing Groups and Add New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_To_or_Replace_and_Add</name>
        <label>Add To or Replace and Add</label>
        <locationX>215</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add to Existing Groups</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Group</targetReference>
            </connector>
            <label>Add To</label>
        </rules>
        <rules>
            <name>Replace_and_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove Existing Groups and Add New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Groups</targetReference>
            </connector>
            <label>Replace and Add</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Groups</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>PublicGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Groups to User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Groups to User</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_User_to_Group</name>
        <label>Add User to Group</label>
        <locationX>362</locationX>
        <locationY>500</locationY>
        <assignRecordIdToReference>newGroupMember</assignRecordIdToReference>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>PublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UsertoUpdate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>212</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Groups_for_Selection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UsertoUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Display_Groups_for_Selection</name>
        <label>Display Groups for Selection</label>
        <locationX>212</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_To_or_Replace_and_Add</targetReference>
        </connector>
        <fields>
            <name>UserName</name>
            <fieldText>Select Groups for {!UsertoUpdate.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Option</name>
            <choiceReferences>Add_to_Existing_Groups</choiceReferences>
            <choiceReferences>Remove_Existing_Groups_and_Add_New</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Groups1</name>
            <choiceReferences>Groups</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Groups</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Current_User</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Remove_Groups</name>
        <label>Remove Groups</label>
        <locationX>517</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Add_User_to_Group</targetReference>
        </connector>
        <flowName>Remove_User_from_Groups</flowName>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>UsertoUpdate.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <name>UserID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>GroupID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>GroupMemberIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupsIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>newGroupMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsertoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
