force-app/main/default/flows/Add_PRAVS_Meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Canada_Account_Management</name>
        <choiceText>Canada Account Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canada Account Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA_Account_Management</name>
        <choiceText>EMEA Account Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA Account Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>External_Review_Group_Management</name>
        <choiceText>External Review Group Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>External Review Group Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>P_RAVS_External_Review_Group</name>
        <choiceText>IRM - External Review Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IRM - External Review Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>US_Account_Management</name>
        <choiceText>US Account Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US Account Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>X01_P_RAVS_Regulatory</name>
        <choiceText>01 - IRM - Regulatory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01 - IRM - Regulatory</stringValue>
        </value>
    </choices>
    <choices>
        <name>X02_P_RAVS_Client_Roundtable</name>
        <choiceText>02 - IRM - Client Roundtable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 - IRM - Client Roundtable</stringValue>
        </value>
    </choices>
    <choices>
        <name>X02_P_RAVS_Contractor_1_on_1_Meeting</name>
        <choiceText>02 - IRM - Contractor 1-on-1 Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 - IRM - Contractor 1-on-1 Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>X02_P_RAVS_Held_Agent_Broker_Meeting</name>
        <choiceText>02 - IRM - Held Agent/Broker Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 - IRM - Held Agent/Broker Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>X02_P_RAVS_Workers_Compensation_Board</name>
        <choiceText>02 - IRM - Workers Compensation Board</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 - IRM - Workers Compensation Board</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03_P_RAVS_Conformance_Meeting_Held</name>
        <choiceText>03 - IRM - Conformance Meeting Held</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 - IRM - Conformance Meeting Held</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03_P_RAVS_Escalated_Call</name>
        <choiceText>03 - IRM - Escalated Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 - IRM - Escalated Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03_P_RAVS_Overview</name>
        <choiceText>03 - IRM - Overview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 - IRM - Overview</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03_P_RAVS_Review_Setup_Forms</name>
        <choiceText>03 - IRM - Review Setup Forms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 - IRM - Review Setup Forms</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03_P_RAVS_UGM_HD</name>
        <choiceText>03 - IRM - UGM/HD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 - IRM - UGM/HD</stringValue>
        </value>
    </choices>
    <choices>
        <name>X03_P_RAVS_Workshop</name>
        <choiceText>03 - IRM - Workshop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 - IRM - Workshop</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>ActivityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Activity_Type__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FormatValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Format__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAVSAttendees</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RAVS_Attendees__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StateValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State_Province__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TeamValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Team__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add PRAVS Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add IRM Meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PRAVS_Meeting</name>
        <label>Create PRAVS Meeting</label>
        <locationX>192</locationX>
        <locationY>287</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <elementReference>ActivityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Initials__c</field>
            <value>
                <elementReference>Attendee_Initials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_ISN_ID__c</field>
            <value>
                <elementReference>Company_ISN_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Format__c</field>
            <value>
                <elementReference>FormatValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RAVS_Attendees__c</field>
            <value>
                <elementReference>RAVS_Attendees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01234000000UPkP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shows_on_Weekly_Report__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_Province__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <stringValue>Insurance &amp; Risk Management</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <stringValue>a1G34000000Zz5jEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <stringValue>00334000023bZOP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>432</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorInfo</name>
            <fieldText>There as an error. Please contact SalesforceAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meeting_Details</name>
        <label>Meeting Details</label>
        <locationX>192</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_PRAVS_Meeting</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Activity_Type</name>
            <choiceReferences>X01_P_RAVS_Regulatory</choiceReferences>
            <choiceReferences>X02_P_RAVS_Client_Roundtable</choiceReferences>
            <choiceReferences>X02_P_RAVS_Contractor_1_on_1_Meeting</choiceReferences>
            <choiceReferences>X02_P_RAVS_Held_Agent_Broker_Meeting</choiceReferences>
            <choiceReferences>X02_P_RAVS_Workers_Compensation_Board</choiceReferences>
            <choiceReferences>X03_P_RAVS_Escalated_Call</choiceReferences>
            <choiceReferences>X03_P_RAVS_UGM_HD</choiceReferences>
            <choiceReferences>X03_P_RAVS_Workshop</choiceReferences>
            <choiceReferences>P_RAVS_External_Review_Group</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Activity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_ISN_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>400-</stringValue>
            </defaultValue>
            <fieldText>Company ISN ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attendee_Initials</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>AB, CD</stringValue>
            </defaultValue>
            <fieldText>Attendee Initials</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Format</name>
            <choiceReferences>FormatValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Format</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <choiceReferences>N_A</choiceReferences>
            <choiceReferences>StateValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RAVS_Attendees</name>
            <choiceReferences>RAVSAttendees</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RAVS Attendees</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start</name>
            <dataType>DateTime</dataType>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>CountryValues</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End</name>
            <dataType>DateTime</dataType>
            <fieldText>End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>188</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meeting_Details</targetReference>
        </connector>
        <fields>
            <name>StartInformtion</name>
            <fieldText>&lt;p&gt;Click Next to enter a new IRM meeting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>188</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessInfo</name>
            <fieldText>&lt;p&gt;IRM meeting added successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
