force-app/main/default/flows/Add_Renewal_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_To_Cart</name>
        <label>Add To Cart</label>
        <locationX>656</locationX>
        <locationY>671</locationY>
        <actionName>CPQAddToQuoteAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Calculate_and_Save_Quote</targetReference>
        </connector>
        <inputParameters>
            <name>recalculateQuote</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>products</name>
            <value>
                <elementReference>productModels</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>cart</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>groupKey</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cart</assignToReference>
            <name>quote</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Calculate_and_Save_Quote</name>
        <label>Calculate and Save Quote</label>
        <locationX>364</locationX>
        <locationY>672</locationY>
        <actionName>CPQCalculateAndSaveQuoteAPI</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>quote</name>
            <value>
                <elementReference>cart</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Load_Cart</name>
        <label>Load Cart</label>
        <locationX>256</locationX>
        <locationY>149</locationY>
        <actionName>CPQLoadQuoteAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_Type</targetReference>
        </connector>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cart</assignToReference>
            <name>quote</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Load_Product_Model</name>
        <label>Load Product Model</label>
        <locationX>1160</locationX>
        <locationY>1008</locationY>
        <actionName>CPQLoadProductModel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Product_Model_to_List</targetReference>
        </connector>
        <inputParameters>
            <name>currencyCode</name>
            <value>
                <elementReference>currencyCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>currentProduct.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productQnt</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceBookId</name>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>productModel</assignToReference>
            <name>productModel</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Product_Model_to_List</name>
        <label>Add Product Model to List</label>
        <locationX>874</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>productModels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Products_to_Add_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Product_Code_List</name>
        <label>Add To Product Code List</label>
        <locationX>1174</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>productCodeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentMapping.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Product_Codes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Products</name>
        <label>Add Products?</label>
        <locationX>643</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Calculate_and_Save_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productsFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Cart</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Family_Found</name>
        <label>Product Family Found?</label>
        <locationX>866</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>Calculate_and_Save_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Family_For_Opty_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productFamily</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Products_By_Family</targetReference>
            </connector>
            <label>Product Family For Opty Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Should_Be_Added</name>
        <label>Product Should Be Added</label>
        <locationX>1152</locationX>
        <locationY>831</locationY>
        <defaultConnector>
            <targetReference>Find_Products_to_Add_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCodeList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentProduct.ProductCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Product_Model</targetReference>
            </connector>
            <label>Product Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Type</name>
        <label>Quote Type?</label>
        <locationX>421</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>Get_renewal_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewPurchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Products_to_Add</targetReference>
            </connector>
            <label>New Purchase</label>
        </rules>
    </decisions>
    <formulas>
        <name>New_Purchase</name>
        <dataType>Boolean</dataType>
        <expression>{!IsRenewal}&lt;&gt;true</expression>
    </formulas>
    <interviewLabel>Add Renewal Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Renewal Products</label>
    <loops>
        <name>Collect_Product_Codes</name>
        <label>Collect Product Codes</label>
        <locationX>887</locationX>
        <locationY>171</locationY>
        <assignNextValueToReference>currentMapping</assignNextValueToReference>
        <collectionReference>productCodeMappings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_To_Product_Code_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Product_Family</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Products_to_Add_Loop</name>
        <label>Find Products to Add</label>
        <locationX>873</locationX>
        <locationY>831</locationY>
        <assignNextValueToReference>currentProduct</assignNextValueToReference>
        <collectionReference>products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Should_Be_Added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Product_Family</name>
        <label>Find Product Family</label>
        <locationX>874</locationX>
        <locationY>333</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Family_Found</targetReference>
        </connector>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityType</elementReference>
            </value>
        </filters>
        <object>CPQ_Opty_Type_to_Prod_Family_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>productFamily</assignToReference>
            <field>Product_Family__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Products_to_Add</name>
        <label>Find Products to Add</label>
        <locationX>636</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Product_Codes</targetReference>
        </connector>
        <filters>
            <field>For_New_Purchase__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityType</elementReference>
            </value>
        </filters>
        <object>CPQ_Product_Mapping__mdt</object>
        <outputReference>productCodeMappings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <sortField>Product_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_renewal_products</name>
        <label>Get renewal products</label>
        <locationX>637</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Product_Codes</targetReference>
        </connector>
        <filters>
            <field>For_Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityType</elementReference>
            </value>
        </filters>
        <object>CPQ_Product_Mapping__mdt</object>
        <outputReference>productCodeMappings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <sortField>Product_Code__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Load_Products_By_Family</name>
        <label>Load Products By Family</label>
        <locationX>872</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Products_to_Add_Loop</targetReference>
        </connector>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productFamily</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <start>
        <locationX>111</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Load_Cart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentMapping</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CPQ_Product_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>currentProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>IsRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>opportunityType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01sL0000001A3ghIAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>productCodeList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productCodeMappings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CPQ_Product_Mapping__mdt</objectType>
    </variables>
    <variables>
        <name>productFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01tL0000007i7YZIAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>productModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productModels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
