force-app/main/default/flows/Add_OpX_Meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>opxCorporateHSEQ</name>
        <choiceText>OpX - Corporate HSEQ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpX - Corporate HSEQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>opxForce</name>
        <choiceText>OpX - FORCE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpX - FORCE</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpxPMO</name>
        <choiceText>OpX - PMO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpX - PMO</stringValue>
        </value>
    </choices>
    <choices>
        <name>opxQuality</name>
        <choiceText>OpX - Quality Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpX - Quality Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>opxRD</name>
        <choiceText>OpX - R&amp;D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpX - R&amp;D</stringValue>
        </value>
    </choices>
    <description>Add OpX Meeting - Defaults account</description>
    <dynamicChoiceSets>
        <name>CountryValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FormatValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Format__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StateValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State_Province__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Add OpX Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add OpX Meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OpX_Meeting</name>
        <label>Create OpX Meeting</label>
        <locationX>193</locationX>
        <locationY>287</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>00 - OpX Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendee_Initials__c</field>
            <value>
                <elementReference>Attendee_Initials</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Format__c</field>
            <value>
                <elementReference>FormatValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122T000000YNL5QAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shows_on_Weekly_Report__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_Province__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <stringValue>0013400001WvolAAAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>431</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorInfo</name>
            <fieldText>There as an error. Please contact SalesforceAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Meeting_Details</name>
        <label>Meeting Details</label>
        <locationX>191</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_OpX_Meeting</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Team</name>
            <choiceReferences>OpxPMO</choiceReferences>
            <choiceReferences>opxCorporateHSEQ</choiceReferences>
            <choiceReferences>opxForce</choiceReferences>
            <choiceReferences>opxQuality</choiceReferences>
            <choiceReferences>opxRD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attendee_Initials</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>AB, CD</stringValue>
            </defaultValue>
            <fieldText>Attendee Initials</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Format</name>
            <choiceReferences>FormatValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Format</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start</name>
            <dataType>DateTime</dataType>
            <fieldText>Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End</name>
            <dataType>DateTime</dataType>
            <fieldText>End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <choiceReferences>N_A</choiceReferences>
            <choiceReferences>StateValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>CountryValues</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>188</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Meeting_Details</targetReference>
        </connector>
        <fields>
            <name>StartInformtion</name>
            <fieldText>Click Next to enter an OpX meeting.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>188</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessInfo</name>
            <fieldText>OpX meeting added successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StartScreen</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
