force-app/main/default/flows/Add_Related_Sites_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignIdtoList</name>
        <label>assignIdtoList</label>
        <locationX>346</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>linkIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopLinkOpp.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>comma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLinks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToNewCollection</name>
        <label>assignToNewCollection</label>
        <locationX>345</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>newSites</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopChoices</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>linkExists</name>
        <label>linkExists</label>
        <locationX>343</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>insertSiteLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>linkIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>newSiteTest.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSelectedSites</targetReference>
            </connector>
            <label>YesExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>siteSelected</name>
        <label>siteSelected</label>
        <locationX>341</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>loopChoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available_Sites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopSite.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignToNewCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Presents user screen to select and add multiple sites to an opportunity based on related account</description>
    <dynamicChoiceSets>
        <name>dynamicChoiceRelatedSites</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Site__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>comma</name>
        <dataType>String</dataType>
        <expression>&#39;,&#39;</expression>
    </formulas>
    <interviewLabel>Add Related Sites to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Related Sites to Opportunity</label>
    <loops>
        <name>loopChoices</name>
        <label>loopChoices</label>
        <locationX>82</locationX>
        <locationY>316</locationY>
        <assignNextValueToReference>loopSite</assignNextValueToReference>
        <collectionReference>relatedSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>siteSelected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getRelatedSitetoOppLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopLinks</name>
        <label>loopLinks</label>
        <locationX>87</locationX>
        <locationY>613</locationY>
        <assignNextValueToReference>loopLinkOpp</assignNextValueToReference>
        <collectionReference>realtedLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignIdtoList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSelectedSites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedSites</name>
        <label>loopSelectedSites</label>
        <locationX>88</locationX>
        <locationY>762</locationY>
        <assignNextValueToReference>newSiteTest</assignNextValueToReference>
        <collectionReference>newSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>linkExists</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertSiteLink</name>
        <label>insertSiteLink</label>
        <locationX>344</locationX>
        <locationY>916</locationY>
        <connector>
            <targetReference>loopSelectedSites</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Functionality__c</field>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>newSiteTest.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Site_to_Additional_Functionality_Link__c</object>
    </recordCreates>
    <recordLookups>
        <name>getRelatedSites</name>
        <label>getRelatedSites</label>
        <locationX>78</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Sites</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>relatedSites</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getRelatedSitetoOppLinks</name>
        <label>getRelatedSitetoOppLinks</label>
        <locationX>86</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopLinks</targetReference>
        </connector>
        <filters>
            <field>Additional_Functionality__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppId</elementReference>
            </value>
        </filters>
        <object>Site_to_Additional_Functionality_Link__c</object>
        <outputReference>realtedLinks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Additional_Functionality__c</queriedFields>
        <queriedFields>Site__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Select_Sites</name>
        <label>Select Sites</label>
        <locationX>81</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loopChoices</targetReference>
        </connector>
        <fields>
            <name>Available_Sites</name>
            <choiceReferences>dynamicChoiceRelatedSites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Sites</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getRelatedSites</startElementReference>
    <status>Active</status>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>linkIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_to_Account_Link__c</objectType>
    </variables>
    <variables>
        <name>loopLinkOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site_to_Additional_Functionality_Link__c</objectType>
    </variables>
    <variables>
        <name>loopSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>newSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>newSiteTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>oppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>realtedLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_to_Additional_Functionality_Link__c</objectType>
    </variables>
    <variables>
        <name>relatedSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site__c</objectType>
    </variables>
</Flow>
