force-app/main/default/flows/Add_Time_Entry_Record_to_Assigned_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Reset_Last_Start_Date_Time</name>
        <label>Reset Last Start Date Time</label>
        <locationX>517</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>sobjectAssignedResource.Last_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Last_Start_Date_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Last_Start_Date_Time</name>
        <label>Set Last Start Date Time</label>
        <locationX>513</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>sobjectAssignedResource.Last_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Last_Start_Date_Time</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Is_Started_Condition</name>
        <label>Check for Is Started Condition</label>
        <locationX>268</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Started_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjectAssignedResource.Last_Start_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Entry_Notes</targetReference>
            </connector>
            <label>Is Started TRUE</label>
        </rules>
        <rules>
            <name>Is_Started_FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjectAssignedResource.Last_Start_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Start_Date_Time</targetReference>
            </connector>
            <label>Is Started FALSE</label>
        </rules>
    </decisions>
    <interviewLabel>Add Time Entry Record to Assigned Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Time Entry Record to Assigned Resource</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Time_Entry</name>
        <label>Create Time Entry</label>
        <locationX>273</locationX>
        <locationY>335</locationY>
        <assignRecordIdToReference>varTimeEntryId</assignRecordIdToReference>
        <connector>
            <targetReference>Reset_Last_Start_Date_Time</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Resource__c</field>
            <value>
                <elementReference>sobjectAssignedResource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>sobjectAssignedResource.Last_Start_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Entry__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Assigned_Resource_Record</name>
        <label>Lookup Assigned Resource Record</label>
        <locationX>62</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Is_Started_Condition</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varId</elementReference>
            </value>
        </filters>
        <object>Assigned_Resource__c</object>
        <outputReference>sobjectAssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Start_Date_Time__c</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Add_Last_Start_Date_Time</name>
        <label>Add Last Start Date Time</label>
        <locationX>745</locationX>
        <locationY>204</locationY>
        <inputReference>sobjectAssignedResource</inputReference>
    </recordUpdates>
    <screens>
        <name>Time_Entry_Notes</name>
        <label>Time Entry Notes</label>
        <locationX>271</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Time_Entry</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Assigned_Resource_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>sobjectAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assigned_Resource__c</objectType>
    </variables>
    <variables>
        <name>varAssignedToId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsStarted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
