force-app/main/default/flows/AddCertificateCredit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>checkForCurrentCertificate</name>
        <label>checkForCurrentCertificate</label>
        <locationX>532</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hasCertificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>certificate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createCertificateCredit</targetReference>
            </connector>
            <label>hasCertificate</label>
        </rules>
    </decisions>
    <description>If event is created for a contact that is a certified user, will create a certificate credit based on meeting criteria</description>
    <interviewLabel>AddCertificateCredit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddCertificateCredit</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCertificateCredit</name>
        <label>createCertificateCredit</label>
        <locationX>532</locationX>
        <locationY>386</locationY>
        <assignRecordIdToReference>certCreditId</assignRecordIdToReference>
        <inputAssignments>
            <field>Certificate__c</field>
            <value>
                <elementReference>certificate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Date__c</field>
            <value>
                <elementReference>triggeringEvent.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>certCreditType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>createdFromActivity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relatedEventActivityType__c</field>
            <value>
                <elementReference>triggeringEvent.Activity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relatedEventId__c</field>
            <value>
                <elementReference>triggeringEvent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relatedEventSubject__c</field>
            <value>
                <elementReference>triggeringEvent.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Certificate_Credit__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCertificates</name>
        <label>getCertificates</label>
        <locationX>531</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkForCurrentCertificate</targetReference>
        </connector>
        <filters>
            <field>Awarded_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringEvent.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <object>Certificate__c</object>
        <outputReference>certificate</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Expiration_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getTriggeringEvent</name>
        <label>getTriggeringEvent</label>
        <locationX>532</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCertificates</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>triggeringEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>Activity_Type__c</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
    </recordLookups>
    <startElementReference>getTriggeringEvent</startElementReference>
    <status>Draft</status>
    <variables>
        <name>awardedTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>certCreditId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>certCreditType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>certificate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Certificate__c</objectType>
    </variables>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>triggeringEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
