force-app/main/default/flows/Client_Dev_Key_Targets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignKeyTargetValuesFromScreen</name>
        <label>AssignKeyTargetValuesFromScreen</label>
        <locationX>90</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KeyTarget1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KT1Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KeyTarget2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KT2Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KeyTarget3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KT3Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KeyTarget4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KT4Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KeyTarget5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisKeyTarget.KT5Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>D5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastUpdateKeyTarget</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ClientDevTeams</name>
        <dataType>String</dataType>
        <displayField>Team__c</displayField>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Development</stringValue>
            </value>
        </filters>
        <object>Key_Target__c</object>
        <outputAssignments>
            <assignToReference>ktd1</assignToReference>
            <field>KT1Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ktd2</assignToReference>
            <field>KT2Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ktd3</assignToReference>
            <field>KT3Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ktd4</assignToReference>
            <field>KT4Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ktd5</assignToReference>
            <field>KT5Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>kt1</assignToReference>
            <field>KeyTarget1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>kt2</assignToReference>
            <field>KeyTarget2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>kt3</assignToReference>
            <field>KeyTarget3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>kt4</assignToReference>
            <field>KeyTarget4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>kt5</assignToReference>
            <field>KeyTarget5__c</field>
        </outputAssignments>
        <sortField>Team__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Client Dev Key Targets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Dev Key Targets</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>FastLookupKeyTarget</name>
        <label>FastLookupKeyTarget</label>
        <locationX>89</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team_Key_Targets</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Team</elementReference>
            </value>
        </filters>
        <object>Key_Target__c</object>
        <outputReference>thisKeyTarget</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KeyTarget1__c</queriedFields>
        <queriedFields>KT1Date__c</queriedFields>
        <queriedFields>KeyTarget2__c</queriedFields>
        <queriedFields>KT2Date__c</queriedFields>
        <queriedFields>KeyTarget3__c</queriedFields>
        <queriedFields>KT3Date__c</queriedFields>
        <queriedFields>KeyTarget4__c</queriedFields>
        <queriedFields>KT4Date__c</queriedFields>
        <queriedFields>KeyTarget5__c</queriedFields>
        <queriedFields>KT5Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FastUpdateKeyTarget</name>
        <label>FastUpdateKeyTarget</label>
        <locationX>96</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>thisKeyTarget</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>286</locationX>
        <locationY>460</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorInformation</name>
            <fieldText>Oops. There was an error. Email SalesforceAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectTeam</name>
        <label>Select Team</label>
        <locationX>89</locationX>
        <locationY>18</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FastLookupKeyTarget</targetReference>
        </connector>
        <fields>
            <name>Team</name>
            <choiceReferences>ClientDevTeams</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>95</locationX>
        <locationY>571</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessInfo</name>
            <fieldText>Key Target updated successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Team_Key_Targets</name>
        <label>Team Key Targets</label>
        <locationX>88</locationX>
        <locationY>241</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignKeyTargetValuesFromScreen</targetReference>
        </connector>
        <fields>
            <name>X1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KeyTarget1__c</elementReference>
            </defaultValue>
            <fieldText>Key Target 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KT1Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KeyTarget2__c</elementReference>
            </defaultValue>
            <fieldText>Key Target 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KT2Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KeyTarget3__c</elementReference>
            </defaultValue>
            <fieldText>Key Target 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D3</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KT3Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X4</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KeyTarget4__c</elementReference>
            </defaultValue>
            <fieldText>Key Target 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D4</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KT4Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>X5</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KeyTarget5__c</elementReference>
            </defaultValue>
            <fieldText>Key Target 5</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>D5</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>thisKeyTarget.KT5Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SelectTeam</startElementReference>
    <status>Active</status>
    <variables>
        <name>kt1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kt2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kt3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kt4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>kt5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ktd1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ktd2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ktd3</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ktd4</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ktd5</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisKeyTarget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Key_Target__c</objectType>
    </variables>
</Flow>
