force-app/main/default/flows/Clone_Question_Bank_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RunCloneQuestionBankUtility</name>
        <label>RunCloneQuestionBankUtility</label>
        <locationX>63</locationX>
        <locationY>357</locationY>
        <actionName>CloneQuestionBankUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputParameters>
            <name>existingQuestionBank</name>
            <value>
                <elementReference>existingQuestionBank</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>newQuestionBankId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <description>Flow runs from custom button and invokes the CloneQuestionBankUtility apex class</description>
    <interviewLabel>Clone Question Bank Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Question Bank Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>CreateQuestionBankList</name>
        <label>CreateQuestionBankList</label>
        <locationX>67</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Question_Bank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>questionBankId</elementReference>
            </value>
        </filters>
        <object>Question_Bank__c</object>
        <outputReference>existingQuestionBank</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Form__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Copy_Question_Bank</name>
        <label>Copy Question Bank</label>
        <locationX>69</locationX>
        <locationY>192</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Notes</targetReference>
        </connector>
        <fields>
            <name>CopyQuestionBankScreen</name>
            <fieldText>Use this flow to copy {!existingQuestionBank.Name} Question Bank, including all categories, questions and response options.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Notes</name>
        <label>Enter Notes</label>
        <locationX>291</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RunCloneQuestionBankUtility</targetReference>
        </connector>
        <fields>
            <name>Enter_Notes_Screen</name>
            <fieldText>Enter Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>64</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessfulCopy</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Question Bank has been copied successfully. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://isn.my.salesforce.com/{!newQuestionBankId}&quot; TARGET=&quot;_blank&quot;&gt;Go to question bank&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CreateQuestionBankList</startElementReference>
    <status>Active</status>
    <variables>
        <name>existingQuestionBank</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Question_Bank__c</objectType>
    </variables>
    <variables>
        <name>newQuestionBankId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>collection of new qustion bank ids</description>
        <name>newQuestionBankIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionBankId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
