force-app/main/default/flows/Conference_Planning_Checklist_Reminder_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Day_AFter</name>
        <label>Day After</label>
        <locationX>775</locationX>
        <locationY>454</locationY>
        <actionName>Conference__c.Conference_Planning_Checklist_Reminder_1_Day_After_End</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Day_After</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X2_Weeks_Prior</name>
        <label>2 Weeks Prior</label>
        <locationX>612</locationX>
        <locationY>127</locationY>
        <actionName>Conference__c.Conference_Planning_Checklist_Reminder_2_Weeks_Before_Start</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_2_Weeks_Prior</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X6_Weeks_Prior</name>
        <label>6 Weeks Prior</label>
        <locationX>441</locationX>
        <locationY>403</locationY>
        <actionName>Conference__c.Conference_Planning_Checklist_Reminder_6_Weeks_Before_Start</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Sent_6_Weeks_Prior</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Check_2_Weeks_Prior</name>
        <label>Check 2 Weeks Prior</label>
        <locationX>816</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>Sent2WeeksBefore</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Day_After</name>
        <label>Check Day After</label>
        <locationX>887</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>Send1DayAfterEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sent_6_Weeks_Prior</name>
        <label>Check 6 Weeks Prior</label>
        <locationX>285</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>Sent6WeeksBefore</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <description>If reminder emails are selected for Conference Planning, this flow sends at the intervals created by Conference Planning Team Leads</description>
    <interviewLabel>Conference Planning Checklist Reminder Emails for {!theConference.Name} {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conference Planning Checklist Reminder Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conference_Details</name>
        <label>Get Conference Details</label>
        <locationX>180</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </filters>
        <object>Conference__c</object>
        <outputReference>theConference</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ISN_Lead_Contact__c</queriedFields>
        <queriedFields>ISN_Lead_Contact_Supervisor__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Conference_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>ConferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventDeliveryStatusText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Send1DayAfterEnd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent1DayBeforeEnd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent1WeekBefore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent2WeeksBefore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent3DaysBefore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent4WeeksBefore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent6WeeksBefore</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent6WeeksPrior</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>theConference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Conference__c</objectType>
    </variables>
    <waits>
        <name>Email_Coordinator</name>
        <label>Email Coordinator</label>
        <locationX>543</locationX>
        <locationY>293</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X1_Day_After_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent6WeeksBefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2WeeksBefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Send1DayAfterEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_AFter</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>1 Day After End</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X2_Weeks_Prior_to_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent6WeeksBefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2WeeksBefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Weeks_Prior</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-14.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>2 Weeks Prior to Start</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X6_Weeks_Prior_to_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent6WeeksBefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6_Weeks_Prior</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-49.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>6 Weeks Prior to Start</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
