force-app/main/default/flows/Contact_Flow_Assign_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>searchHCProspect</name>
        <label>searchHCProspect</label>
        <locationX>376</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>searchRTText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hiring Client Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>searchHCSubscriber</name>
        <label>searchHCSubscriber</label>
        <locationX>367</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>searchRTText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hiring Client Subscriber</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>searchNonEmployee</name>
        <label>searchNonEmployee</label>
        <locationX>379</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>searchRTText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Employee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>searchOthersExceptOther</name>
        <label>searchOthersExceptOther</label>
        <locationX>379</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>searchRTText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>conAccountRecordTypeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>searchPSOnly</name>
        <label>searchPSOnly</label>
        <locationX>378</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>searchRTText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionContactRecordType</name>
        <label>decisionContactRecordType</label>
        <locationX>58</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>isPSOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conIsPSOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>searchPSOnly</targetReference>
            </connector>
            <label>isPSOnly</label>
        </rules>
        <rules>
            <name>isNon_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conIsNonEmployee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>searchNonEmployee</targetReference>
            </connector>
            <label>isNon-Employee</label>
        </rules>
        <rules>
            <name>isProspect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conIsProspect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hiring Client Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conAccountRecordTypeName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hiring Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>searchHCProspect</targetReference>
            </connector>
            <label>isProspect</label>
        </rules>
        <rules>
            <name>isHCSubscriber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conIsProspect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hiring Client Subscriber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>conAccountRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiring Client Subscriber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>searchHCSubscriber</targetReference>
            </connector>
            <label>isHCSubscriber</label>
        </rules>
        <rules>
            <name>All_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>conRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>conAccountRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>searchOthersExceptOther</targetReference>
            </connector>
            <label>All Others</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Flow - Assign Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Flow - Assign Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1099</locationX>
        <locationY>292</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>newContactRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>decisionContactRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetContactRecordType</name>
        <label>GetContactRecordType</label>
        <locationX>936</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <flowName>Get_Record_Type_Id</flowName>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <elementReference>searchRTText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newContactRecordType</assignToReference>
            <name>recordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>conAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conAccountRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conIsNonEmployee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conIsProspect</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conIsPSOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>conSiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>searchRTText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
