force-app/main/default/flows/Contact_Missing_Account_Search_for_Account_By_Domain.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manually_Check_Contact_for_Account</name>
        <label>Manually Check Contact for Account</label>
        <locationX>113</locationX>
        <locationY>558</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Manually Check Contact for Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesforceadmin@isn.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforcenoreply@isn.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Check contact with Id {!var_ContactId} for account matches.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_var_AccountId</name>
        <label>Assign var_AccountId</label>
        <locationX>966</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObject_Variable_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts_for_AccountId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_var_AccountId_Empty</name>
        <label>Is var_AccountId Empty</label>
        <locationX>817</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Manually_Check_Contact_for_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_var_AccountId</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
        <rules>
            <name>Is_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SObject_Variable_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contacts_for_AccountId</targetReference>
            </connector>
            <label>Is Match</label>
        </rules>
        <rules>
            <name>Not_a_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SObject_Variable_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manually_Check_Contact_for_Account</targetReference>
            </connector>
            <label>Not a Match</label>
        </rules>
    </decisions>
    <description>Searches all contacts by email domain. If matches are found belonging to one account, updates the contact. It no match or multiple, emails Admin for follow up.</description>
    <interviewLabel>Contact Missing Account - Search for Account By Domain {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Missing Account - Search for Account By Domain</label>
    <loops>
        <name>Loop_Through_Contacts_for_AccountId</name>
        <label>Loop Through Contacts for AccountId</label>
        <locationX>62</locationX>
        <locationY>301</locationY>
        <assignNextValueToReference>SObject_Variable_Contact</assignNextValueToReference>
        <collectionReference>SObject_Collection_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_var_AccountId_Empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_with_AccountId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fast_Lookup_Contacts_by_Email_Domain</name>
        <label>Fast Lookup Contacts by Email Domain</label>
        <locationX>180</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts_for_AccountId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Manually_Check_Contact_for_Account</targetReference>
        </faultConnector>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EmailDomain</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SObject_Collection_Contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_Domain__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_AccountId</name>
        <label>Update Contact with AccountId</label>
        <locationX>1125</locationX>
        <locationY>119</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fast_Lookup_Contacts_by_Email_Domain</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SObject_Collection_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SObject_Variable_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sObjectCollectionContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_EmailDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
