force-app/main/default/flows/Country_Contact_Center.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Assign contact center to the account record variable</description>
        <name>Assign_Contact_Center</name>
        <label>Assign Contact Center</label>
        <locationX>1026</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Contact_Center.Contact_Center__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assigned_Default_Contact_Center</name>
        <label>Assigned Default Contact Center</label>
        <locationX>514</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Center__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dallas</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If the physical country is null, use the billing country instead</description>
        <name>Search_on_Billing_Country</name>
        <label>Search on Billing Country</label>
        <locationX>463</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>searchCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Country_Contact_Center</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Search_on_Physical_Country</name>
        <label>Search on Physical Country</label>
        <locationX>460</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>searchCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Country_Contact_Center</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Country</name>
        <label>Found Country</label>
        <locationX>793</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Assigned_Default_Contact_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Country_Contact_Center</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Center</targetReference>
            </connector>
            <label>Country Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was the physical or billing country added on the account or change recently?</description>
        <name>Physical_Billing_country_changed_or_added</name>
        <label>Physical/Billing country changed or added?</label>
        <locationX>247</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>Assigned_Default_Contact_Center</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assign Default Contact Center</defaultConnectorLabel>
        <rules>
            <name>Contact_Center_Missing_use_Physical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_on_Physical_Country</targetReference>
            </connector>
            <label>Contact Center Missing, use Physical</label>
        </rules>
        <rules>
            <name>Contact_Center_Missing_use_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_on_Billing_Country</targetReference>
            </connector>
            <label>Contact Center Missing, use Billing</label>
        </rules>
        <rules>
            <name>Contact_Center_Not_Null_Leave_Alone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Center Not Null, Leave Alone</label>
        </rules>
    </decisions>
    <interviewLabel>Country Contact Center {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Country Contact Center</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the contact center of the respective country</description>
        <name>Get_Country_Contact_Center</name>
        <label>Get Country Contact Center</label>
        <locationX>609</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Country</targetReference>
        </connector>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>searchCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPQ_Country_to_Region_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Physical_Billing_country_changed_or_added</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>searchCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
