force-app/main/default/flows/CPQ_UI_CMD_Create_Order_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Compute_Redirect_URL</name>
        <label>Compute Redirect URL</label>
        <locationX>365</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>Output_Value1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RedirectUrl</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Available_Mode</name>
        <label>Is Exec Mode?</label>
        <locationX>355</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Compute_Redirect_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mode_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Value2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>exec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Quote</targetReference>
            </connector>
            <label>Is Exec Mode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Presented</name>
        <label>Is Status Presented?</label>
        <locationX>355</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Presented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presented</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Available_Mode</targetReference>
            </connector>
            <label>Status is Presented</label>
        </rules>
    </decisions>
    <formulas>
        <name>RedirectUrl</name>
        <dataType>String</dataType>
        <expression>{!$Setup.CPQCommunityInformation__c.Community_URL__c} &amp; &#39;/epayments/s/payment-confirm&#39;</expression>
    </formulas>
    <interviewLabel>Create_Order_and_Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order and Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>796</locationX>
        <locationY>480</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_pending</targetReference>
        </connector>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Value1</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Load_Quote</name>
        <label>Load Quote</label>
        <locationX>208</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_Presented</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Value1</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>quote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Status__c</queriedFields>
        <queriedFields>SBQQ__Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Accept_Quote</name>
        <label>Accept Quote</label>
        <locationX>625</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Value1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>804</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Value1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_pending</name>
        <label>Update Order pending</label>
        <locationX>659</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Compute_Redirect_URL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPQ_OrderPending__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Load_Quote</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Generic name to source Quote ID</description>
        <name>Input_Value1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Mode of the flow.  Possible values are
   available - this is the check to see if the command is available for execution.
   exec - this is the normal execution of the command.</description>
        <name>Input_Value2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>Return URL after success ordered</description>
        <name>Output_Value1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
