force-app/main/default/flows/CPQ_UI_CMD_Delete_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Compute_Redirect_Url</name>
        <label>Compute Redirect Url</label>
        <locationX>712</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>Output_Value1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RedirectUrl</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>is_Exec_Mode</name>
        <label>is Exec Mode?</label>
        <locationX>344</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Compute_Redirect_Url</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exec_Mode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Value2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>exec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Quote</targetReference>
            </connector>
            <label>Exec Mode</label>
        </rules>
    </decisions>
    <formulas>
        <name>RedirectUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_340})) &amp; &#39;lightning/r/Opportunity/&#39; &amp; {!Oppty_Id} &amp; &#39;/view&#39;</expression>
    </formulas>
    <interviewLabel>UI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Quote</name>
        <label>Delete Quote</label>
        <locationX>710</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Compute_Redirect_Url</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Value1</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
    </recordDeletes>
    <recordLookups>
        <name>GetOppty</name>
        <label>GetOppty</label>
        <locationX>216</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Exec_Mode</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Value1</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>Oppty_Id</assignToReference>
            <field>SBQQ__Opportunity2__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>GetOppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_Value1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Value2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppty_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_Value1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
