force-app/main/default/flows/CPQUpdate_Account_ISN_Tax_Subsidiary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_ISN_Tax_sub_available</name>
        <label>Is ISN Tax sub available</label>
        <locationX>506</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISN_Tax_Subsidiary_Name_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISN_Tax_Subsidiary_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ISN_Tax_Subsidiary_Id</targetReference>
            </connector>
            <label>ISN Tax Subsidiary Name Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ISN_Tax_Subsidiary_Id_available</name>
        <label>Is ISN Tax Subsidiary Id available</label>
        <locationX>351</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISN_Tax_Subsidiary_Id_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISN_Tax_Subsidiary_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_ISN_Tax_Subsidiary</targetReference>
            </connector>
            <label>ISN Tax Subsidiary Id not null</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account ISN Tax Subsidiary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account ISN Tax Subsidiary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ISN_Tax_Subsidiary_Id</name>
        <label>Get ISN Tax Subsidiary Id</label>
        <locationX>514</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ISN_Tax_Subsidiary_Id_available</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ISN_Tax_Subsidiary_Name</elementReference>
            </value>
        </filters>
        <object>ISN_Tax_Subsidiary__c</object>
        <outputAssignments>
            <assignToReference>ISN_Tax_Subsidiary_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ISN_Tax_Subsidiary_Name</name>
        <label>Get ISN Tax Subsidiary Name</label>
        <locationX>260</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ISN_Tax_sub_available</targetReference>
        </connector>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>countryName</elementReference>
            </value>
        </filters>
        <object>CPQ_Country_to_Region_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>ISN_Tax_Subsidiary_Name</assignToReference>
            <field>ISN_Tax_Subsidiary_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_ISN_Tax_Subsidiary</name>
        <label>Update Account ISN Tax Subsidiary</label>
        <locationX>56</locationX>
        <locationY>327</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ISN_Tax_Subsidiary__c</field>
            <value>
                <elementReference>ISN_Tax_Subsidiary_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ISN_Tax_Subsidiary_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISN_Tax_Subsidiary_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ISN_Tax_Subsidiary_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
