force-app/main/default/flows/Create_Follow_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>decision_FoundEntitySubscription</name>
        <label>decision_FoundEntitySubscription</label>
        <locationX>412</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FoundEntitySubscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createRecord_EntitySubscription</targetReference>
            </connector>
            <label>Record Does Not Exist</label>
        </rules>
    </decisions>
    <description>Creates a Chatter Follow record (Entity Subscription API Name) by passing in SubscriberId and ParentId from Process Builder</description>
    <interviewLabel>Create Follow Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Follow Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Chatter Follow record for a user. Called from Process Builder.</description>
        <name>createRecord_EntitySubscription</name>
        <label>createRecord_EntitySubscription</label>
        <locationX>674</locationX>
        <locationY>49</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>SubscriberId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
    </recordCreates>
    <recordLookups>
        <name>getRecord_CheckForExistingEntitySubscription</name>
        <label>getRecord_CheckForExistingEntitySubscription</label>
        <locationX>224</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_FoundEntitySubscription</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubscriberId</elementReference>
            </value>
        </filters>
        <object>EntitySubscription</object>
        <outputReference>FoundEntitySubscription</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>getRecord_CheckForExistingEntitySubscription</startElementReference>
    <status>Active</status>
    <variables>
        <name>EntitySubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FoundEntitySubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
