force-app/main/default/flows/Create_Meeting_Plan_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignedAccountBasedFields</name>
        <label>AssignedAccountBasedFields</label>
        <locationX>716</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>NewAccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000QFZTAA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Selling_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Prospect_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Primary_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.CompetitorAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Agreement_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Overlap_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Contractor_Overlap_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Contractors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Potential_Number_of_Contractors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Non_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Potential_Net_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Biggest_Challenge_w_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Biggest_Challenges_with_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastCreateMeetingPlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignedOpptyBasedFields</name>
        <label>AssignedOpptyBasedFields</label>
        <locationX>871</locationX>
        <locationY>401</locationY>
        <assignmentItems>
            <assignToReference>NewAccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000QFZTAA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Selling_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Prospect_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Primary_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.CompetitorAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Agreement_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Overlap_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Date_of_Last_Contractor_Overlap__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Contractors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Number_of_Contractors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Non_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Number_of_Non_Subscriber_Contractors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Biggest_Challenge_w_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Biggest_Challenges_with_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastCreateMeetingPlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignThisEventMeetingPlanId</name>
        <label>AssignThisEventMeetingPlanId</label>
        <locationX>568</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>ThisEvent.Meeting_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastUpdateThisEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_tied_to_Oppty</name>
        <label>Event tied to Oppty?</label>
        <locationX>705</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>AssignedAccountBasedFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisEvent.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meeting_Plan_Exists</name>
        <label>Meeting Plan Exists?</label>
        <locationX>331</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>FastLookupAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisEvent.Meeting_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create Meeting Plan (Auto) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Meeting Plan (Auto)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>FastCreateMeetingPlan</name>
        <label>FastCreateMeetingPlan</label>
        <locationX>718</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>AssignThisEventMeetingPlanId</targetReference>
        </connector>
        <inputReference>NewAccountSummary</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FastLookupAccount</name>
        <label>FastLookupAccount</label>
        <locationX>527</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_tied_to_Oppty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisEvent.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ThisAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Prospect_Status__c</queriedFields>
        <queriedFields>CompetitorAccount__c</queriedFields>
        <queriedFields>Competitor_Renewal_Date__c</queriedFields>
        <queriedFields>Competitor_Notes__c</queriedFields>
        <queriedFields>Contractor_Overlap_Complete__c</queriedFields>
        <queriedFields>Potential_Number_of_Contractors__c</queriedFields>
        <queriedFields>Potential_Net_New__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Biggest_Challenges_with_Account__c</queriedFields>
        <queriedFields>Buying_Process__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupEvent</name>
        <label>FastLookupEvent</label>
        <locationX>178</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meeting_Plan_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>ThisEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Meeting_Plan__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupOpportunity</name>
        <label>FastLookupOpportunity</label>
        <locationX>867</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignedOpptyBasedFields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisEvent.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ThisOpportunityFromWhatId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_of_Contractors__c</queriedFields>
        <queriedFields>Number_of_Non_Subscriber_Contractors__c</queriedFields>
        <queriedFields>Date_of_Last_Contractor_Overlap__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FastUpdateThisEvent</name>
        <label>FastUpdateThisEvent</label>
        <locationX>398</locationX>
        <locationY>408</locationY>
        <inputReference>ThisEvent</inputReference>
    </recordUpdates>
    <startElementReference>FastLookupEvent</startElementReference>
    <status>Active</status>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAccountSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
    <variables>
        <name>ThisAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ThisEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>ThisOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity__c</objectType>
    </variables>
    <variables>
        <name>ThisOpportunityFromWhatId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
