force-app/main/default/flows/Create_New_Contractor_Letter_Oppty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 30</expression>
    </formulas>
    <interviewLabel>Create New Contractor Letter Oppty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Contractor Letter Oppty</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContractorLetterOppty</name>
        <label>CreateContractorLetterOppty</label>
        <locationX>947</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>NewOpptyId</assignRecordIdToReference>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>NewClientOppty.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Initial_Letter_Date_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Client Initial Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contractors__c</field>
            <value>
                <elementReference>NewClientOppty.Number_of_Contractors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Non_Subscriber_Contractors__c</field>
            <value>
                <elementReference>NewClientOppty.Number_of_Non_Subscriber_Contractors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>05 - Pending Initial Letters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Region__c</field>
            <value>
                <elementReference>NewClientOppty.Subscription_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Client Initial Implementation</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>GetNewClientOppty</name>
        <label>GetNewClientOppty</label>
        <locationX>564</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>NewClientOppty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Number_of_Contractors__c</queriedFields>
        <queriedFields>Number_of_Non_Subscriber_Contractors__c</queriedFields>
        <queriedFields>Verticals__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Subscription_Region__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_New_Letter_Oppty_Info</name>
        <label>Create New Letter Oppty</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_New_Contractor_Letter_Oppty_Info</targetReference>
        </connector>
        <fields>
            <name>WhyToUse</name>
            <fieldText>Use this action to create a new Contractor Letter Opportunity from a New Client Opportunity when letters are sent BEFORE we get payment for the New Client.

**If we get payment and close this opportunity, a Contractor Letter Opportunity will be automatically created. Do not proceed with this action if you will get payment before sending letters.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_New_Contractor_Letter_Oppty_Info</name>
        <label>Enter New Contractor Letter Oppty Info</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetNewClientOppty</targetReference>
        </connector>
        <fields>
            <name>Initial_Letter_Date_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CloseDate</elementReference>
            </defaultValue>
            <fieldText>Initial Letter Date (Close Date)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>946</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FailureText</name>
            <fieldText>There was an issue. Please contact SalesforceAdmin@isn.com if you continue to get an error.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1122</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>New Opportunity Created for Letters.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_New_Letter_Oppty_Info</startElementReference>
    <status>Active</status>
    <subflows>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>751</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CreateContractorLetterOppty</targetReference>
        </connector>
        <flowName>Get_Record_Type_Id</flowName>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <stringValue>ISNetworld - Contractor Letters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <name>recordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>NewClientOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewContractorLetterOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
