force-app/main/default/flows/Create_Badge_from_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>AnnualNull</name>
        <label>AnnualNull</label>
        <locationX>970</locationX>
        <locationY>429</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AnnualIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>annaulBadges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newBadge</targetReference>
            </connector>
            <label>AnnualIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>badgeCheckBadedonAwardPeriod</name>
        <label>badgeCheckBadedonAwardPeriod</label>
        <locationX>533</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>newBadge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedBadgeTrack.Eligible_Time_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OneTimeBadgesLookup</targetReference>
            </connector>
            <label>OneTime</label>
        </rules>
        <rules>
            <name>Annual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedBadgeTrack.Eligible_Time_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnnualBadgesLookup</targetReference>
            </connector>
            <label>Annual</label>
        </rules>
        <rules>
            <name>Quarterly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedBadgeTrack.Eligible_Time_Period__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newBadge</targetReference>
            </connector>
            <label>Quarterly</label>
        </rules>
    </decisions>
    <decisions>
        <name>badgesExistforEnrollment</name>
        <label>badgesExistforEnrollment</label>
        <locationX>528</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>noBadgesonEnrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enrollmentRelatedBadges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>badgeCheckBadedonAwardPeriod</targetReference>
            </connector>
            <label>noBadgesonEnrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIdBadgeTrackNull</name>
        <label>checkIdBadgeTrackNull</label>
        <locationX>918</locationX>
        <locationY>37</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedBadgeTrack</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIfBadgeisAutoAwarded</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfBadgeisAutoAwarded</name>
        <label>checkIfBadgeisAutoAwarded</label>
        <locationX>65</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>statusOnly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>relatedCourse.Badge_Awarded_Based_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statusOnlyComplete</targetReference>
            </connector>
            <label>statusOnly</label>
        </rules>
        <rules>
            <name>statusAndScore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedCourse.Badge_Awarded_Based_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Status &amp; Score</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkIfStatusAndScorePass</targetReference>
            </connector>
            <label>statusAndScore</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIfStatusAndScorePass</name>
        <label>checkIfStatusAndScorePass</label>
        <locationX>335</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>statusAndScoreSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisEnrollment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisEnrollment.Score_Percent__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>relatedClass.Passing_Score__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>badgesOnEnrollment</targetReference>
            </connector>
            <label>statusAndScoreSuccessful</label>
        </rules>
    </decisions>
    <decisions>
        <name>OntTimeNull</name>
        <label>OntTimeNull</label>
        <locationX>973</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OneTimeIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oneTimeBadges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>newBadge</targetReference>
            </connector>
            <label>OneTimeIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>statusOnlyComplete</name>
        <label>statusOnlyComplete?</label>
        <locationX>62</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>thisEnrollment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>badgesOnEnrollment</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <description>Creates a new badge if an enrollment is successful based on course criteria</description>
    <formulas>
        <name>ThisYearJan1</name>
        <dataType>Date</dataType>
        <expression>Date(YEar({!$Flow.CurrentDate}),1,1)</expression>
    </formulas>
    <interviewLabel>Create Badge from Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Badge from Enrollment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>newBadge</name>
        <label>newBadge</label>
        <locationX>1377</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>newBadgeId</assignRecordIdToReference>
        <inputAssignments>
            <field>Awarded_To__c</field>
            <value>
                <elementReference>thisEnrollment.Student_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Badge_Level__c</field>
            <value>
                <elementReference>relatedCourse.Course_Badge_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Badge_Track__c</field>
            <value>
                <elementReference>relatedCourse.Badge_Track__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Class__c</field>
            <value>
                <elementReference>thisEnrollment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Awarded__c</field>
            <value>
                <elementReference>thisEnrollment.Class_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Badge__c</object>
    </recordCreates>
    <recordLookups>
        <name>AnnualBadgesLookup</name>
        <label>AnnualBadgesLookup</label>
        <locationX>769</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AnnualNull</targetReference>
        </connector>
        <filters>
            <field>Awarded_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisEnrollment.Student_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Badge_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedCourse.Course_Badge_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Badge_Track__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedBadgeTrack.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Awarded__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ThisYearJan1</elementReference>
            </value>
        </filters>
        <object>Badge__c</object>
        <outputReference>annaulBadges</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>badgesOnEnrollment</name>
        <label>badgesOnEnrollment</label>
        <locationX>337</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>badgesExistforEnrollment</targetReference>
        </connector>
        <filters>
            <field>Awarded_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisEnrollment.Student_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Completed_Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisEnrollment.Id</elementReference>
            </value>
        </filters>
        <object>Badge__c</object>
        <outputReference>enrollmentRelatedBadges</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRelatedBadgeTrack</name>
        <label>getRelatedBadgeTrack</label>
        <locationX>698</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIdBadgeTrackNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedCourse.Badge_Track__c</elementReference>
            </value>
        </filters>
        <object>Badge_Track__c</object>
        <outputReference>relatedBadgeTrack</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Level_1_Badge_Name__c</queriedFields>
        <queriedFields>Level_2_Badge_Name__c</queriedFields>
        <queriedFields>Level_3_Badge_Name__c</queriedFields>
        <queriedFields>Eligible_Time_Period__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRelatedClass</name>
        <label>getRelatedClass</label>
        <locationX>242</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedCourse</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisEnrollment.Course__c</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <outputReference>relatedClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Passing_Score__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRelatedCourse</name>
        <label>getRelatedCourse</label>
        <locationX>456</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedBadgeTrack</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedClass.Course__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>relatedCourse</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Badge_Awarded_Based_on__c</queriedFields>
        <queriedFields>Badge_Track__c</queriedFields>
        <queriedFields>Course_Badge_Level__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>OneTimeBadgesLookup</name>
        <label>OneTimeBadgesLookup</label>
        <locationX>773</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OntTimeNull</targetReference>
        </connector>
        <filters>
            <field>Awarded_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisEnrollment.Student_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Badge_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedCourse.Course_Badge_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Badge_Track__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedBadgeTrack.Id</elementReference>
            </value>
        </filters>
        <object>Badge__c</object>
        <outputReference>oneTimeBadges</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>startingEnrollment</name>
        <label>startingEnrollment</label>
        <locationX>52</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedClass</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eId</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputReference>thisEnrollment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Student_Name__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Class_Date__c</queriedFields>
        <queriedFields>Score_Percent__c</queriedFields>
        <queriedFields>Supervisor_Email__c</queriedFields>
        <queriedFields>RelatedCourse__c</queriedFields>
    </recordLookups>
    <startElementReference>startingEnrollment</startElementReference>
    <status>Active</status>
    <variables>
        <name>annaulBadges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Badge__c</objectType>
    </variables>
    <variables>
        <name>eId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>enrollmentRelatedBadges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Badge__c</objectType>
    </variables>
    <variables>
        <name>newBadgeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oneTimeBadges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Badge__c</objectType>
    </variables>
    <variables>
        <name>relatedBadgeTrack</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Badge_Track__c</objectType>
    </variables>
    <variables>
        <name>relatedClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>relatedCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>thisEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
</Flow>
