force-app/main/default/flows/Create_Subscription_Oppty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>setStageCeOpen</name>
        <label>setStageCeOpen</label>
        <locationX>1099</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>stageCe</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCeOppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStagePendingHC</name>
        <label>setStagePendingHC</label>
        <locationX>1331</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>stageCe</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Subscription Follow Up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subStageCe</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Client Feedback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCeOppty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCO</name>
        <choiceText>Contractor Operator Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Operator Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceContractorSubscription</name>
        <choiceText>Contractor Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contractor Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceHCE</name>
        <choiceText>Hiring Client Employer Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hiring Client Employer Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceHiringClientSubscription</name>
        <choiceText>Hiring Client Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hiring Client Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePendingClientFeedback</name>
        <choiceText>Pending Client Feedback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Client Feedback</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStageOpen</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceStagePendingClient</name>
        <choiceText>Pending Client Feedback</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending Client Feedback</stringValue>
        </value>
    </choices>
    <decisions>
        <name>isHcCe</name>
        <label>isHcCe?</label>
        <locationX>302</locationX>
        <locationY>175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hiring_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecords.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hiring Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectHcOpptyType</targetReference>
            </connector>
            <label>Hiring Client</label>
        </rules>
        <rules>
            <name>Contractor_Operator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecords.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor Operator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectCoOpptyType</targetReference>
            </connector>
            <label>Contractor Operator</label>
        </rules>
        <rules>
            <name>ContractorAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecords.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectCeOpptyType</targetReference>
            </connector>
            <label>Contractor</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPendingClient</name>
        <label>isPendingClient?</label>
        <locationX>854</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>setStageCeOpen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>PendingClientFeedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StageCeScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceStagePendingClient</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CeOpptyFeedback</targetReference>
            </connector>
            <label>PendingClientFeedback</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if get records found an oppty of the same type</description>
        <name>opptyExist</name>
        <label>opptyExist?</label>
        <locationX>240</locationX>
        <locationY>607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opptyNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedOppties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opptyExists</targetReference>
            </connector>
            <label>opptyNotNull</label>
        </rules>
        <rules>
            <name>opptyNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedOppties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpptyRecordTypeId</targetReference>
            </connector>
            <label>opptyNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines Opportunity Type to show correct fields on following screens.</description>
        <name>opptyType</name>
        <label>opptyType</label>
        <locationX>626</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>populateHcOppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hiring Client</defaultConnectorLabel>
        <rules>
            <name>Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Opportunity_Type_Ce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceContractorSubscription</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populateCeOppty</targetReference>
            </connector>
            <label>Contractor</label>
        </rules>
        <rules>
            <name>HCE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Opportunity_Type_Hc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceHCE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populateHceOppty</targetReference>
            </connector>
            <label>HCE</label>
        </rules>
        <rules>
            <name>Contractor_Operator_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Opportunity_Type_Co</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>populateCoOppty</targetReference>
            </connector>
            <label>Contractor Operator</label>
        </rules>
    </decisions>
    <decisions>
        <name>reasonDetailsReq</name>
        <label>reasonDetailsReq?</label>
        <locationX>976</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>setStagePendingHC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>reportingAnotherAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reasonNotSub</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reporting in another account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnotherAccountDetails</targetReference>
            </connector>
            <label>reportingAnotherAccount</label>
        </rules>
    </decisions>
    <description>Screenflow to create a subscription opportunity - Flow checks to see if there is an open opportunity of the same type and prevents the user from entering if so.</description>
    <dynamicChoiceSets>
        <name>choiceReasonDetails</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_Details__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceReasonNotSub</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Not_Subscribing__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceVerticals</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Verticals__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>closeDateCe</name>
        <dataType>Date</dataType>
        <expression>today() + 60</expression>
    </formulas>
    <formulas>
        <name>closeDateHc</name>
        <dataType>Date</dataType>
        <expression>case(month(today()),
1, addmonths(date(year(today()), 03,31),12),
2, addmonths(date(year(today()), 03,31),12),
3, addmonths(date(year(today()), 03,31),12),
4, addmonths(date(year(today()), 06,30),12),
5, addmonths(date(year(today()), 06,30),12),
6, addmonths(date(year(today()), 06,30),12),
7, addmonths(date(year(today()), 09,30),12),
8, addmonths(date(year(today()), 09,30),12),
9, addmonths(date(year(today()), 09,30),12),
10, addmonths(date(year(today()), 12,31),12),
11, addmonths(date(year(today()), 12,31),12),
12, addmonths(date(year(today()), 12,31),12),
null)</expression>
    </formulas>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>defaultHceName</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!getAccountRecords.Short_Name__c},{!getAccountRecords.Name}) &amp; &#39; - HCE Subscription&#39;</expression>
    </formulas>
    <formulas>
        <name>defaultNameCe</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!getAccountRecords.Short_Name__c},{!getAccountRecords.Name}) &amp; &#39; - CE Subscription &#39; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>defaultNameHc</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!getAccountRecords.Short_Name__c},{!getAccountRecords.Name}) &amp; &#39; - New Client&#39;</expression>
    </formulas>
    <formulas>
        <name>formulaOpptyRecordType</name>
        <dataType>String</dataType>
        <expression>IF({!Select_Opportunity_Type_Ce}=&#39;Contractor Subscription&#39;,&#39;Contractor Subscription&#39;,
IF({!Select_Opportunity_Type_Hc}=&#39;Hiring Client Employer Subscription&#39;,&#39;Hiring Client Employer Subscription&#39;,
IF({!Select_Opportunity_Type_Hc}=&#39;Hiring Client Subscription&#39;,&#39;Hiring Client Subscription&#39;,
IF({!Select_Opportunity_Type_Co}=&#39;Contractor Operator Subscription&#39;,&#39;Hiring Client Subscription&#39;,Null))))</expression>
    </formulas>
    <formulas>
        <name>formulaOpptyType</name>
        <dataType>String</dataType>
        <expression>IF({!Select_Opportunity_Type_Ce}=&#39;Contractor Subscription&#39;,&#39;Contractor Subscription&#39;,
IF({!Select_Opportunity_Type_Hc}=&#39;Hiring Client Employer Subscription&#39;,&#39;Hiring Client Employer Subscription&#39;,
IF({!Select_Opportunity_Type_Hc}=&#39;Hiring Client Subscription&#39;,&#39;Hiring Client Subscription&#39;,
IF({!Select_Opportunity_Type_Co}=&#39;Contractor Operator Subscription&#39;,&#39;Contractor Operator Subscription&#39;,Null))))</expression>
    </formulas>
    <formulas>
        <name>renewalCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(
ISBLANK({!contractId}),
FALSE,
TRUE
)</expression>
    </formulas>
    <interviewLabel>Create Subscription Oppty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Subscription Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCeOppty</name>
        <label>createCeOppty</label>
        <locationX>1520</locationX>
        <locationY>55</locationY>
        <assignRecordIdToReference>newOppty</assignRecordIdToReference>
        <connector>
            <targetReference>successScreenCe</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Reporting_In__c</field>
            <value>
                <elementReference>reportingAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeDateCe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Due_Date__c</field>
            <value>
                <elementReference>invoiceDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Contact__c</field>
            <value>
                <elementReference>mainContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opptyNameCe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Details__c</field>
            <value>
                <elementReference>reasonDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Not_Subscribing__c</field>
            <value>
                <elementReference>reasonNotSub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>opptyRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Renewal__c</field>
            <value>
                <elementReference>renewalCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewedContract__c</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>stageCe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage__c</field>
            <value>
                <elementReference>subStageCe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Contractor Subscription</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verticals__c</field>
            <value>
                <elementReference>getAccountRecords.Verticals__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>createCoOppty</name>
        <label>createCoOppty</label>
        <locationX>294</locationX>
        <locationY>845</locationY>
        <assignRecordIdToReference>newOppty</assignRecordIdToReference>
        <connector>
            <targetReference>successScreenHc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>opptyCloseDateCo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opptyNameCo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>NotesCo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contractors__c</field>
            <value>
                <elementReference>Number_of_ContractorsCo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Non_Subscriber_Contractors__c</field>
            <value>
                <elementReference>Number_of_Non_Subscribed_ContractorsCo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>opptyRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Renewal__c</field>
            <value>
                <elementReference>renewalCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewedContract__c</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>00 - New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Select_Opportunity_Type_Co</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verticals__c</field>
            <value>
                <elementReference>opptyVerticalsCo</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>createHceOppty</name>
        <label>createHceOppty</label>
        <locationX>718</locationX>
        <locationY>846</locationY>
        <assignRecordIdToReference>newOppty</assignRecordIdToReference>
        <connector>
            <targetReference>successScreenHc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>closeDateCe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opptyNameHce</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>opptyRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Renewal__c</field>
            <value>
                <elementReference>renewalCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewedContract__c</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>00 - New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Select_Opportunity_Type_Hc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verticals__c</field>
            <value>
                <elementReference>opptyVerticalsHce</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>createHcOppty</name>
        <label>createHcOppty</label>
        <locationX>505</locationX>
        <locationY>861</locationY>
        <assignRecordIdToReference>newOppty</assignRecordIdToReference>
        <connector>
            <targetReference>successScreenHc</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>opptyCloseDateHc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opptyNameHc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contractors__c</field>
            <value>
                <elementReference>Number_of_Contractors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Non_Subscriber_Contractors__c</field>
            <value>
                <elementReference>Number_of_Non_Subscribed_Contractors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>opptyRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Renewal__c</field>
            <value>
                <elementReference>renewalCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewedContract__c</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>00 - New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Select_Opportunity_Type_Hc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verticals__c</field>
            <value>
                <elementReference>opptyVerticals</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountRecords</name>
        <label>getAccountRecords</label>
        <locationX>311</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isHcCe</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Verticals__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Short_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContract</name>
        <label>getContract</label>
        <locationX>541</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opptyType</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaOpptyType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>contractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Find all open opportunity records related to the account</description>
        <name>getOpenOpptyRecords</name>
        <label>getOpenOpptyRecords</label>
        <locationX>295</locationX>
        <locationY>475</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opptyExist</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Opportunity_Type_Ce</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Opportunity_Type_Hc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Opportunity_Type_Co</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>relatedOppties</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <screens>
        <name>AnotherAccountDetails</name>
        <label>AnotherAccountDetails</label>
        <locationX>1328</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setStagePendingHC</targetReference>
        </connector>
        <fields>
            <name>ReportingAccount</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <elementReference>accountObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>reportingAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryLimit</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Account must be an active, subscribed contractor account.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Select account reporting in...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account reporting in</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderBy</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Active__c = TRUE AND TYPE = &#39;Contractor&#39; AND ISNetworld_Status__c = &#39;Subscriber&#39;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>reportingAccountId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CeOpptyFeedback</name>
        <label>CeOpptyFeedback</label>
        <locationX>858</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>reasonDetailsReq</targetReference>
        </connector>
        <fields>
            <name>feedbackMessage</name>
            <fieldText>&lt;p&gt;The below details are required if opportunity is being sent to Hiring Clients for feedback.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reasonNotSubscribing</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Reason_for_Not_Subscribing__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Reason_Details__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Reason for Not Subscribing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue/>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reason Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>opptyNull</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>reasonNotSub</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>reasonDetails</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>1672</locationX>
        <locationY>817</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Oops! Looks like there was an error. Please contact the Salesforce Admin Team for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>opptyExists</name>
        <label>opptyExists</label>
        <locationX>111</locationX>
        <locationY>603</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>opptyExistsMessage</name>
            <fieldText>&lt;p&gt;Oops! An open opportunity of this type already exists for this account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please work on the existing opportunities instead of creating a new one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>populateCeOppty</name>
        <label>populateCeOppty</label>
        <locationX>574</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>isPendingClient</targetReference>
        </connector>
        <fields>
            <name>StageCeScreen</name>
            <choiceReferences>choiceStageOpen</choiceReferences>
            <choiceReferences>choiceStagePendingClient</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opptyNameCe</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultNameCe</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CEMainContact</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>mainContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>AccountId = &#39;{!recordId}&#39; AND Active__c = TRUE AND Account_Admin__c = TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryLimit</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderBy</name>
                <value>
                    <stringValue>Name Desc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Main Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Select main contact...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Contacts must be associated with account, active and an account admin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>mainContactId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BR</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>populateCoOppty</name>
        <label>populateCoOppty</label>
        <locationX>288</locationX>
        <locationY>717</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createCoOppty</targetReference>
        </connector>
        <fields>
            <name>opptyNameCo</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultNameHc</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opptyVerticalsCo</name>
            <choiceReferences>choiceVerticals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vertical</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opptyCloseDateCo</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>closeDateHc</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_ContractorsCo</name>
            <dataType>Number</dataType>
            <fieldText>Number of Contractors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Non_Subscribed_ContractorsCo</name>
            <dataType>Number</dataType>
            <fieldText>Number of Non-Subscribed Contractors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NotesCo</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>populateHceOppty</name>
        <label>populateHceOppty</label>
        <locationX>718</locationX>
        <locationY>711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createHceOppty</targetReference>
        </connector>
        <fields>
            <name>opptyNameHce</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultHceName</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opptyVerticalsHce</name>
            <choiceReferences>choiceVerticals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vertical</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opptyCloseDateHce</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>closeDateCe</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>populateHcOppty</name>
        <label>populateHcOppty</label>
        <locationX>506</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createHcOppty</targetReference>
        </connector>
        <fields>
            <name>opptyNameHc</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultNameHc</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opptyVerticals</name>
            <choiceReferences>choiceVerticals</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vertical</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>opptyCloseDateHc</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>closeDateHc</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Contractors</name>
            <dataType>Number</dataType>
            <fieldText>Number of Contractors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Non_Subscribed_Contractors</name>
            <dataType>Number</dataType>
            <fieldText>Number of Non-Subscribed Contractors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectCeOpptyType</name>
        <label>selectCeOpptyType</label>
        <locationX>407</locationX>
        <locationY>294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpenOpptyRecords</targetReference>
        </connector>
        <fields>
            <name>openMessage</name>
            <fieldText>&lt;p&gt;Looking to create a new subscription opportunity?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Opportunity_Type_Ce</name>
            <choiceReferences>choiceContractorSubscription</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectCoOpptyType</name>
        <label>selectCoOpptyType</label>
        <locationX>23</locationX>
        <locationY>291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpenOpptyRecords</targetReference>
        </connector>
        <fields>
            <name>openMessageCo</name>
            <fieldText>&lt;p&gt;Looking to create a new subscription opportunity?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If this is a Hiring Client (instead of Contractor Operator), you will need to update the &lt;b&gt;Type&lt;/b&gt; field on the Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Opportunity_Type_Co</name>
            <choiceReferences>choiceCO</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selectHcOpptyType</name>
        <label>selectHcOpptyType</label>
        <locationX>227</locationX>
        <locationY>297</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getOpenOpptyRecords</targetReference>
        </connector>
        <fields>
            <name>openMessageHc</name>
            <fieldText>&lt;p&gt;Looking to create a new subscription opportunity?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If this is a Contractor Operator (instead of Hiring Client), you will need to update the &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Type&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; field on the Account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Opportunity_Type_Hc</name>
            <choiceReferences>choiceHiringClientSubscription</choiceReferences>
            <choiceReferences>choiceHCE</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Opportunity Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreenCe</name>
        <label>successScreenCe</label>
        <locationX>1453</locationX>
        <locationY>660</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Opportunity has been created in a &lt;b&gt;{!stageCe} &lt;/b&gt;stage.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Navigate to the opportunities section to view/edit information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreenHc</name>
        <label>successScreenHc</label>
        <locationX>619</locationX>
        <locationY>846</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage_0</name>
            <fieldText>&lt;p&gt;Opportunity has been created in an &lt;b&gt;00 - New &lt;/b&gt;stage.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Navigate to the opportunities section to view/edit information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>211</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccountRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>getOpptyRecordTypeId</name>
        <label>getOpptyRecordTypeId</label>
        <locationX>422</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>getContract</targetReference>
        </connector>
        <flowName>Get_Record_Type_Id</flowName>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <elementReference>formulaOpptyRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sObjectType</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>opptyRecordTypeId</assignToReference>
            <name>recordType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opptyRecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>reasonDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reasonNotSub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedOppties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>reportingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stageCe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subStageCe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
