force-app/main/default/flows/Create_Meeting_Plan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignedAccountBasedFields</name>
        <label>AssignedAccountBasedFields</label>
        <locationX>182</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>NewAccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000QFZTAA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Selling_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Prospect_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Primary_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.CompetitorAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Agreement_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Overlap_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Contractor_Overlap_Complete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Contractors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Potential_Number_of_Contractors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Non_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Potential_Net_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Biggest_Challenge_w_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Biggest_Challenges_with_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastCreateMeetingPlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignedOpptyBasedFields</name>
        <label>AssignedOpptyBasedFields</label>
        <locationX>367</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>NewAccountSummary.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000QFZTAA4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Selling_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Prospect_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Primary_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.CompetitorAccount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Agreement_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Competitor_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Competitor_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Overlap_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Date_of_Last_Contractor_Overlap__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Contractors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Number_of_Contractors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Potential_Number_of_Non_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Number_of_Non_Subscriber_Contractors__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Account_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Biggest_Challenge_w_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisAccount.Biggest_Challenges_with_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAccountSummary.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisOpportunityFromWhatId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastCreateMeetingPlan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignThisEventMeetingPlanId</name>
        <label>AssignThisEventMeetingPlanId</label>
        <locationX>182</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>ThisEvent.Meeting_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FastUpdateThisEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Event_tied_to_Oppty</name>
        <label>Event tied to Oppty?</label>
        <locationX>179</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>AssignedAccountBasedFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisEvent.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastLookupOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meeting_Plan_Exists</name>
        <label>Meeting Plan Exists?</label>
        <locationX>180</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisEvent.Meeting_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeetingPlanExists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a meeting plan from an Event</description>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create Meeting Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Meeting Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>FastCreateMeetingPlan</name>
        <label>FastCreateMeetingPlan</label>
        <locationX>185</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>AssignThisEventMeetingPlanId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>NewAccountSummary</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FastLookupAccount</name>
        <label>FastLookupAccount</label>
        <locationX>180</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_tied_to_Oppty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisEvent.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ThisAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Prospect_Status__c</queriedFields>
        <queriedFields>CompetitorAccount__c</queriedFields>
        <queriedFields>Competitor_Renewal_Date__c</queriedFields>
        <queriedFields>Competitor_Notes__c</queriedFields>
        <queriedFields>Contractor_Overlap_Complete__c</queriedFields>
        <queriedFields>Potential_Number_of_Contractors__c</queriedFields>
        <queriedFields>Potential_Net_New__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Biggest_Challenges_with_Account__c</queriedFields>
        <queriedFields>Buying_Process__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupEvent</name>
        <label>FastLookupEvent</label>
        <locationX>180</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Meeting_Plan_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>ThisEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <queriedFields>EndDateTime</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Meeting_Plan__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FastLookupOpportunity</name>
        <label>FastLookupOpportunity</label>
        <locationX>366</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignedOpptyBasedFields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisEvent.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ThisOpportunityFromWhatId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Number_of_Contractors__c</queriedFields>
        <queriedFields>Number_of_Non_Subscriber_Contractors__c</queriedFields>
        <queriedFields>Date_of_Last_Contractor_Overlap__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>FastUpdateThisEvent</name>
        <label>FastUpdateThisEvent</label>
        <locationX>182</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ThisEvent</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>370</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>There was an error. Please contact SalesforceAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>180</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FastLookupAccount</targetReference>
        </connector>
        <fields>
            <name>InformationDisplayText</name>
            <fieldText>Click Next to create a new Meeting Plan for this Event.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MeetingPlanExists</name>
        <label>MeetingPlanExists</label>
        <locationX>360</locationX>
        <locationY>126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MeetingPlanExistsDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A Meeting Plan already exists for this Event.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://isn.lightning.force.com/lightning/r/Event/{!ThisEvent.Meeting_Plan__c}/view&quot; TARGET=&quot;_blank&quot;&gt;Click here to go to Meeting Plan.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>180</locationX>
        <locationY>937</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Meeting Plan created successfully.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;https://isn.lightning.force.com/lightning/r/Event/{!ThisEvent.Meeting_Plan__c}/view&quot; TARGET=&quot;_blank&quot;&gt;Click here to go to Meeting Plan.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FastLookupEvent</startElementReference>
    <status>Active</status>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAccountSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
    <variables>
        <name>ThisAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ThisEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>ThisOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity__c</objectType>
    </variables>
    <variables>
        <name>ThisOpportunityFromWhatId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
