force-app/main/default/flows/Create_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Load_Cart</name>
        <label>Load Cart</label>
        <locationX>1517</locationX>
        <locationY>210</locationY>
        <actionName>CPQLoadQuoteAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Oppty_Already_Invoiced</targetReference>
        </faultConnector>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>cart</assignToReference>
            <name>quote</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>IsMexicoPegasoTaxValidateEnabled2</name>
        <label>Is Mexico &amp; Pegaso Tax Validate Enabled?</label>
        <locationX>758</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Lookup_Pricebook_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Opportunity.Billing_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CMT_System_Settings.EnablePegasoTaxValidation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pgs_Validate_Tax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_StageName_Check</name>
        <label>Oppty StageName Check</label>
        <locationX>621</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>IsMexicoPegasoTaxValidateEnabled2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stage Not Invoiced</defaultConnectorLabel>
        <rules>
            <name>Oppty_is_Invoiced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Oppty_Invoiced_Stage.Invoiced_Opportunity_Stage__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoiced_Error</targetReference>
            </connector>
            <label>Oppty is Invoiced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Book_Found</name>
        <label>Price Book Found?</label>
        <locationX>1058</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>No_Pricebook_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFound_Pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pricebookId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pricebookId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>billingTier</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Find_Opportunity.Invoice_Tier__c},&quot;&quot;),TEXT({!Find_Opportunity.Account.Billing_Tier__c}),TEXT({!Find_Opportunity.Invoice_Tier__c}))</expression>
    </formulas>
    <formulas>
        <name>currentQLDisplay</name>
        <dataType>String</dataType>
        <expression>&#39;{&#39;&amp;{!currentLine.Id} &amp; &#39;, &#39; &amp;  {!currentLine.SBQQ__ProductName__c} &amp; &#39;, &#39; &amp;TEXT({!currentLine.SBQQ__NetTotal__c})&amp; &#39;} &#39;</expression>
    </formulas>
    <formulas>
        <name>QuoteStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Find_Opportunity.SBQQ__Renewal__c}, {!Find_Opportunity.Subscription_End_Date__c} + 1, {!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>quoteURL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LEFT({!$Api.Partner_Server_URL_340}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_340})),&#39;https://&#39;,&#39;&#39;) &amp; &#39;lightning/r/Quote/&#39; &amp; {!quoteId} &amp; &#39;/view&#39;</expression>
    </formulas>
    <formulas>
        <name>Today_Plus_30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <interviewLabel>Create Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>1223</locationX>
        <locationY>210</locationY>
        <assignRecordIdToReference>quoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Products_Reprice_In_Async</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Oppty_Already_Invoiced</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Find_Opportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_OOB_System_Created__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Find_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>Find_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>QuoteStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordLookups>
        <description>&#39;CPQ System Settings&#39; Custom Metadata Type data</description>
        <name>CMT_System_Settings</name>
        <label>Load System Settings</label>
        <locationX>165</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Oppty_Already_Invoiced</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pegaso_Validate_Tax</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPQ_System_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Opportunity</name>
        <label>Find Opportunity</label>
        <locationX>349</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppty_Invoiced_Stage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Oppty_Already_Invoiced</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>SBQQ__Renewal__c</queriedFields>
        <queriedFields>SBQQ__RenewedContract__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Billing_Country__c</queriedFields>
        <queriedFields>Tax_ID__c</queriedFields>
        <queriedFields>Invoice_Tier__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppty_Invoiced_Stage</name>
        <label>Get Oppty Invoiced Stage</label>
        <locationX>510</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppty_StageName_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Oppty_Already_Invoiced</targetReference>
        </faultConnector>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Opportunity.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CPQ_Opty_Type_to_Prod_Family_Mapping__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invoiced_Opportunity_Stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Name</name>
        <label>Get Quote Name</label>
        <locationX>1822</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Create_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Oppty_Already_Invoiced</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>quoteName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opptySubType</assignToReference>
            <field>Opportunity_Subscription_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty_Stage</name>
        <label>Update Oppty Stage</label>
        <locationX>1821</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Get_Quote_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Oppty_Already_Invoiced</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Today_Plus_30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Tier__c</field>
            <value>
                <elementReference>billingTier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_Oppty_Invoiced_Stage.Invoiced_Opportunity_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Display_Product</name>
        <label>Display Product</label>
        <locationX>1821</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Oppty_Stage</targetReference>
        </connector>
        <fields>
            <name>show_products</name>
            <extensionName>c:CPQCartView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>carts</name>
                <value>
                    <elementReference>cart</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error when Opportunity that has already been invoiced.</description>
        <name>Error_Oppty_Already_Invoiced</name>
        <label>Fault Message Screen</label>
        <locationX>346</locationX>
        <locationY>583</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;There was an error processing your request, {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoiced_Error</name>
        <label>Invoiced Error</label>
        <locationX>636</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageINV</name>
            <fieldText>&lt;p&gt;{!FlowFaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Pricebook_Found</name>
        <label>No Pricebook Found</label>
        <locationX>1067</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Pricebook</name>
            <fieldText>&lt;p&gt;No pricebook was found for the associated account.  Please ensure the account associated with this opportunity has a billing country specified.  Please contact support for additional assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pgs_Validate_Tax</name>
        <label>Pgs Validate Tax</label>
        <locationX>854</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Pricebook_Id</targetReference>
        </connector>
        <fields>
            <name>PegasoTaxValidate</name>
            <extensionName>c:CPQPegasoTaxValidate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Find_Opportunity.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonDisabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Find_Opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>opptyTaxId</name>
                <value>
                    <elementReference>Find_Opportunity.Tax_ID__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Create_Success</name>
        <label>Quote Create Success</label>
        <locationX>1820</locationX>
        <locationY>662</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Quote_Create_Success_Message</name>
            <fieldText>&lt;p&gt;Successfully created quote&lt;b&gt; &lt;/b&gt;&lt;a href=&quot;http://{!quoteURL}&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;{!quoteName}&lt;/b&gt;&lt;/a&gt;!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>CMT_System_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Products_Reprice_In_Async</name>
        <label>Add Products THEN Reprice In Async</label>
        <locationX>1371</locationX>
        <locationY>210</locationY>
        <connector>
            <targetReference>Load_Cart</targetReference>
        </connector>
        <flowName>Add_Products</flowName>
        <inputAssignments>
            <name>IsRenewal</name>
            <value>
                <elementReference>Find_Opportunity.SBQQ__Renewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityType</name>
            <value>
                <elementReference>Find_Opportunity.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookId</name>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Lookup_Pricebook_Id</name>
        <label>Lookup Pricebook Id</label>
        <locationX>936</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Price_Book_Found</targetReference>
        </connector>
        <flowName>Lookup_Account_Pricebook</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Find_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <name>priceBookId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>FlowFaultMessage</name>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Current Opportunity is already Invoiced.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>opptySubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01tL0000007i7YZIAY</stringValue>
        </value>
    </variables>
    <variables>
        <name>productModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productModels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineDisplayText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteLineDisplayText2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>quoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Want_to_delete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
