force-app/main/default/flows/Create_I_RAVS_and_HSE_RAVS_Clients_for_New_Sub.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>hseRavsExist</name>
        <label>hseRavsExist?</label>
        <locationX>185</locationX>
        <locationY>628</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>hseRavsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedHseRavsClients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewHseRavsClient</targetReference>
            </connector>
            <label>hseRavsNull</label>
        </rules>
        <rules>
            <name>hseRavsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedHseRavsClients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>hseRavsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>iRavsExist</name>
        <label>iRavsExist?</label>
        <locationX>184</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>iRavsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedIravsClients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>queryHseRavsClients</targetReference>
            </connector>
            <label>iRavsNotNull</label>
        </rules>
        <rules>
            <name>iRavsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedIravsClients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewIravsClient</targetReference>
            </connector>
            <label>iRavsNull</label>
        </rules>
    </decisions>
    <description>If an account is changed to Subscriber, adds new I-RAVS Client and HSE RAVS Client if they do not exist.</description>
    <interviewLabel>Create I-RAVS and HSE-RAVS Clients for New Sub {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create I-RAVS and HSE-RAVS Clients for New Sub</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewHseRavsClient</name>
        <label>createNewHseRavsClient</label>
        <locationX>413</locationX>
        <locationY>628</locationY>
        <assignRecordIdToReference>newHseRavsClientId</assignRecordIdToReference>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>newSubscriber.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Dev_Account__c</field>
            <value>
                <elementReference>newSubscriber.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_ISN_ID__c</field>
            <value>
                <elementReference>newSubscriber.ISN_Company_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>newSubscriber.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>newSubscriber.Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>newSubscriber.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newSubscriber.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode__c</field>
            <value>
                <elementReference>newSubscriber.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>newSubscriber.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>newSubscriber.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>newSubscriber.Verticals__c</elementReference>
            </value>
        </inputAssignments>
        <object>HSERAVSClient__c</object>
    </recordCreates>
    <recordCreates>
        <name>createNewIravsClient</name>
        <label>createNewIravsClient</label>
        <locationX>415</locationX>
        <locationY>359</locationY>
        <assignRecordIdToReference>newIravsClientId</assignRecordIdToReference>
        <connector>
            <targetReference>queryHseRavsClients</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>newSubscriber.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Dev_Account__c</field>
            <value>
                <elementReference>newSubscriber.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_ID__c</field>
            <value>
                <elementReference>newSubscriber.ISN_Company_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>newSubscriber.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>newSubscriber.Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IRAVSStatus__c</field>
            <value>
                <stringValue>Non I-RAVS Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry__c</field>
            <value>
                <elementReference>newSubscriber.Industry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newSubscriber.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_Province__c</field>
            <value>
                <elementReference>newSubscriber.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical_Team_Email__c</field>
            <value>
                <elementReference>newSubscriber.Vertical_Team_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>newSubscriber.Verticals__c</elementReference>
            </value>
        </inputAssignments>
        <object>I_RAVS_Client__c</object>
    </recordCreates>
    <recordLookups>
        <name>getNewSubscriber</name>
        <label>getNewSubscriber</label>
        <locationX>180</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>queryIravsClients</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newSubId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>newSubscriber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <queriedFields>ISN_Company_ID__c</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>Verticals__c</queriedFields>
        <queriedFields>Industry__c</queriedFields>
        <queriedFields>Vertical_Team_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>queryHseRavsClients</name>
        <label>queryHseRavsClients</label>
        <locationX>185</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hseRavsExist</targetReference>
        </connector>
        <filters>
            <field>Company_ISN_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newSubscriber.ISN_Company_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_ISN_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>HSERAVSClient__c</object>
        <outputReference>relatedHseRavsClients</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>queryIravsClients</name>
        <label>queryIravsClients</label>
        <locationX>185</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iRavsExist</targetReference>
        </connector>
        <filters>
            <field>Company_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newSubscriber.ISN_Company_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>I_RAVS_Client__c</object>
        <outputReference>relatedIravsClients</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>getNewSubscriber</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountToHseRavsClientLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>iravsLinkId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newHseRavsClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newIravsClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newSubId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newSubscriber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>relatedHseRavsClients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>HSERAVSClient__c</objectType>
    </variables>
    <variables>
        <name>relatedIravsClients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>I_RAVS_Client__c</objectType>
    </variables>
</Flow>
