force-app/main/default/flows/Create_Profile_from_Client_Dev_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>ProfileStatusPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Profile__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Profile from Client Dev Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Profile from Client Dev Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createProfile</name>
        <label>createProfile</label>
        <locationX>519</locationX>
        <locationY>43</locationY>
        <assignRecordIdToReference>profileId</assignRecordIdToReference>
        <connector>
            <targetReference>updateChecklist</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>sobjectChecklist.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foreign_Language_Reviews_Needed__c</field>
            <value>
                <elementReference>sobjectChecklist.Foreign_Review_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RAVS_Client__c</field>
            <value>
                <elementReference>sobjectChecklist.I_RAVS_Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Profile_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contractors__c</field>
            <value>
                <elementReference>sobjectChecklist.Number_of_Contractors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profile_Name__c</field>
            <value>
                <elementReference>Profile_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Implementation_Date__c</field>
            <value>
                <elementReference>sobjectChecklist.Target_Implementation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Profile__c</object>
    </recordCreates>
    <recordLookups>
        <name>getChecklist</name>
        <label>getChecklist</label>
        <locationX>181</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Profile_from_Client_Dev_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>P_RAVS_Checklist__c</object>
        <outputReference>sobjectChecklist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Client_Dev_Account__c</queriedFields>
        <queriedFields>Vertical__c</queriedFields>
        <queriedFields>Current_Account_Status__c</queriedFields>
        <queriedFields>Entered_By__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>ISNetworld_Sites_to_Tie_to_Profile__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Target_Implementation_Date__c</queriedFields>
        <queriedFields>Number_of_Contractors__c</queriedFields>
        <queriedFields>Overlap__c</queriedFields>
        <queriedFields>Foreign_Review_Needed__c</queriedFields>
        <queriedFields>Implementation_Call_Frequency__c</queriedFields>
        <queriedFields>I_RAVS_Client__c</queriedFields>
        <queriedFields>Profile__c</queriedFields>
        <queriedFields>Checklist_Status__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateChecklist</name>
        <label>updateChecklist</label>
        <locationX>685</locationX>
        <locationY>57</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Profile__c</field>
            <value>
                <elementReference>profileId</elementReference>
            </value>
        </inputAssignments>
        <object>P_RAVS_Checklist__c</object>
    </recordUpdates>
    <screens>
        <name>Create_Profile_from_Client_Dev_Request</name>
        <label>Create Profile from Client Dev Request</label>
        <locationX>338</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createProfile</targetReference>
        </connector>
        <fields>
            <name>Profile_Name</name>
            <dataType>String</dataType>
            <fieldText>Profile Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>ProfileStatusPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getChecklist</startElementReference>
    <status>Active</status>
    <variables>
        <name>profileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>P_RAVS_Checklist__c</objectType>
    </variables>
</Flow>
