force-app/main/default/flows/Create_New_Invoice_for_PS_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Each_Record_to_Collection</name>
        <label>Assign_Each_Record_to_Collection</label>
        <locationX>1426</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>sObject_Collection_New_Invoice_Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_New_Invoice_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Invoice_Id_To_PS_Project_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Id_To_PS_Project_Line_Item</name>
        <label>Assign_Invoice_Id_To_PS_Project_Line_Item</label>
        <locationX>1427</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>sObject_Loop_Product.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_InvoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Updated_PS_Project_Line_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_PS_Project_Line_Item_to_Collection</name>
        <label>Assign_Updated_PS_Project_Line_Item_to_Collection</label>
        <locationX>1243</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>sObject_Collection_Updated_PS_Project_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_Loop_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PS_Project_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_From_Product_To_Line_Item</name>
        <label>Assign_Values_From_Product_To_Line_Item</label>
        <locationX>1245</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObject_Loop_Product.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObject_Loop_Product.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObject_Loop_Product.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObject_Loop_Product.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObject_Loop_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObject_Loop_Product.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_InvoiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_New_Invoice_Line_Item.Sort_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObject_Loop_Product.SortOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Has_Opp_Line_Items</name>
        <label>Decision_Has_Opp_Line_Items</label>
        <locationX>427</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>PS_Project_Has_No_Products_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome_Has_Opp_Line_Items_False</defaultConnectorLabel>
        <rules>
            <name>Outcome_Has_Opp_Line_Items_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObject_Current_PS_Project.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Details</targetReference>
            </connector>
            <label>Outcome_Has_Opp_Line_Items_True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingContacts</name>
        <dataType>String</dataType>
        <displayField>Name_Title__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObject_Current_PS_Project.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>defaultDueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 30</expression>
    </formulas>
    <formulas>
        <name>var_BillToAddress</name>
        <dataType>String</dataType>
        <expression>{!relAcc.BillingStreet} &amp; SUBSTITUTE({!$Label.LineBreak},&#39;-&#39;,&#39;&#39;) &amp; {!relAcc.BillingCity} &amp; &#39;, &#39; &amp; {!relAcc.BillingState} &amp; &#39; &#39; &amp; {!relAcc.BillingPostalCode} &amp; SUBSTITUTE({!$Label.LineBreak},&#39;-&#39;,&#39;&#39;) &amp; {!relAcc.BillingCountry}</expression>
    </formulas>
    <interviewLabel>Create New Invoice for PS Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Invoice for PS Project</label>
    <loops>
        <name>Loop_Through_PS_Project_Products</name>
        <label>Loop_Through_PS_Project_Products</label>
        <locationX>1024</locationX>
        <locationY>314</locationY>
        <assignNextValueToReference>sObject_Loop_Product</assignNextValueToReference>
        <collectionReference>sObject_PS_Project_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_From_Product_To_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fast_Create_Invoice_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Invoice</name>
        <label>Create_New_Invoice</label>
        <locationX>850</locationX>
        <locationY>191</locationY>
        <assignRecordIdToReference>var_InvoiceId</assignRecordIdToReference>
        <connector>
            <targetReference>Fast_Lookup_PS_Project_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>relAcc.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Address__c</field>
            <value>
                <elementReference>Bill_To_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Name__c</field>
            <value>
                <elementReference>Bill_To_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>Invoice_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PS_Project__c</field>
            <value>
                <elementReference>sObject_Current_PS_Project.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordCreates>
    <recordCreates>
        <name>Fast_Create_Invoice_Line_Items</name>
        <label>Fast_Create_Invoice_Line_Items</label>
        <locationX>1026</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Fast_Update_PS_Project_Invoice_Field</targetReference>
        </connector>
        <inputReference>sObject_Collection_New_Invoice_Line_Items</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fast_Lookup_Current_PS_Project</name>
        <label>Fast_Lookup_Current_PS_Project</label>
        <locationX>180</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PSProjectId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sObject_Current_PS_Project</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HasOpportunityLineItem</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fast_Lookup_PS_Project_Products</name>
        <label>Fast_Lookup_PS_Project_Products</label>
        <locationX>1024</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_PS_Project_Products</targetReference>
        </connector>
        <filters>
            <field>Invoice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PSProjectId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>sObject_PS_Project_Products</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Invoice__c</queriedFields>
        <queriedFields>SortOrder</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>307</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Has_Opp_Line_Items</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObject_Current_PS_Project.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>relAcc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fast_Update_PS_Project_Invoice_Field</name>
        <label>Fast_Update_PS_Project_Invoice_Field</label>
        <locationX>1027</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Invoice_Successfully_Created</targetReference>
        </connector>
        <inputReference>sObject_Collection_Updated_PS_Project_Products</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Bill_To_Address</name>
        <label>Confirm Bill To Address</label>
        <locationX>848</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Invoice</targetReference>
        </connector>
        <fields>
            <name>Default_Address_Display_Text</name>
            <fieldText>&lt;p&gt;The default address is from the related Account record. You can edit below before creating the invoice.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bill_To_Address</name>
            <defaultValue>
                <stringValue>{!var_BillToAddress}</stringValue>
            </defaultValue>
            <fieldText>Bill To Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Details</name>
        <label>Invoice Details</label>
        <locationX>602</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Bill_To_Address</targetReference>
        </connector>
        <fields>
            <name>Invoice_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Invoice Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultDueDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bill_To_Name</name>
            <choiceReferences>BillingContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bill To Name</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Successfully_Created</name>
        <label>Invoice Successfully Created</label>
        <locationX>1029</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>Invoice Created Successfully</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PS_Project_Has_No_Products_Selected</name>
        <label>PS Project Has No Products Selected</label>
        <locationX>436</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Products_Message</name>
            <fieldText>The PS Project has no Products added. Go back to the PS Project and add at least one Products to create an invoice.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fast_Lookup_Current_PS_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Connected_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>relAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sObject_Collection_New_Invoice_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>sObject_Collection_Updated_PS_Project_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sObject_Current_PS_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sObject_Loop_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sObject_New_Invoice_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>sObject_PS_Project_Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>var_BillToCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_BillToCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_BillToNameId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_BillToPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_BillToState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_BillToStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PSProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
