force-app/main/default/flows/Danny_Testing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_thisAcctId</name>
        <label>Assign thisAcctId</label>
        <locationX>404</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>thisAcctId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initialize_Opty.Account.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Account_Pricebook_in_Danny_Testing</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Danny Test Again {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Danny Testing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>747</locationX>
        <locationY>62</locationY>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>thisAcctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>mappedPricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>mappedPricebookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Presented</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Initialize_Opty</name>
        <label>Initialize Opty</label>
        <locationX>250</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_thisAcctId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>82</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Initialize_Opty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Lookup_Account_Pricebook_in_Danny_Testing</name>
        <label>Lookup Account Pricebook in Danny Testing</label>
        <locationX>563</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <flowName>Lookup_Account_Pricebook</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>thisAcctId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>mappedPricebookId</assignToReference>
            <name>priceBookId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>mappedPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
    <variables>
        <name>thisAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
