force-app/main/default/flows/DEAP_Mass_Add_Activities_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Call_Task_Variables</name>
        <label>Assign Call Task Variables</label>
        <locationX>747</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>NewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01280000000BgKL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!CampaignType} - Call Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>04 - Spoke with Contact/Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task placeholder to call contact (updates notes and activity type based on results of call)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerIDtoAssign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Task_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mail_Letter_Task_Variables</name>
        <label>Assign Mail Letter Task Variables</label>
        <locationX>1075</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>NewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01280000000BgKL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!CampaignType} - Mail Letter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>02 - Mail Letter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Short_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Letter mailed to contact for campaign.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Letter mailed to contact for campaign.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerIDtoAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Task_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_to_Collection</name>
        <label>Assign New Task to Collection</label>
        <locationX>1077</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>NewTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Add_Call_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Task_to_Collection_0</name>
        <label>Assign New Task to Collection</label>
        <locationX>570</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NewTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedLoop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Call</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Current_User</name>
        <choiceText>Current User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current User</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mail_Letter</name>
        <choiceText>Mail Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mail Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Record_Owner</name>
        <choiceText>Record Owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Record Owner</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Add_Call_Tasks</name>
        <label>Decision - Add Call Tasks</label>
        <locationX>742</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>SelectedLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_Create_Call_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Call_Task_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Add_Mail_Letter_Tasks</name>
        <label>Decision - Add Mail Letter Tasks</label>
        <locationX>869</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Decision_Add_Call_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_Create_Mail_Letter_Tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mail_Letter_Task_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Create_Call_Tasks</name>
        <label>Decision - Create Call Tasks</label>
        <locationX>722</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>SelectedLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Types</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Call_Task_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Create_Mail_Letter_Tasks</name>
        <label>Decision - Create Mail Letter Tasks</label>
        <locationX>616</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Decision_Create_Call_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Types</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mail_Letter_Task_Confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X50_or_fewer_Contacts_Selected</name>
        <label>50 or fewer Contacts Selected</label>
        <locationX>231</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Limit_Reached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>More_than_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Reached</targetReference>
            </connector>
            <label>More than 50</label>
        </rules>
        <rules>
            <name>X50_or_Fewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedSize</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Options</targetReference>
            </connector>
            <label>50 or Fewer</label>
        </rules>
    </decisions>
    <description>Used to mass add mail letter or call tasks for campaigns (such as DEAP Day). Added from Request R00300. Updated to select DEAP campaign to auto assign dates</description>
    <dynamicChoiceSets>
        <name>Campaign</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Competitor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEAP</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignEnd</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampaignStart</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampaignType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Formual applies correct id based on owner selection in flow</description>
        <name>OwnerIDtoAssign</name>
        <dataType>String</dataType>
        <expression>IF({!Owner} = &#39;Record Owner&#39;, {!CurrentContact.OwnerId}, {!$User.Id})</expression>
    </formulas>
    <interviewLabel>DEAP Mass Add Activities Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Add Activities Flow for Campaign</label>
    <loops>
        <name>SelectedLoop</name>
        <label>SelectedLoop</label>
        <locationX>621</locationX>
        <locationY>454</locationY>
        <assignNextValueToReference>CurrentContact</assignNextValueToReference>
        <collectionReference>SelectedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Add_Mail_Letter_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Tasks</name>
        <label>Create New Tasks</label>
        <locationX>447</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>NewTasks</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Call_Task_Confirmation</name>
        <label>Create Call Task Confirmation</label>
        <locationX>879</locationX>
        <locationY>285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedLoop</targetReference>
        </connector>
        <fields>
            <name>CallConfirmationDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Review the details below and check to confirm task creation then click &lt;B&gt;Next&lt;/B&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CallConfirmationDetails</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;A task will be created for each contact selected with the following details:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Subject: {!CampaignType} Campaign - Call Contact &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Activity Type: 04 - Spoke with Contact/Lead&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Date: {!CampaignEnd}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Status: Not Started&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Project: {!CampaignType}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Assigned To: {!Owner}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Description: Task placeholder to call contact for associated campaign day/week (updates notes and activity type based on results of call)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Create_Call_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm Create Call Tasks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Mail_Letter_Task_Confirmation</name>
        <label>Create Mail Letter Task Confirmation</label>
        <locationX>878</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Create_Call_Tasks</targetReference>
        </connector>
        <fields>
            <name>MailLetterConfirmationDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Review the details below and check to confirm task creation then click &lt;B&gt;Next&lt;/B&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MailLetterConfirmationDetails</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;A task will be created for each contact selected with the following details:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Subject: {!CampaignType} Campaign - Mail Letter&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Activity Type: 02 - Mail Letter&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Date: {!CampaignStart}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Status: Completed&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Project: {!CampaignType}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Assigned To: {!Owner}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Description: Letter mailed to contact for campaign. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Create_Mail_Letter_Tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirm Create Mail Letter Tasks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>188</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoneDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Tasks added. Click &lt;B&gt;Finish&lt;/B&gt; to exit.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>150</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>An error has occurred. 

Please email SFAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Limit_Reached</name>
        <label>Limit Reached</label>
        <locationX>152</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LimitReachedDisplayText</name>
            <fieldText>{!SelectedSize} contacts selected. 

Please limit selection to 50 or fewer contacts.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Options</name>
        <label>Task Options</label>
        <locationX>440</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Create_Mail_Letter_Tasks</targetReference>
        </connector>
        <fields>
            <name>TaskOptionsInstructions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!SelectedSize} contact(s) selected.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select the &lt;B&gt;Owner&lt;/B&gt; and &lt;B&gt;Task Types &lt;/B&gt;to create for the selected contacts then click &lt;B&gt;Next&lt;/B&gt;. &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Owner</name>
            <choiceReferences>Current_User</choiceReferences>
            <choiceReferences>Record_Owner</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Owner</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Types</name>
            <choiceReferences>Mail_Letter</choiceReferences>
            <choiceReferences>Call</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Task Types</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campaign_Selection</name>
            <choiceReferences>Campaign</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>X50_or_fewer_Contacts_Selected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaingMemberContactIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExistingCampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NewCampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SelectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TempCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
