force-app/main/default/flows/Enrollment_Class_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enrollmentEmailClassChange</name>
        <label>enrollmentEmailClassChange</label>
        <locationX>714</locationX>
        <locationY>382</locationY>
        <actionName>Enrollment__c.Enrollment_Class_Updated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>loopSendEmails</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>studentEnrollment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>notifyModifyingUserEnrollmentsEmailed</name>
        <label>notifyModifyingUserEnrollmentsEmailed</label>
        <locationX>474</locationX>
        <locationY>641</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Students Notified of Class Changes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>modifiedByUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>SalesforceNoReply@isn.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>hasEnrollments</name>
        <label>hasEnrollments</label>
        <locationX>278</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>relatedEnrollments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSendEmails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sends updated email and calendar reminder to all enrollments if Class details change</description>
    <interviewLabel>Enrollment - Class Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment - Class Change</label>
    <loops>
        <name>loopSendEmails</name>
        <label>loopSendEmails</label>
        <locationX>474</locationX>
        <locationY>382</locationY>
        <assignNextValueToReference>studentEnrollment</assignNextValueToReference>
        <collectionReference>relatedEnrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>enrollmentEmailClassChange</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedEnrollments</name>
        <label>getRelatedEnrollments</label>
        <locationX>278</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasEnrollments</targetReference>
        </connector>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>updatedClass.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputReference>relatedEnrollments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Student_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedClass</name>
        <label>getUpdatedClass</label>
        <locationX>279</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedEnrollments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>classId</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <outputReference>updatedClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>474</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>notifyModifyingUserEnrollmentsEmailed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>updatedClass.LastModifiedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>modifiedByUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>getUpdatedClass</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <text>Students currently reigstered for {!updatedClass.Name} have been sent new emails and calendar reminders with updated class details.

Emails were sent because one of the following was changed on the class:

- Start Date/Time
- End Date/Time
- Meeting Location</text>
    </textTemplates>
    <variables>
        <name>classId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>modifiedByUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>relatedEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>studentEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>updatedClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Class__c</objectType>
    </variables>
</Flow>
