force-app/main/default/flows/Enroll_Contact_in_Classes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignIDtoVariable</name>
        <label>assignIDtoVariable</label>
        <locationX>756</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>enrollmentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!currentEnrollmentLoop.Course__c},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createFieldwithEnrollmentIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateCount</name>
        <label>updateCount</label>
        <locationX>309</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newEnrollmentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopThroughSelectedClasses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>currentClassSelected</name>
        <label>currentClassSelected</label>
        <locationX>439</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>loopThroughSelectedClasses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Available_Classses</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentClassLoop.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>enrollmentIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentClassLoop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createEnrollments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Enroll a Contact in Multiple Classes with Wizard</description>
    <dynamicChoiceSets>
        <name>OpenClasses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Hiring_Client_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>Class__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Enroll Contact in Classes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enroll Contact in Classes</label>
    <loops>
        <name>createFieldwithEnrollmentIDs</name>
        <label>createFieldwithEnrollmentIDs</label>
        <locationX>509</locationX>
        <locationY>201</locationY>
        <assignNextValueToReference>currentEnrollmentLoop</assignNextValueToReference>
        <collectionReference>currentEnrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignIDtoVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Classes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopThroughSelectedClasses</name>
        <label>loopThroughSelectedClasses</label>
        <locationX>142</locationX>
        <locationY>475</locationY>
        <assignNextValueToReference>currentClassLoop</assignNextValueToReference>
        <collectionReference>availableHiringClientClasses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>currentClassSelected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enrollments_Added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>createEnrollments</name>
        <label>createEnrollments</label>
        <locationX>498</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>updateCount</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>currentContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>currentClassLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Nominated</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment__c</object>
    </recordCreates>
    <recordLookups>
        <name>getCurrentContact</name>
        <label>getCurrentContact</label>
        <locationX>136</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>openHiringClientClasses</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>currentContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCurrentEnrollments</name>
        <label>getCurrentEnrollments</label>
        <locationX>323</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createFieldwithEnrollmentIDs</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputReference>currentEnrollments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>openHiringClientClasses</name>
        <label>openHiringClientClasses</label>
        <locationX>140</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCurrentEnrollments</targetReference>
        </connector>
        <filters>
            <field>Hiring_Client_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>Class__c</object>
        <outputReference>availableHiringClientClasses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Enrollments_Added</name>
        <label>Enrollments Added</label>
        <locationX>143</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!newEnrollmentCount} enrollments created.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click Finish to exit the wizard.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Classes</name>
        <label>Select Classes</label>
        <locationX>141</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopThroughSelectedClasses</targetReference>
        </connector>
        <fields>
            <name>DisplayTextSelectClasses</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Select Class(es) in which to enroll &lt;FONT KERNING=&quot;1&quot;&gt;{!currentContact.Name}&lt;/FONT&gt;:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Available_Classses</name>
            <choiceReferences>OpenClasses</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Classses</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getCurrentContact</startElementReference>
    <status>Active</status>
    <variables>
        <name>availableHiringClientClasses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentClassLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <description>The contact running in the flow</description>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentEnrollmentLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>currentEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>enrollmentIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of classes</description>
        <name>newClassEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>newEnrollmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
