force-app/main/default/flows/Event_Update_Address_Details_from_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_ThisEvent_Details</name>
        <label>Update ThisEvent Details</label>
        <locationX>634</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ThisEvent.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisEvent.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisEvent.State_Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisEvent.Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisEvent.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateThisEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContactFound</name>
        <label>ContactFound</label>
        <locationX>476</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ThisEvent_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Event - Update Address Details from Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Update Address Details from Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>332</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactFound</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisEvent.WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ThisContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetEvent</name>
        <label>GetEvent</label>
        <locationX>198</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>ThisEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>State_Province__c</queriedFields>
        <queriedFields>Zip_Postal_Code__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateThisEvent</name>
        <label>UpdateThisEvent</label>
        <locationX>780</locationX>
        <locationY>50</locationY>
        <inputReference>ThisEvent</inputReference>
    </recordUpdates>
    <startElementReference>GetEvent</startElementReference>
    <status>Active</status>
    <variables>
        <name>EventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ThisEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
