force-app/main/default/flows/Global_Account_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>InvokeGlobalAccountEmailApexClass</name>
        <label>InvokeGlobalAccountEmailApexClass</label>
        <locationX>785</locationX>
        <locationY>349</locationY>
        <actionName>GlobalAccountEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>JSONString</name>
            <value>
                <elementReference>JSONString</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AccountEmails</name>
        <label>AccountEmails</label>
        <locationX>35</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>toEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!EmailtoSendTo.Salesperson_Email__c};{!EmailtoSendTo.Vertical_Team_Email__c};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{ &quot;Name&quot; : &quot;{!EmailtoSendTo.Name}&quot;, &quot;Id&quot; : &quot;{!EmailtoSendTo.Id}&quot; , &quot;Team&quot; : &quot;{!EmailtoSendTo.Team__c}&quot; },</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supervisor_Email_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sup_Email</name>
        <label>Add Sup Email</label>
        <locationX>131</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>toEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!EmailtoSendTo.Supervisor_1_Email__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supervisor_2_Email_Exits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sup_Email_3</name>
        <label>Add Sup Email 3</label>
        <locationX>541</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>toEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!EmailtoSendTo.Supervisor_3_Email__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_to_find_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sup_Emal_2</name>
        <label>Add Sup Emal 2</label>
        <locationX>325</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>toEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!EmailtoSendTo.Supervisor_2_Email__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sup_Email_3_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGlobalEmailtoToEmails</name>
        <label>addGlobalEmailtoToEmails</label>
        <locationX>26</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>toEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!globalAccountRecord.Global_Notification_Email__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_to_find_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OnlyGlobalAccountEmail</name>
        <label>OnlyGlobalAccountEmail</label>
        <locationX>869</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>toEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>globalAccountRecord.Global_Notification_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_other_variables_for_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_other_variables_for_email</name>
        <label>set other variables for email</label>
        <locationX>594</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>ccEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!UpdatedAccount.Salesperson_Email__c};{!UpdatedAccount.Vertical_Team_Email__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>triggerAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{ &quot;Name&quot; : &quot;{!UpdatedAccount.Name}&quot;, &quot;Id&quot; : &quot;{!UpdatedAccount.Id}&quot; , &quot;Team&quot; : &quot;{!UpdatedAccount.Team__c}&quot; }</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>globalAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{ &quot;Name&quot; : &quot;{!globalAccountRecord.Name}&quot;, &quot;Id&quot; : &quot;{!globalAccountRecord.Id}&quot; }</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvokeGlobalAccountEmailApexClass</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Related_Accounts</name>
        <label>Has Related Accounts</label>
        <locationX>596</locationX>
        <locationY>20</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GlobalRelatedAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Who_to_send_to</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sup_Email_3_Exists</name>
        <label>Sup Email 3 Exists</label>
        <locationX>515</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Account_to_find_emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sup_Email_3_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailtoSendTo.Supervisor_3_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sup_Email_3</targetReference>
            </connector>
            <label>Sup Email 3 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supervisor_2_Email_Exits</name>
        <label>Supervisor 2 Email Exits</label>
        <locationX>273</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Sup_Email_3_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sup_Email_2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailtoSendTo.Supervisor_2_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sup_Emal_2</targetReference>
            </connector>
            <label>Sup Email 2 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supervisor_Email_Exists</name>
        <label>Supervisor Email Exists</label>
        <locationX>37</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Supervisor_2_Email_Exits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sup_Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailtoSendTo.Supervisor_1_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sup_Email</targetReference>
            </connector>
            <label>Sup Email Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Who_to_send_to</name>
        <label>Who to send to</label>
        <locationX>593</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Related_Accounts_and_Global_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>globalAccountRecord.Send_Updates_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Related Accounts + Global Notification Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addGlobalEmailtoToEmails</targetReference>
            </connector>
            <label>Related Accounts and Global Email</label>
        </rules>
        <rules>
            <name>Related_Accounts_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>globalAccountRecord.Send_Updates_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Related Accounts Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Account_to_find_emails</targetReference>
            </connector>
            <label>Related Accounts Only</label>
        </rules>
        <rules>
            <name>Gobal_Email_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>globalAccountRecord.Send_Updates_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Notification Email Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnlyGlobalAccountEmail</targetReference>
            </connector>
            <label>Gobal Email Only</label>
        </rules>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>globalAccountRecord.Send_Updates_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <label>None</label>
        </rules>
    </decisions>
    <description>Pass in Record Id (Account ID), Reason, Comments</description>
    <formulas>
        <name>JSONString</name>
        <dataType>String</dataType>
        <expression>&#39;{ &quot;toEmails&quot; : &quot;&#39; &amp; SUBSTITUTE(IF(RIGHT({!toEmails},1)=&#39;;&#39;,LEFT({!toEmails},LEN({!toEmails})-1),{!toEmails}),&#39;;;&#39;,&#39;;&#39;) &amp; &#39;&quot;,&#39; +
&#39; &quot;ccEmails&quot; : &quot;&#39; &amp; SUBSTITUTE(IF(RIGHT({!ccEmails},1)=&#39;;&#39;,LEFT({!ccEmails},LEN({!ccEmails})-1),{!ccEmails}),&#39;;;&#39;,&#39;;&#39;) &amp; &#39;&quot;,&#39; +
&#39; &quot;triggerAccount&quot; : &#39; &amp; {!triggerAccount} &amp; &#39;,&#39; +
&#39; &quot;relatedAccounts&quot; : [&#39;
 &amp; SUBSTITUTE(IF(RIGHT({!relatedAccounts},1)=&#39;,&#39;,LEFT({!relatedAccounts},LEN({!relatedAccounts})-1),{!relatedAccounts}),&#39;,,&#39;,&#39;,&#39;) &amp; 
&#39;],&#39; +
&#39; &quot;globalAccount&quot; : &#39; &amp; {!globalAccount} &amp; &#39;,&#39; +
&#39; &quot;reason&quot; : &quot;&#39; &amp; SUBSTITUTE({!reason},&#39;&quot;&#39;,&#39;&#39;) &amp; &#39;&quot;,&#39; +
&#39; &quot;comments&quot; : &quot;&#39; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!comments},&#39;&quot;&#39;,&#39;&#39;),SUBSTITUTE({!$Label.LineBreak},&#39;-&#39;,&#39;&#39;),&#39; - &#39;),SUBSTITUTE({!$Label.HorizontalTab},&#39;-&#39;,&#39;&#39;),&#39; &#39;) &amp; &#39;&quot;&#39; +
&#39;}&#39;</expression>
    </formulas>
    <interviewLabel>Global Account Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Global Account Email Flow</label>
    <loops>
        <name>Loop_through_Account_to_find_emails</name>
        <label>Loop through Account to find emails</label>
        <locationX>268</locationX>
        <locationY>229</locationY>
        <assignNextValueToReference>EmailtoSendTo</assignNextValueToReference>
        <collectionReference>GlobalRelatedAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountEmails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>set_other_variables_for_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Global_Account_Record</name>
        <label>Get Global Account Record</label>
        <locationX>246</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Accounts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdatedAccount.Global_Account__c</elementReference>
            </value>
        </filters>
        <object>Global_Account__c</object>
        <outputReference>globalAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Send_Updates_To__c</queriedFields>
        <queriedFields>Global_Notification_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Related_Accounts</name>
        <label>Related Accounts</label>
        <locationX>448</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Related_Accounts</targetReference>
        </connector>
        <filters>
            <field>Global_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdatedAccount.Global_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>UpdatedAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>GlobalRelatedAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vertical_Team_Email__c</queriedFields>
        <queriedFields>Global_Account__c</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <queriedFields>Prospect_Status__c</queriedFields>
        <queriedFields>LastActivityDate</queriedFields>
        <queriedFields>Last_Activity_Type__c</queriedFields>
        <queriedFields>Last_Meeting_Date_Account__c</queriedFields>
        <queriedFields>Last_Meeting_Subject_Account__c</queriedFields>
        <queriedFields>Last_Meeting_Type_Account__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Supervisor_1_Email__c</queriedFields>
        <queriedFields>Supervisor_2_Email__c</queriedFields>
        <queriedFields>Supervisor_3_Email__c</queriedFields>
        <queriedFields>Salesperson_Email__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Updated_Record</name>
        <label>Updated Record</label>
        <locationX>27</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Global_Account_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>UpdatedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Global_Account__c</queriedFields>
        <queriedFields>LastActivityDate</queriedFields>
        <queriedFields>Last_Activity_Type__c</queriedFields>
        <queriedFields>Last_Meeting_Date_Account__c</queriedFields>
        <queriedFields>Last_Meeting_Subject_Account__c</queriedFields>
        <queriedFields>Last_Meeting_Type_Account__c</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <queriedFields>Prospect_Status__c</queriedFields>
        <queriedFields>Vertical_Team_Email__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
        <queriedFields>Primary_Full_Name__c</queriedFields>
        <queriedFields>Salesperson_Email__c</queriedFields>
    </recordLookups>
    <startElementReference>Updated_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>ccEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailforAccount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailtoSendTo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>globalAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>globalAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Global_Account__c</objectType>
    </variables>
    <variables>
        <name>GlobalRelatedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Pass in the Account Id to identify the correct Account and Global Account</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>relatedAccounts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SendtoEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>toEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triggerAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
