force-app/main/default/flows/HasInternaionalSitesNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>294</locationX>
        <locationY>675</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hiring Client with International Operations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailstoSend</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfsupport@isn.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Africa_Email</name>
        <label>Add Africa Email</label>
        <locationX>298</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>EmailstoSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AfricaEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Asia_Sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asia_Email</name>
        <label>Add Asia Email</label>
        <locationX>295</locationX>
        <locationY>234</locationY>
        <assignmentItems>
            <assignToReference>EmailstoSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AsiaEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Australia_Sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Australia_Email</name>
        <label>Add Australia Email</label>
        <locationX>294</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>EmailstoSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AustraliaEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Europe_Sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Europe_Email</name>
        <label>Add Europe Email</label>
        <locationX>293</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>EmailstoSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EuropeEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_South_America_Sites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_South_America_Email</name>
        <label>Add South America Email</label>
        <locationX>291</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>EmailstoSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SouthAmericaEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Emails_greater_than_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Emails_greater_than_0</name>
        <label>Emails greater than 0</label>
        <locationX>40</locationX>
        <locationY>669</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailstoSend</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emails</targetReference>
            </connector>
            <label>Has Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Africa_Sites</name>
        <label>Has Africa Sites</label>
        <locationX>34</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>Has_Asia_Sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_Africa1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>HasInternationalSites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Africa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasInternationalSites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Middle East</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Africa_Email</targetReference>
            </connector>
            <label>Contains Africa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Asia_Sites</name>
        <label>Has Asia Sites</label>
        <locationX>34</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Has_Australia_Sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_Asia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasInternationalSites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Asia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asia_Email</targetReference>
            </connector>
            <label>Contains Asia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Australia_Sites</name>
        <label>Has Australia Sites</label>
        <locationX>34</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Has_Europe_Sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasInternationalSites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Australia_Email</targetReference>
            </connector>
            <label>Contains Australia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Europe_Sites</name>
        <label>Has Europe Sites</label>
        <locationX>35</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Has_South_America_Sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_Europe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasInternationalSites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Europe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Europe_Email</targetReference>
            </connector>
            <label>Contains Europe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_South_America_Sites</name>
        <label>Has South America Sites</label>
        <locationX>35</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Emails_greater_than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contains_South_America</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasInternationalSites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>South America</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_South_America_Email</targetReference>
            </connector>
            <label>Contains South America</label>
        </rules>
    </decisions>
    <interviewLabel>HasInternaionalSitesNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HasInternaionalSitesNotification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Record_Updated</name>
        <label>Record Updated</label>
        <locationX>33</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Africa_Sites</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>UpdatedRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <queriedFields>Prospect_Status__c</queriedFields>
        <queriedFields>Verticals__c</queriedFields>
        <queriedFields>Vertical_Team_Email__c</queriedFields>
        <queriedFields>Primary_Full_Name__c</queriedFields>
        <queriedFields>Has_International_Sites__c</queriedFields>
    </recordLookups>
    <startElementReference>Record_Updated</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <text>{!UpdatedRecord.Name} has been marked as a subscriber in Salesforce with international operations in:

{!HasInternationalSites}

Please check this prospect is entered in Salesforce for your regions and the appropriate site locations are added.</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AfricaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ISNMiddleEast&amp;Africa@isn.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>AsiaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ISNAsia@isn.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>AustraliaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ISNAustralia@isn.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailstoSend</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EuropeEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ISNEurope@isn.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>HasInternationalSites</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SouthAmericaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>ISNLatAm@isn.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
