force-app/main/default/flows/IRAVS_Request_Client_Dev_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_New_Profile_Values</name>
        <label>Assign New Profile Values</label>
        <locationX>489</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>NewChecklist.Client_Dev_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientDevAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Client_Dev_Team_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientDevAccount.Vertical_Team_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Checklist_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Team_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IRAVSUS@isn.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000QFrrAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Target_Implementation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_Implementation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Number_of_Contractors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Contractors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Overlap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overlap</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Foreign_Review_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreign_Review_Needed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Implementation_Call_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Implementation_Call_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.ISNetworld_Sites_to_Tie_to_Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ISNetworld_Sites_to_Tie_to_Profile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Checklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Values</name>
        <label>Assign Update Values</label>
        <locationX>354</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>NewChecklist.Client_Dev_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientDevAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Client_Dev_Team_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientDevAccount.Vertical_Team_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Entered_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Checklist_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Team_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IRAVSUS@isn.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01234000000QFrrAAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.I_RAVS_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IRAVSClient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Profile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Profile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewChecklist.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Checklist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Request_Type_Decision</name>
        <label>Request Type Decision</label>
        <locationX>355</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>GetIRAVSAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Profile Update</defaultConnectorLabel>
        <rules>
            <name>New_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Insurance Profile Setup - ClientDev Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Profile_Screen</targetReference>
            </connector>
            <label>New Profile</label>
        </rules>
    </decisions>
    <description>Flow used on Account page for Client Dev to request profile updates from IRAVS</description>
    <dynamicChoiceSets>
        <name>CountryChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Country__c</picklistField>
        <picklistObject>P_RAVS_Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ForeignReviewChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Foreign_Review_Needed__c</picklistField>
        <picklistObject>P_RAVS_Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProfileSelectionChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Profile_Name__c</displayField>
        <filters>
            <field>I_RAVS_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IRAVSClient.Id</elementReference>
            </value>
        </filters>
        <object>Profile__c</object>
        <sortField>Profile_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>P_RAVS_Checklist__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>IRAVS Request - Client Dev Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IRAVS Request - Client Dev Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Checklist</name>
        <label>Create Checklist</label>
        <locationX>489</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>NewChecklist</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>364</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Type_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>ClientDevAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vertical_Team_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetIRAVSAccount</name>
        <label>GetIRAVSAccount</label>
        <locationX>218</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Client_Dev_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientDevAccount.Id</elementReference>
            </value>
        </filters>
        <object>I_RAVS_Client__c</object>
        <outputReference>IRAVSClient</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>866</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>&lt;p&gt;There was an error. You can try the request again, or email SalesforceAdmin@isn.com if the error continues.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information_Screen</name>
        <label>Information Screen</label>
        <locationX>208</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <fields>
            <name>InfoDisplayText</name>
            <fieldText>&lt;p&gt;Request a new profile setup or an update to an existing profile. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>RequestTypePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Profile_Screen</name>
        <label>New Profile</label>
        <locationX>491</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Profile_Values</targetReference>
        </connector>
        <fields>
            <name>Country</name>
            <choiceReferences>CountryChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_Implementation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Target Implementation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Contractors</name>
            <dataType>Number</dataType>
            <fieldText>Number of Contractors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Overlap</name>
            <dataType>Number</dataType>
            <fieldText>Overlap %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Foreign_Review_Needed</name>
            <choiceReferences>ForeignReviewChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Foreign Review Needed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Implementation_Call_Frequency</name>
            <dataType>String</dataType>
            <fieldText>Implementation Call Frequency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ISNetworld_Sites_to_Tie_to_Profile</name>
            <fieldText>ISNetworld Sites to Tie to Profile</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Profile_Update</name>
        <label>Profile Update</label>
        <locationX>219</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Update_Values</targetReference>
        </connector>
        <fields>
            <name>Select_Profile</name>
            <choiceReferences>ProfileSelectionChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Profile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes_2</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>778</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessDisplayText</name>
            <fieldText>&lt;p&gt;Request submitted successfully.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can add files to the checklist below, or &lt;a href=&quot;http://isn.my.salesforce.com/{!NewChecklist.Id}&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;Click here&lt;/b&gt;&lt;/a&gt;&lt;b&gt; &lt;/b&gt;to go to the request to review, add additional notes, or add files.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewChecklist.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Information_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientDevAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>IRAVSClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>I_RAVS_Client__c</objectType>
    </variables>
    <variables>
        <name>NewChecklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>P_RAVS_Checklist__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
