force-app/main/default/flows/Left_a_Voicemail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Create_a_follow_up</name>
        <label>Create a follow up?</label>
        <locationX>226</locationX>
        <locationY>582</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Follow_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Include_Follow_Up_Call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up_Task</targetReference>
            </connector>
            <label>Create Follow Up</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_site</name>
        <label>Is there a site?</label>
        <locationX>226</locationX>
        <locationY>27</locationY>
        <defaultConnector>
            <targetReference>lookupAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Has_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisContact.Site_Name2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookupSite</targetReference>
            </connector>
            <label>Has Site</label>
        </rules>
    </decisions>
    <description>Launches Quick Action Flow for Team Members Leaving Voicemail</description>
    <formulas>
        <name>defaultCallDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>defaultTeam</name>
        <dataType>String</dataType>
        <expression>If({!currentUser.Activity_Team_Override__c}=True,TEXT({!currentUser.Team__c}) , {!thisAccount.Team__c})</expression>
    </formulas>
    <formulas>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <expression>IF(AND({!TEXT(thisAccount.ISNetworld_Status__c)} = &#39;Subscriber&#39;, OR({!TEXT(thisSite.Site_ISN_Status__c)} = &#39;Subscriber&#39;, {!thisSite.Id} = null)), &#39;01280000000BgKQ&#39;, 
IF(AND({!TEXT(thisAccount.ISNetworld_Status__c)} = &#39;Subscriber&#39;, {!TEXT(thisSite.Site_ISN_Status__c)} &lt;&gt;&#39;Subscriber&#39;, {!thisSite.Id} &lt;&gt; null),
&#39;01280000000BgKL&#39;,
&#39;01280000000BgKL&#39;))</expression>
    </formulas>
    <formulas>
        <name>shortened_desc</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!Short_Description})&gt;250,Left({!Short_Description},200) &amp; &#39;(see description for more)&#39;,{!Short_Description})</expression>
    </formulas>
    <interviewLabel>Left a Voicemail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Left a Voicemail</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>228</locationX>
        <locationY>703</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Follow_Up_Call_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>04 - Spoke with Contact/Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_Entered_By_del__c</field>
            <value>
                <elementReference>currentUser.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>thisSite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up on Voicemail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>defaultTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>thisAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>thisContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Voicemail_Task</name>
        <label>Voicemail Task</label>
        <locationX>225</locationX>
        <locationY>472</locationY>
        <assignRecordIdToReference>voicemailTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_a_follow_up</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>02 - Left Voicemail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Short_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_Entered_By_del__c</field>
            <value>
                <elementReference>currentUser.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>currentUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Description__c</field>
            <value>
                <elementReference>shortened_desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>thisSite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Left a Voicemail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>defaultTeam</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>thisAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>thisContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>lookupAccount</name>
        <label>lookupAccount</label>
        <locationX>225</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupUser</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>thisAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupContact</name>
        <label>lookupContact</label>
        <locationX>27</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_site</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>thisContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Site_Name2__c</queriedFields>
        <queriedFields>Account_Team__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupSite</name>
        <label>lookupSite</label>
        <locationX>439</locationX>
        <locationY>28</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisContact.Site_Name2__c</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>thisSite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site_ISN_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupUser</name>
        <label>lookupUser</label>
        <locationX>225</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Left_a_Voicemail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>currentUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Activity_Team_Override__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Left_a_Voicemail</name>
        <label>Left a Voicemail</label>
        <locationX>225</locationX>
        <locationY>364</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Voicemail_Task</targetReference>
        </connector>
        <fields>
            <name>Q1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;What did you leave a voicemail about?&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Short_Description</name>
            <fieldText>Short Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>reminderToCallAgain</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Do you want to schedule a reminder task to call again?&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Include_Follow_Up_Call</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Include Follow Up Call?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Call_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>defaultCallDate</elementReference>
            </defaultValue>
            <fieldText>Follow Up Call Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>otherDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;&lt;U&gt;Other Details:&lt;/U&gt;&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>thisContact_Name</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Contact Name: {!thisContact.Full_Name__c}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>thisAccount_Name</name>
            <fieldText>Account Name: {!thisAccount.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>thisSite_name</name>
            <fieldText>Site Name: {!thisSite.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>user_Name</name>
            <fieldText>Assigned To: {!currentUser.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>team_name</name>
            <fieldText>Team: {!defaultTeam}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>lookupContact</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>thisAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>thisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>thisSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>voicemailTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
