force-app/main/default/flows/New_Vote_for_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_votes_exist_for_user</name>
        <label>Check if votes exist for user</label>
        <locationX>141</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>Votes Exist or Error</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingVotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Vote</targetReference>
            </connector>
            <label>Do Not Exist</label>
        </rules>
    </decisions>
    <interviewLabel>New Vote for Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Vote for Request</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Vote</name>
        <label>New Vote</label>
        <locationX>144</locationX>
        <locationY>353</locationY>
        <assignRecordIdToReference>varVoteId</assignRecordIdToReference>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voter__c</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Vote__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Votes</name>
        <label>Check for Existing Votes</label>
        <locationX>141</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_votes_exist_for_user</targetReference>
        </connector>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Voter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <object>Vote__c</object>
        <outputReference>ExistingVotes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Request__c</queriedFields>
        <queriedFields>Voter__c</queriedFields>
    </recordLookups>
    <startElementReference>Check_for_Existing_Votes</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExistingVotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vote__c</objectType>
    </variables>
    <variables>
        <name>varRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
