force-app/main/default/flows/New_GDPR_Request_from_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assignment_Existing_Individual_Id</name>
        <label>Assignment Existing Individual Id</label>
        <locationX>359</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>IndividualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContact.IndividualId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Create_GDPR_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_New_Individual_to_Contact</name>
        <label>Assignment New Individual to Contact</label>
        <locationX>148</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>SelectedContact.IndividualId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndividualId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fast_Update_SelectedContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Individual_Record_Exists</name>
        <label>Individual Record Exists?</label>
        <locationX>361</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedContact.IndividualId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Existing_Individual_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedContact.IndividualId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Create_Individual</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Used from Button on Contact to submit a new GDPR Request</description>
    <dynamicChoiceSets>
        <name>GDPRRequestTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>GDPR_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currentuserid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>New GDPR Request from Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New GDPR Request from Contact</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Record_Create_GDPR_Request</name>
        <label>Record Create GDPR Request</label>
        <locationX>152</locationX>
        <locationY>490</locationY>
        <assignRecordIdToReference>GDPRRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>Assignment_New_Individual_to_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Data_Privacy_Record__c</field>
            <value>
                <elementReference>IndividualId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Date__c</field>
            <value>
                <elementReference>Request_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Submitted_By__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <object>GDPR_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Record_Create_Individual</name>
        <label>Record Create Individual</label>
        <locationX>151</locationX>
        <locationY>345</locationY>
        <assignRecordIdToReference>IndividualId</assignRecordIdToReference>
        <connector>
            <targetReference>Record_Create_GDPR_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Do_Not_Call__c</field>
            <value>
                <elementReference>SelectedContact.DoNotCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Email__c</field>
            <value>
                <elementReference>SelectedContact.HasOptedOutOfEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>SelectedContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>SelectedContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SelectedContact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SelectedContact.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordCreates>
    <recordLookups>
        <name>Fast_Lookup_Contact</name>
        <label>Fast Lookup Contact</label>
        <locationX>151</locationX>
        <locationY>80</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_GDPR_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SelectedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>DoNotCall</queriedFields>
        <queriedFields>HasOptedOutOfEmail</queriedFields>
        <queriedFields>IndividualId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fast_Update_SelectedContact</name>
        <label>Fast Update SelectedContact</label>
        <locationX>346</locationX>
        <locationY>614</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>SelectedContact</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>577</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>There has been an error trying to create the GDPR Request. Please email SFAdmin@isn.com.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_GDPR_Request</name>
        <label>New GDPR Request</label>
        <locationX>153</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Individual_Record_Exists</targetReference>
        </connector>
        <fields>
            <name>NewGDPRRequestInfo</name>
            <fieldText>Use this workflow to submit a new GDPR Request to SF Admin and the ISN GDPR Team. 

Submitting GDPR Request for {!SelectedContact.FirstName} {!SelectedContact.LastName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>GDPRRequestTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Request Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes (be detailed)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fast_Lookup_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>GDPRRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IndividualId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>currentuserid</elementReference>
        </value>
    </variables>
</Flow>
