force-app/main/default/flows/Operations_Task_Checklist_Copy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddNewTaskToNewCollection</name>
        <label>AddNewTaskToNewCollection</label>
        <locationX>616</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>NewOpsTasksCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempOpsTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughOpsTasksCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuestoNewOpsTasks</name>
        <label>AssignValuestoNewOpsTasks</label>
        <locationX>614</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>TempOpsTask.Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpsTask.Task_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTaskDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpsTask.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempOpsTask.Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddNewTaskToNewCollection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NewDueDate</name>
        <dataType>Date</dataType>
        <expression>Date({!Enter_The_Year_Creating_Task_Checklist_For_YYYY_0},Month({!TempOpsTask.Due_Date__c}),Day({!TempOpsTask.Due_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>NewTaskDate</name>
        <dataType>Date</dataType>
        <expression>Date({!Enter_The_Year_Creating_Task_Checklist_For_YYYY_0},Month({!TempOpsTask.Task_Date__c}),Day({!TempOpsTask.Task_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>YearEnd</name>
        <dataType>Date</dataType>
        <expression>Date({!Enter_the_Year_YYYY},12,31)</expression>
    </formulas>
    <formulas>
        <name>YearStart</name>
        <dataType>Date</dataType>
        <expression>Date({!Enter_the_Year_YYYY},1,1)</expression>
    </formulas>
    <interviewLabel>Operations Task Checklist Copy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Operations Task Checklist Copy</label>
    <loops>
        <name>LoopThroughOpsTasksCollection</name>
        <label>LoopThroughOpsTasksCollection</label>
        <locationX>451</locationX>
        <locationY>199</locationY>
        <assignNextValueToReference>TempOpsTask</assignNextValueToReference>
        <collectionReference>OpsTasksCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValuestoNewOpsTasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOpsTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOpsTasks</name>
        <label>CreateOpsTasks</label>
        <locationX>451</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Operations_Task_Checklist_Copied_Successfully</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>NewOpsTasksCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetOperationsTasks</name>
        <label>GetOperationsTasks</label>
        <locationX>248</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughOpsTasksCollection</targetReference>
        </connector>
        <filters>
            <field>Annual_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Task_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>YearStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>YearEnd</elementReference>
            </value>
        </filters>
        <object>CDev_Sup_Task__c</object>
        <outputReference>OpsTasksCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Annual_Task__c</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Task_Date__c</queriedFields>
        <queriedFields>Responsible_Party__c</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Task_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Copy_Operations_Checklist</name>
        <label>Copy Operations Checklist</label>
        <locationX>248</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetOperationsTasks</targetReference>
        </connector>
        <fields>
            <name>Information</name>
            <fieldText>Use this workflow to copy all Operations Tasks from the year you select that have the &quot;Annual Task&quot; box checked.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_the_Year_YYYY</name>
            <dataType>Number</dataType>
            <fieldText>Enter the Year Copying From (YYYY)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Enter_The_Year_Creating_Task_Checklist_For_YYYY_0</name>
            <dataType>Number</dataType>
            <fieldText>Enter The Year Creating Task Checklist For (YYYY)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>582</locationX>
        <locationY>534</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorInfo</name>
            <fieldText>There was an error. Please email SalesforceAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Operations_Task_Checklist_Copied_Successfully</name>
        <label>Operations Task Checklist Copied Successfully</label>
        <locationX>336</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessInfo</name>
            <fieldText>The checklist was created successfully.

{!Counter} new tasks were added.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Copy_Operations_Checklist</startElementReference>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewOpsTasksCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CDev_Sup_Task__c</objectType>
    </variables>
    <variables>
        <name>OpsTasksCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CDev_Sup_Task__c</objectType>
    </variables>
    <variables>
        <name>TempOpsTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CDev_Sup_Task__c</objectType>
    </variables>
</Flow>
