force-app/main/default/flows/Project_Resource_Updates_Roles_on_Project_and_Related_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_AddProjectResourcesforUpdates</name>
        <label>assign_AddProjectResourcesforUpdates</label>
        <locationX>123</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>records_updatedProjectResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_currentLoopRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_relatedProjectResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_projectConsultant</name>
        <label>assign_projectConsultant</label>
        <locationX>714</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.Consultant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_projectDataScientist</name>
        <label>assign_projectDataScientist</label>
        <locationX>689</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.Data_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ProjectExecutiveSponsor</name>
        <label>assign_ProjectExecutiveSponsor</label>
        <locationX>1274</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.Executive_Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_projectPMOPrimary</name>
        <label>assign_projectPMOPrimary</label>
        <locationX>47</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.PMO_Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_projectPMOSecondary</name>
        <label>assign_projectPMOSecondary</label>
        <locationX>49</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.PMO_Secondary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_projectPMOTechnical</name>
        <label>assign_projectPMOTechnical</label>
        <locationX>403</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.PMO_Technical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ProjectProjectLeadRequestor</name>
        <label>assign_ProjectProjectLeadRequestor</label>
        <locationX>848</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.Project_Lead_Requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ProjectQualityManagement</name>
        <label>assign_ProjectQualityManagement</label>
        <locationX>505</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.Quality_Management__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ProjectResourceNewRole</name>
        <label>assign_ProjectResourceNewRole</label>
        <locationX>116</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>record_currentLoopRecord.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NewRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddProjectResourcesforUpdates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_projectSolutionArch</name>
        <label>assign_projectSolutionArch</label>
        <locationX>934</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>record_relatedProject.Solution_Architect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_currentProjectResource.Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_hasRelatedRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_hasRelatedRecords</name>
        <label>decision_hasRelatedRecords</label>
        <locationX>403</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>update_CurrentProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Project_Resources</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>records_relatedProjectResources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_relatedProjectResources</targetReference>
            </connector>
            <label>Has Related Project Resources</label>
        </rules>
    </decisions>
    <decisions>
        <name>descision_currentRecordRole</name>
        <label>descision_currentRecordRole</label>
        <locationX>601</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PMO_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_projectPMOPrimary</targetReference>
            </connector>
            <label>PMO Primary</label>
        </rules>
        <rules>
            <name>PMO_Seconday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMO Seconday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_projectPMOSecondary</targetReference>
            </connector>
            <label>PMO Seconday</label>
        </rules>
        <rules>
            <name>PMO_Technical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PMO Technical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_projectPMOTechnical</targetReference>
            </connector>
            <label>PMO Technical</label>
        </rules>
        <rules>
            <name>Quality_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ProjectQualityManagement</targetReference>
            </connector>
            <label>Quality Management</label>
        </rules>
        <rules>
            <name>Executive_Sponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive Sponsor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ProjectExecutiveSponsor</targetReference>
            </connector>
            <label>Executive Sponsor</label>
        </rules>
        <rules>
            <name>Project_Lead_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Lead (Requestor)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ProjectProjectLeadRequestor</targetReference>
            </connector>
            <label>Project Lead (Requestor)</label>
        </rules>
        <rules>
            <name>Solution_Architect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solution Architect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_projectSolutionArch</targetReference>
            </connector>
            <label>Solution Architect</label>
        </rules>
        <rules>
            <name>Data_Scientist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Scientist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_projectDataScientist</targetReference>
            </connector>
            <label>Data Scientist</label>
        </rules>
        <rules>
            <name>Consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_currentProjectResource.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consultant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_projectConsultant</targetReference>
            </connector>
            <label>Consultant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Updates_to_Project_Resources</name>
        <label>Has Updates to Project Resources</label>
        <locationX>739</locationX>
        <locationY>681</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>records_updatedProjectResources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_relatedProjectResources</targetReference>
            </connector>
            <label>Has Updates</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_NewRole</name>
        <dataType>String</dataType>
        <expression>CASE({!record_currentProjectResource.Role__c},
&#39;PMO Primary&#39;,&#39;Project Team Member&#39;,
&#39;PMO Seconday&#39;,&#39;Project Team Member&#39;,
&#39;PMO Technical&#39;,&#39;Project Team Member&#39;,
&#39;Quality Management&#39;,&#39;Project Team Member&#39;,
&#39;Executive Sponsor&#39;,&#39;Stakeholder-Executive&#39;,
&#39;Solution Architect&#39;,&#39;Project Team Member&#39;,
&#39;Data Scientist&#39;,&#39;Project Team Member&#39;,
&#39;Consultant&#39;,&#39;Project Team Member&#39;,
&#39;Stakeholder&#39;)</expression>
    </formulas>
    <interviewLabel>Project Resource - Updates Roles on Project and Related Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Resource - Updates Roles on Project and Related Resources</label>
    <loops>
        <name>loop_relatedProjectResources</name>
        <label>loop_relatedProjectResources</label>
        <locationX>414</locationX>
        <locationY>781</locationY>
        <assignNextValueToReference>record_currentLoopRecord</assignNextValueToReference>
        <collectionReference>records_relatedProjectResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ProjectResourceNewRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_CurrentProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecord_currentProjectResource</name>
        <label>getRecord_currentProjectResource</label>
        <locationX>197</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecords_relatedProjectReources</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Resource__c</object>
        <outputReference>record_currentProjectResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecord_relatedPoject</name>
        <label>getRecord_relatedPoject</label>
        <locationX>576</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>descision_currentRecordRole</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_currentProjectResource.Project__c</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>record_relatedProject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PMO_Primary__c</queriedFields>
        <queriedFields>PMO_Secondary__c</queriedFields>
        <queriedFields>PMO_Technical__c</queriedFields>
        <queriedFields>Quality_Management__c</queriedFields>
        <queriedFields>Executive_Sponsor__c</queriedFields>
        <queriedFields>Project_Lead_Requestor__c</queriedFields>
        <queriedFields>Solution_Architect__c</queriedFields>
        <queriedFields>Data_Scientist__c</queriedFields>
        <queriedFields>Consultant__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecords_relatedProjectReources</name>
        <label>getRecords_relatedProjectReources</label>
        <locationX>368</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRecord_relatedPoject</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_currentProjectResource.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_currentProjectResource.Role__c</elementReference>
            </value>
        </filters>
        <object>Project_Resource__c</object>
        <outputReference>records_relatedProjectResources</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_CurrentProject</name>
        <label>update_CurrentProject</label>
        <locationX>610</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>Has_Updates_to_Project_Resources</targetReference>
        </connector>
        <inputReference>record_relatedProject</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_relatedProjectResources</name>
        <label>update_relatedProjectResources</label>
        <locationX>896</locationX>
        <locationY>670</locationY>
        <inputReference>records_updatedProjectResources</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRecord_currentProjectResource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>record_currentLoopRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
    <variables>
        <name>record_currentProjectResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
    <variables>
        <name>record_relatedProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>records_relatedProjectResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
    <variables>
        <name>records_updatedProjectResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
</Flow>
