force-app/main/default/flows/Publication_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Demo_Email_Match</name>
        <label>Demo Email - Match</label>
        <locationX>1237</locationX>
        <locationY>576</locationY>
        <actionName>Publication_Request__c.Request_A_Demo_Match</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PublicationRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Demo_Email_No_Match</name>
        <label>Demo Email - No Match</label>
        <locationX>315</locationX>
        <locationY>449</locationY>
        <actionName>Publication_Request__c.Request_A_Demo_No_Match</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PublicationRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Publication_Request_Match</name>
        <label>Publication Request Match</label>
        <locationX>648</locationX>
        <locationY>588</locationY>
        <actionName>Publication_Request__c.Publication_Request</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PublicationRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Publication_Request_No_Match</name>
        <label>Publication Request No Match</label>
        <locationX>49</locationX>
        <locationY>463</locationY>
        <actionName>Publication_Request__c.Publication_Request_NoMatch</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PublicationRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Contact_Found_Check</name>
        <label>Contact Found Check</label>
        <locationX>276</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>PRRecordTypeCheckNoMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopthroughContacts</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Exists_Check</name>
        <label>Email Exists Check</label>
        <locationX>61</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>PRRecordTypeCheckNoMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PublicationRequest.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContacts</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRRecordTypeCheckMatch</name>
        <label>PRRecordTypeCheckMatch</label>
        <locationX>928</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsPRMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PublicationRequest.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01234000000M5OfAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Task_to_Contact</targetReference>
            </connector>
            <label>IsPRMatch</label>
        </rules>
        <rules>
            <name>IsRDMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PublicationRequest.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01234000000M5OkAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestDemoTask</targetReference>
            </connector>
            <label>IsRDMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRRecordTypeCheckNoMatch</name>
        <label>PRRecordTypeCheckNoMatch</label>
        <locationX>158</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsPRNoMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PublicationRequest.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01234000000M5OfAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publication_Request_No_Match</targetReference>
            </connector>
            <label>IsPRNoMatch</label>
        </rules>
        <rules>
            <name>IsRDNoMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PublicationRequest.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01234000000M5OkAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_Email_No_Match</targetReference>
            </connector>
            <label>IsRDNoMatch</label>
        </rules>
    </decisions>
    <interviewLabel>Publication Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publication and Demo Requests</label>
    <loops>
        <name>LoopthroughContacts</name>
        <label>LoopthroughContacts</label>
        <locationX>508</locationX>
        <locationY>119</locationY>
        <assignNextValueToReference>ContactDetails</assignNextValueToReference>
        <collectionReference>Contacts</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetAccounts</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Task_to_Contact</name>
        <label>Add Task to Contact</label>
        <locationX>767</locationX>
        <locationY>477</locationY>
        <assignRecordIdToReference>TaskID</assignRecordIdToReference>
        <connector>
            <targetReference>Publication_Request_Match</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>00 - Send Publication</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Send {!PublicationRequest.Publication_Type_Long__c} publication. This is related to the following request https://login.salesforce.com/{!PublicationRequest.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_Entered_By_del__c</field>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Description__c</field>
            <value>
                <stringValue>Send Requested Publication(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Requested Publication(s)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>AccountDetails.Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>RequestDemoTask</name>
        <label>RequestDemoTask</label>
        <locationX>1079</locationX>
        <locationY>472</locationY>
        <assignRecordIdToReference>RDTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Demo_Email_Match</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>03 - Spoke with Contact/Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Request received from ISN Website to schedule a demo.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_Entered_By_del__c</field>
            <value>
                <elementReference>UserDetails.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Description__c</field>
            <value>
                <stringValue>Call to Schedule Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request A Demo Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>AccountDetails.Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>GetAccounts</name>
        <label>GetAccounts</label>
        <locationX>752</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactDetails.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Verticals__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Vertical_Team_Email__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ISNetworld_Status__c</queriedFields>
        <queriedFields>Prospect_Status__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContacts</name>
        <label>GetContacts</label>
        <locationX>271</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found_Check</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PublicationRequest.Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>LastActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetPublicationRequestDetails</name>
        <label>GetPublicationRequestDetails</label>
        <locationX>59</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Exists_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRID</elementReference>
            </value>
        </filters>
        <object>Publication_Request__c</object>
        <outputReference>PublicationRequest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Company_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Email_Body__c</queriedFields>
        <queriedFields>Email_Subject__c</queriedFields>
        <queriedFields>Publication_Type__c</queriedFields>
        <queriedFields>Contact_Name__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>Phone__c</queriedFields>
        <queriedFields>Title__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contact_Match__c</queriedFields>
        <queriedFields>ISN_Team_Email__c</queriedFields>
        <queriedFields>ISN_Vertical_Team_Email__c</queriedFields>
        <queriedFields>Salesperson_Email__c</queriedFields>
        <queriedFields>Publication_Type_Long__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>924</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountDetails.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>929</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>PRRecordTypeCheckMatch</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PublicationRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Match__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISN_Vertical_Team_Email__c</field>
            <value>
                <elementReference>AccountDetails.Vertical_Team_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salesperson_Email__c</field>
            <value>
                <elementReference>UserDetails.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Publication_Request__c</object>
    </recordUpdates>
    <startElementReference>GetPublicationRequestDetails</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <text>Name: {!PublicationRequest.Contact_Name__c}
Title: {!PublicationRequest.Title__c}
Phone: {!PublicationRequest.Phone__c}
Email: {!PublicationRequest.Email__c}
Company Name: {!PublicationRequest.Company_Name__c}
Country: {!PublicationRequest.Country__c}
Publication Type: {!PublicationRequest.Publication_Type__c}
Vertical: {!AccountDetails.Verticals__c}</text>
    </textTemplates>
    <variables>
        <name>AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>foundContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PublicationRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Publication_Request__c</objectType>
    </variables>
    <variables>
        <name>RDTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
