force-app/main/default/flows/Remove_User_from_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Remove User from Groups when Inactivated</description>
    <interviewLabel>Remove User from Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove User from Groups</label>
    <loops>
        <name>Loop_Through_Group_Member_IDs</name>
        <label>Loop Through Group Member IDs</label>
        <locationX>142</locationX>
        <locationY>453</locationY>
        <assignNextValueToReference>GroupMemberIDtoDelete</assignNextValueToReference>
        <collectionReference>GroupMemberIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Group_Membership</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Group_Membership</name>
        <label>Delete Group Membership</label>
        <locationX>400</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Loop_Through_Group_Member_IDs</targetReference>
        </connector>
        <inputReference>GroupMemberIDtoDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Group_Member_IDs</name>
        <label>Get Group Member IDs</label>
        <locationX>142</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Group_Member_IDs</targetReference>
        </connector>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InactivatedUser.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>GroupMemberIDs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>GroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Updated_User</name>
        <label>Updated User</label>
        <locationX>142</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_IDs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>InactivatedUser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Updated_User</startElementReference>
    <status>Active</status>
    <variables>
        <name>GroupMemberIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupMemberIDtoDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>InactivatedUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
