force-app/main/default/flows/Request_Time_Entries_from_Utility_Bar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_New_Entry_to_Collection</name>
        <label>Add New Entry to Collection</label>
        <locationX>406</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>NewTimeEntryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTimeEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Assigned_Resournces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_to_Field</name>
        <label>Assign Request to Field</label>
        <locationX>172</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>RequestLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAssignedResource.Request_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Notes_to_Time_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Time_Entry_Record</name>
        <label>New Time Entry Record</label>
        <locationX>625</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>NewTimeEntry.Assigned_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAssignedResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTimeEntry.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAssignedResource.Last_Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTimeEntry.Stop_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTimeEntry.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Assigned_Resource</name>
        <label>Reset Assigned Resource</label>
        <locationX>631</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>CurrentAssignedResource.Last_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAssignedResource.Last_Stop_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Entry_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Skip_Start</name>
        <label>Skip Start</label>
        <locationX>180</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>skipStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildTimeEntryText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Start_Time_on_Resource</name>
        <label>Update Start Time on Resource</label>
        <locationX>1175</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>CurrentAssignedResource.Last_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fast_Update_Current_Assigned_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Assigned_Resournces</name>
        <label>Updated Assigned Resournces</label>
        <locationX>204</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>UpdatedAssignedResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAssignedResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Open_Assignments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aleady_assigned_to_Request</name>
        <label>Aleady assigned to Request</label>
        <locationX>971</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Time_on_Resource</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
        <rules>
            <name>Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_your_role_on_Request</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assigned_Resource_Open</name>
        <label>Assigned Resource Open</label>
        <locationX>387</locationX>
        <locationY>114</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartedAssignedResournces</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>From_Request_Screen_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartedAssignedResournces</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>From_Request_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Request_Screen</name>
        <label>From Request Screen</label>
        <locationX>605</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>From_Request_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skipStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Timer_Start</targetReference>
            </connector>
            <label>From Request - yes</label>
        </rules>
        <rules>
            <name>From_Request_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>skipStart</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Your_Time</targetReference>
            </connector>
            <label>From Request - no</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Request_Screen_0</name>
        <label>From Request Screen</label>
        <locationX>180</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>BuildTimeEntryText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>From_Request_yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Start</targetReference>
            </connector>
            <label>From Request - yes</label>
        </rules>
    </decisions>
    <description>Gives admins the ability to track time for requests using the utility bar.</description>
    <dynamicChoiceSets>
        <name>OpenAssignedResources</name>
        <dataType>String</dataType>
        <displayField>Request_Name__c</displayField>
        <filters>
            <field>Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Timer_Started__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Assigned_Resource__c</object>
        <outputAssignments>
            <assignToReference>LastStartDateTime</assignToReference>
            <field>Last_Start_Date_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastStopDateTime</assignToReference>
            <field>Last_Stop_Date_Time__c</field>
        </outputAssignments>
        <sortField>Last_Start_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpenRequests</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </filters>
        <object>Request__c</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Assigned_Resource__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Request Time Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Time Tracker</label>
    <loops>
        <name>BuildTimeEntryText</name>
        <label>BuildTimeEntryText</label>
        <locationX>395</locationX>
        <locationY>217</locationY>
        <assignNextValueToReference>CurrentAssignedResource</assignNextValueToReference>
        <collectionReference>StartedAssignedResournces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Request_to_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Notes_to_Time_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Open_Assignments</name>
        <label>Loop through Open Assignments</label>
        <locationX>399</locationX>
        <locationY>504</locationY>
        <assignNextValueToReference>CurrentAssignedResource</assignNextValueToReference>
        <collectionReference>StartedAssignedResournces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Time_Entry_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fast_Create_Time_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Created_Assigned_Resource</name>
        <label>Created Assigned Resource</label>
        <locationX>1193</locationX>
        <locationY>514</locationY>
        <assignRecordIdToReference>NewAssignedResourceId</assignRecordIdToReference>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Start_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </inputAssignments>
        <object>Assigned_Resource__c</object>
    </recordCreates>
    <recordCreates>
        <name>Fast_Create_Time_Entries</name>
        <label>Fast Create Time Entries</label>
        <locationX>608</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Fast_update_Assigned_Resournces</targetReference>
        </connector>
        <inputReference>NewTimeEntryCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fast_Lookup_Existing_Resource</name>
        <label>Fast Lookup Existing Resource</label>
        <locationX>972</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aleady_assigned_to_Request</targetReference>
        </connector>
        <filters>
            <field>Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Assigned_Resource__c</object>
        <outputReference>CurrentAssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Start_Date_Time__c</queriedFields>
        <queriedFields>Request__c</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fast_Lookup_Existing_Time_Entries</name>
        <label>Fast Lookup Existing Time Entries</label>
        <locationX>386</locationX>
        <locationY>6</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigned_Resource_Open</targetReference>
        </connector>
        <filters>
            <field>Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Timer_Started__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Assigned_Resource__c</object>
        <outputReference>StartedAssignedResournces</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
        <queriedFields>Timer_Started__c</queriedFields>
        <queriedFields>Last_Start_Date_Time__c</queriedFields>
        <queriedFields>Last_Stop_Date_Time__c</queriedFields>
        <queriedFields>Request__c</queriedFields>
        <queriedFields>Request_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fast_update_Assigned_Resournces</name>
        <label>Fast update Assigned Resournces</label>
        <locationX>601</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>From_Request_Screen</targetReference>
        </connector>
        <inputReference>UpdatedAssignedResources</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Fast_Update_Current_Assigned_Resource</name>
        <label>Fast Update Current Assigned Resource</label>
        <locationX>1394</locationX>
        <locationY>369</locationY>
        <inputReference>CurrentAssignedResource</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Notes_to_Time_Entry</name>
        <label>Add Notes to Time Entry</label>
        <locationX>395</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_Open_Assignments</targetReference>
        </connector>
        <fields>
            <name>OpenAssignedResourncestoClose</name>
            <fieldText>The following requests have open time entries to close:

{!RequestLineItems}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddNotesforTimeEntry</name>
            <fieldText>Add Notes for Time Entry</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Timer_Start</name>
        <label>Confirm Timer Start</label>
        <locationX>807</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fast_Lookup_Existing_Resource</targetReference>
        </connector>
        <fields>
            <name>ConfirmTimerStartDisplayText</name>
            <fieldText>Click Next to start timer.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Track_Your_Time</name>
        <label>Track Your Time</label>
        <locationX>797</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fast_Lookup_Existing_Resource</targetReference>
        </connector>
        <fields>
            <name>NewRequestTimeEntry</name>
            <fieldText>Select a request to start a time entry</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request</name>
            <choiceReferences>OpenRequests</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_is_your_role_on_Request</name>
        <label>What is your role on Request?</label>
        <locationX>973</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Created_Assigned_Resource</targetReference>
        </connector>
        <fields>
            <name>RequestRoleText</name>
            <fieldText>What is your role for the request?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Role</name>
            <choiceReferences>RequestRole</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fast_Lookup_Existing_Time_Entries</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>New_Line</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>CurrentAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assigned_Resource__c</objectType>
    </variables>
    <variables>
        <name>LastStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastStopDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAssignedResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTimeEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>NewTimeEntryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestLineItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skipStart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StartedAssignedResournces</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assigned_Resource__c</objectType>
    </variables>
    <variables>
        <name>UpdatedAssignedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assigned_Resource__c</objectType>
    </variables>
</Flow>
