force-app/main/default/flows/Request_Time_Tracker_Projects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_New_Entry_to_Collection</name>
        <label>Add New Entry to Collection</label>
        <locationX>401</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>newTimeEntryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTimeEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Project_Resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_to_Field</name>
        <label>Assign Request to Field</label>
        <locationX>138</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>RequestLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAssignedResource.Project_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Notes_to_Time_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Time_Entry_Record</name>
        <label>New Time Entry Record</label>
        <locationX>651</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>newTimeEntry.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAssignedResource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTimeEntry.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAssignedResource.Last_Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTimeEntry.Stop_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTimeEntry.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTimeEntry.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhaseForWork</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTimeEntry.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentAssignedResource.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTimeEntry.Travel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Project_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Project_Resource</name>
        <label>Reset Project Resource</label>
        <locationX>667</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>currentAssignedResource.Last_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAssignedResource.Last_Stop_Date_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Entry_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Skip_Start</name>
        <label>Skip Start</label>
        <locationX>109</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>skipStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>buildTimeEntry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Start_Time_on_Resource</name>
        <label>Update Start Time on Resource</label>
        <locationX>1331</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>currentAssignedResource.Last_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fast_Update_Current_Project_Resource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Project_Resources</name>
        <label>Updated Project Resources</label>
        <locationX>143</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>UpdatedProjectResources</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAssignedResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loops_through_Open_Assignments</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Analysis</name>
        <choiceText>Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_PrePlanning</name>
        <choiceText>Pre-Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAnalysis</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Analysis&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceDataGathering</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Data Gathering&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Gathering</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFindings</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Findings&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Findings</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePlanning</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consultant</name>
        <choiceText>Consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant</stringValue>
        </value>
    </choices>
    <choices>
        <name>DataGathering</name>
        <choiceText>Data Gathering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Gathering</stringValue>
        </value>
    </choices>
    <choices>
        <name>DataScientist</name>
        <choiceText>Data Scientist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Scientist</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExecutiveSponsor</name>
        <choiceText>Executive Sponsor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive Sponsor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Findings</name>
        <choiceText>Findings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Findings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planning</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProjectManager</name>
        <choiceText>Project Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Project Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>SolutionArchitect</name>
        <choiceText>Solution Architect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solution Architect</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_Assigned_to_Project</name>
        <label>Already Assigned to Project</label>
        <locationX>1100</locationX>
        <locationY>450</locationY>
        <defaultConnectorLabel>[Default]</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Time_on_Resource</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
        <rules>
            <name>Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentAssignedResource</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_your_role_on_project</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Project_Screen</name>
        <label>From Project Screen</label>
        <locationX>100</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>buildTimeEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Project_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Start</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Resource_Open</name>
        <label>Project Resource Open</label>
        <locationX>557</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartedAssignedResources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>From_Project_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartedAssignedResources</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Timer_Start</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Tracks time on projects</description>
    <dynamicChoiceSets>
        <name>picklistPhase</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Phase__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>projectRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role__c</picklistField>
        <picklistObject>Project_Resource__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Request Time Tracker - Projects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Time Tracker - Projects</label>
    <loops>
        <name>buildTimeEntry</name>
        <label>buildTimeEntry</label>
        <locationX>392</locationX>
        <locationY>330</locationY>
        <assignNextValueToReference>currentAssignedResource</assignNextValueToReference>
        <collectionReference>StartedAssignedResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Request_to_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Notes_to_Time_Entry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loops_through_Open_Assignments</name>
        <label>Loops through Open Assignments</label>
        <locationX>390</locationX>
        <locationY>635</locationY>
        <assignNextValueToReference>currentAssignedResource</assignNextValueToReference>
        <collectionReference>StartedAssignedResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Time_Entry_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fast_Create_Time_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project_Resource</name>
        <label>Create Project Resource</label>
        <locationX>1105</locationX>
        <locationY>845</locationY>
        <inputAssignments>
            <field>Last_Start_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Role</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Resource__c</object>
    </recordCreates>
    <recordCreates>
        <name>Fast_Create_Time_Entries</name>
        <label>Fast Create Time Entries</label>
        <locationX>645</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>Fast_Update_Project_Resources</targetReference>
        </connector>
        <inputReference>newTimeEntryCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fast_Lookup_Existing_Resource</name>
        <label>Fast Lookup Existing Resource</label>
        <locationX>863</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Assigned_to_Project</targetReference>
        </connector>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Resource__c</object>
        <outputReference>currentAssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Start_Date_Time__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fast_Lookup_Existing_Time_Entries</name>
        <label>Fast Lookup Existing Time Entries</label>
        <locationX>260</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Resource_Open</targetReference>
        </connector>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Timer_Started__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Resource__c</object>
        <outputReference>StartedAssignedResources</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Timer_Started__c</queriedFields>
        <queriedFields>Last_Start_Date_Time__c</queriedFields>
        <queriedFields>Last_Stop_Date_Time__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Project_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fast_Update_Current_Project_Resource</name>
        <label>Fast Update Current Project Resource</label>
        <locationX>1336</locationX>
        <locationY>662</locationY>
        <inputReference>currentAssignedResource</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Fast_Update_Project_Resources</name>
        <label>Fast Update Project Resources</label>
        <locationX>596</locationX>
        <locationY>347</locationY>
        <inputReference>UpdatedProjectResources</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Notes_to_Time_Entry</name>
        <label>Add Notes to Time Entry</label>
        <locationX>390</locationX>
        <locationY>508</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loops_through_Open_Assignments</targetReference>
        </connector>
        <fields>
            <name>CloseOpenAssignedResources</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The following requests have open time entries to close: &lt;/span&gt;{!currentAssignedResource.Project_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhaseForWork</name>
            <choiceReferences>Choice_PrePlanning</choiceReferences>
            <choiceReferences>choicePlanning</choiceReferences>
            <choiceReferences>choiceDataGathering</choiceReferences>
            <choiceReferences>choiceAnalysis</choiceReferences>
            <choiceReferences>choiceFindings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select project phase the work was completed for:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Travel</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Travel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Add Notes for Time Entry</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Timer_Start</name>
        <label>Confirm Timer Start</label>
        <locationX>863</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fast_Lookup_Existing_Resource</targetReference>
        </connector>
        <fields>
            <name>ConfirmTimerStartDisplayText</name>
            <fieldText>&lt;p&gt;Click Next to Start Timer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_is_your_role_on_project</name>
        <label>What is your role on project?</label>
        <locationX>1102</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Project_Resource</targetReference>
        </connector>
        <fields>
            <name>RequestRole</name>
            <fieldText>&lt;p&gt;What is your role for the project?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Role</name>
            <choiceReferences>ExecutiveSponsor</choiceReferences>
            <choiceReferences>ProjectManager</choiceReferences>
            <choiceReferences>SolutionArchitect</choiceReferences>
            <choiceReferences>DataScientist</choiceReferences>
            <choiceReferences>Consultant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fast_Lookup_Existing_Time_Entries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>newLine</name>
        <text>&lt;br/&gt;</text>
    </textTemplates>
    <variables>
        <name>currentAssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
    <variables>
        <name>newTimeEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>newTimeEntryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>projectLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestLineItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>skipStart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StartedAssignedResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
    <variables>
        <name>UpdatedProjectResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Resource__c</objectType>
    </variables>
</Flow>
