force-app/main/default/flows/Roundtable_Checklist_Hosted_at_ISN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_1_Month_Prior</name>
        <label>Send 1 Month Prior</label>
        <locationX>1151</locationX>
        <locationY>29</locationY>
        <actionName>Conference__c.Roundtable_at_ISN_1_Month_Prior</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_1_Month_Before</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_1_Week_Prior</name>
        <label>Send 1 Week Prior</label>
        <locationX>950</locationX>
        <locationY>613</locationY>
        <actionName>Conference__c.Roundtable_at_ISN_1_Week_Prior</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_1_Week_Before</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_2_Months_Prior</name>
        <label>Send 2 Months Prior</label>
        <locationX>705</locationX>
        <locationY>33</locationY>
        <actionName>Conference__c.RT_at_ISN_2_Months_Prior</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_2_Months_Before</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_2_Weeks_Prior</name>
        <label>Send 2 Weeks Prior</label>
        <locationX>1293</locationX>
        <locationY>354</locationY>
        <actionName>Conference__c.Roundtable_at_ISN_2_Weeks_Prior</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_2_Weeks_Before</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_3_Months_Prior</name>
        <label>Send 3 Months Prior</label>
        <locationX>465</locationX>
        <locationY>22</locationY>
        <actionName>Conference__c.Roundtable_at_ISN_3_Months_Prior</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_3_Months_Before</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Day_After</name>
        <label>Send Day After</label>
        <locationX>252</locationX>
        <locationY>603</locationY>
        <actionName>Conference__c.Roundtable_After</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Day_After</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Day_Before</name>
        <label>Send Day Before</label>
        <locationX>683</locationX>
        <locationY>674</locationY>
        <actionName>Conference__c.Roundtable_at_ISN_Day_Before_Of</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_2_Days_Before</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Check_1_Month_Before</name>
        <label>Check 1 Month Before</label>
        <locationX>1207</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>Sent1MonthPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_1_Week_Before</name>
        <label>Check 1 Week Before</label>
        <locationX>842</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>Sent1WeekPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_2_Days_Before</name>
        <label>Check 2 Days Before</label>
        <locationX>594</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>Sent2DaysPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_2_Months_Before</name>
        <label>Check 2 Months Before</label>
        <locationX>805</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>Sent2MonthsPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_2_Weeks_Before</name>
        <label>Check 2 Weeks Before</label>
        <locationX>1304</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>Sent2WeeksPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_3_Months_Before</name>
        <label>Check 3 Months Before</label>
        <locationX>566</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>Sent3MonthsPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Day_After</name>
        <label>Check Day After</label>
        <locationX>178</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>Sent1DayAfter</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
    </assignments>
    <description>Sends Roundtable Checklist (Hosted at ISN) Emails at the intervals created by the Roundtable Leads</description>
    <interviewLabel>Roundtable Checklist (Hosted at ISN) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roundtable Checklist (Hosted at ISN)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conference_Details</name>
        <label>Get Conference Details</label>
        <locationX>181</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Coordinator</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConferenceId</elementReference>
            </value>
        </filters>
        <object>Conference__c</object>
        <outputReference>theConference</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ClientDev_Lead_Contact__c</queriedFields>
        <queriedFields>UserClientDev_Lead_Contact_Supervisor__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Conference_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>ConferenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventDeliveryStatusText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sent1DayAfter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent1MonthPrior</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent1WeekPrior</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent2DaysPrior</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent2MonthsPrior</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent2WeeksPrior</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sent3MonthsPrior</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>theConference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Conference__c</objectType>
    </variables>
    <waits>
        <name>Email_Coordinator</name>
        <label>Email Coordinator</label>
        <locationX>686</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X1_Day_After_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent3MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1MonthPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2WeeksPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1WeekPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2DaysPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1DayAfter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Day_After</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>1 Day After End</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X1_Month_Prior_to_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent3MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1MonthPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_1_Month_Prior</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-30.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>1 Month Prior to Start</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X1_Week_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent3MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1MonthPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2WeeksPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1WeekPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_1_Week_Prior</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>1 Week Prior</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X2_Days_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent3MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1MonthPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2WeeksPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1WeekPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2DaysPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Day_Before</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>2 Days Prior</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X2_Months_Prior_to_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent3MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_2_Months_Prior</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-60.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>2 Months Prior to Start</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X2_Weeks_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent3MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent1MonthPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sent2WeeksPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_2_Weeks_Prior</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-14.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>2 Weeks Prior</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>X3_Months_Prior_to_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sent3MonthsPrior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_3_Months_Prior</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Conference__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Start_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>ConferenceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-90.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>3 Months Prior to Start</label>
            <outputParameters>
                <assignToReference>EventDeliveryStatusText</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
