force-app/main/default/flows/Scheduled_Enrollment_Reminder_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>reminder1EmailAlert</name>
        <label>reminder1EmailAlert</label>
        <locationX>448</locationX>
        <locationY>58</locationY>
        <actionName>Enrollment__c.Enrollment_Class_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>reminder1Check</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisEnrollment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>reminder2EmailAlert</name>
        <label>reminder2EmailAlert</label>
        <locationX>783</locationX>
        <locationY>299</locationY>
        <actionName>Enrollment__c.Enrollment_Class_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>reminder2Check</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisEnrollment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>reminder3EmailAlert</name>
        <label>reminder3EmailAlert</label>
        <locationX>448</locationX>
        <locationY>527</locationY>
        <actionName>Enrollment__c.Enrollment_Class_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>reminder3Check</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisEnrollment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>currentReminderOne</name>
        <label>currentReminderOne</label>
        <locationX>449</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>currentReminder</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reminder1EmailAlert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>currentReminderThree</name>
        <label>currentReminderThree</label>
        <locationX>447</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>currentReminder</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Three</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reminder3EmailAlert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>currentReminderTwo</name>
        <label>currentReminderTwo</label>
        <locationX>618</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>currentReminder</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Two</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reminder2EmailAlert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reminder1Check</name>
        <label>reminder1Check</label>
        <locationX>697</locationX>
        <locationY>152</locationY>
        <assignmentItems>
            <assignToReference>reminder1Sent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reminderDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reminder2Check</name>
        <label>reminder2Check</label>
        <locationX>697</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>reminder2Sent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reminderDates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reminder3Check</name>
        <label>reminder3Check</label>
        <locationX>246</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>reminder3sent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reminderDates</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>reminder1Min</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!thisClass.Training_Reminder_1__c}</expression>
    </formulas>
    <formulas>
        <name>reminder2Min</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!thisClass.Training_Reminder_2__c}</expression>
    </formulas>
    <formulas>
        <name>reminder3Min</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!thisClass.Training_Reminder_3__c}</expression>
    </formulas>
    <interviewLabel>Scheduled Enrollment Reminder Emails {!$Flow.CurrentDateTime} {!currentReminder}</interviewLabel>
    <label>Scheduled Enrollment Reminder Emails</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getClass</name>
        <label>getClass</label>
        <locationX>275</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>reminderDates</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisEnrollment.Course__c</elementReference>
            </value>
        </filters>
        <object>Class__c</object>
        <outputReference>thisClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Training_Reminder_1__c</queriedFields>
        <queriedFields>Training_Reminder_2__c</queriedFields>
        <queriedFields>Training_Reminder_3__c</queriedFields>
        <queriedFields>Date_Offered__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getThisEnrollment</name>
        <label>getThisEnrollment</label>
        <locationX>92</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getClass</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enrollmentId</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputReference>thisEnrollment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Class_Date__c</queriedFields>
        <queriedFields>Course__c</queriedFields>
        <queriedFields>Reminder_1_Date__c</queriedFields>
        <queriedFields>Reminder_2_Date__c</queriedFields>
        <queriedFields>Reminder_3_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Student_Name__c</queriedFields>
        <queriedFields>Student_Full_Name__c</queriedFields>
    </recordLookups>
    <startElementReference>getThisEnrollment</startElementReference>
    <status>Active</status>
    <variables>
        <name>currentReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Zero</stringValue>
        </value>
    </variables>
    <variables>
        <name>enrollmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reminder1Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reminder1Sent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>reminder2Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reminder2Sent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>reminder3Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reminder3sent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thisClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Class__c</objectType>
    </variables>
    <variables>
        <name>thisEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <waits>
        <name>reminderDates</name>
        <label>reminderDates</label>
        <locationX>450</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>reminder1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisEnrollment.Reminder_1_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>reminder1Min</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reminder1Sent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentReminderOne</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>thisEnrollment.Reminder_1_Date__c</elementReference>
                </value>
            </inputParameters>
            <label>reminder1</label>
            <outputParameters>
                <assignToReference>reminder1Date</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>reminder2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisEnrollment.Reminder_2_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>reminder2Min</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reminder2Sent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentReminderTwo</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>thisEnrollment.Reminder_2_Date__c</elementReference>
                </value>
            </inputParameters>
            <label>reminder2</label>
            <outputParameters>
                <assignToReference>reminder2Date</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>reminder3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reminder3sent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisEnrollment.Reminder_3_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>reminder3Min</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentReminderThree</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>thisEnrollment.Reminder_3_Date__c</elementReference>
                </value>
            </inputParameters>
            <label>reminder3</label>
            <outputParameters>
                <assignToReference>reminder3Date</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
