force-app/main/default/flows/Search_for_Unlinked_Publication_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>At_Least_One_Record</name>
        <label>At Least One Record</label>
        <locationX>350</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>Find_Records_by_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_and_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PRs2_Records</name>
        <label>PRs2 Records?</label>
        <locationX>854</locationX>
        <locationY>90</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRs2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_and_Update_2</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
        <rules>
            <name>Both_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRs2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Publication_Requests_Found</targetReference>
            </connector>
            <label>Both Null</label>
        </rules>
        <rules>
            <name>PR_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRs2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_Updated</targetReference>
            </connector>
            <label>PR not null</label>
        </rules>
    </decisions>
    <formulas>
        <name>ReplaceURLEncode</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!conemail}, &quot;%40&quot;, &quot;@&quot;)</expression>
    </formulas>
    <interviewLabel>Search for Unlinked Publication Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search for Unlinked Publication Requests</label>
    <loops>
        <name>Loop_and_Update</name>
        <label>Loop and Update</label>
        <locationX>105</locationX>
        <locationY>239</locationY>
        <assignNextValueToReference>PRtoUpdate</assignNextValueToReference>
        <collectionReference>PRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_PR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Records_by_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_and_Update_2</name>
        <label>Loop and Update 2</label>
        <locationX>628</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>PRtoUpdate2</assignNextValueToReference>
        <collectionReference>PRs2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_PR2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_Updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Records</name>
        <label>Find Records</label>
        <locationX>114</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>At_Least_One_Record</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRID</elementReference>
            </value>
        </filters>
        <object>Publication_Request__c</object>
        <outputReference>PRs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contact_Match__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Records_by_Email</name>
        <label>Find Records by Email</label>
        <locationX>637</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRs2_Records</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReplaceURLEncode</elementReference>
            </value>
        </filters>
        <object>Publication_Request__c</object>
        <outputReference>PRs2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contact_Match__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PR</name>
        <label>Update PR</label>
        <locationX>351</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Loop_and_Update</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRtoUpdate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Match__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>conID</elementReference>
            </value>
        </inputAssignments>
        <object>Publication_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PR2</name>
        <label>Update PR2</label>
        <locationX>855</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Loop_and_Update_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRtoUpdate2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Match__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>conID</elementReference>
            </value>
        </inputAssignments>
        <object>Publication_Request__c</object>
    </recordUpdates>
    <screens>
        <name>No_Publication_Requests_Found</name>
        <label>No Publication Requests Found</label>
        <locationX>1133</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPublicationRequestsFound</name>
            <fieldText>No Publication Requests Found</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Records_Updated</name>
        <label>Records Updated</label>
        <locationX>631</locationX>
        <locationY>386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordsUpdated</name>
            <fieldText>Records Updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>conemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>conID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Publication_Request__c</objectType>
    </variables>
    <variables>
        <name>PRs2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Publication_Request__c</objectType>
    </variables>
    <variables>
        <name>PRtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Publication_Request__c</objectType>
    </variables>
    <variables>
        <name>PRtoUpdate2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Publication_Request__c</objectType>
    </variables>
</Flow>
