force-app/main/default/flows/Send_UGM_Email_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendUgmEmailTemplate</name>
        <label>sendUgmEmailTemplate</label>
        <locationX>304</locationX>
        <locationY>385</locationY>
        <actionName>Event.Send_UGM_Email_Template</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Send UGM Email Template {!$Flow.CurrentDateTime} Event ID {!eventId}</interviewLabel>
    <label>Send UGM Email Template</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentUser</name>
        <label>getCurrentUser</label>
        <locationX>298</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateWorkflowEmail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>workflowUser</outputReference>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateWorkflowEmail</name>
        <label>updateWorkflowEmail</label>
        <locationX>303</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>sendUgmEmailTemplate</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eventId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Workflow_Email__c</field>
            <value>
                <elementReference>workflowUser.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <startElementReference>getCurrentUser</startElementReference>
    <status>Active</status>
    <variables>
        <name>eventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ugmEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>workflowUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
