force-app/main/default/flows/Send_Invoice_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Invoice_Payment_Email</name>
        <label>Send Invoice Payment Email</label>
        <locationX>809</locationX>
        <locationY>184</locationY>
        <actionName>SBQQ__Quote__c.Send_Invoice_Payment_Email</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RetrievedQuoteId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Quote</name>
        <label>Set Quote</label>
        <locationX>411</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>RetrievedQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_available</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AdminM</name>
        <choiceText>{!Get_Quote_Data.SBQQ__Account__r.Main_Admin_Contact__r.Email}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Quote_Data.SBQQ__Account__r.Main_Admin_Contact__r.Email</elementReference>
        </value>
    </choices>
    <choices>
        <name>BillingM</name>
        <choiceText>{!Get_Quote_Data.SBQQ__Account__r.Main_Billing_Contact__r.Email}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Quote_Data.SBQQ__Account__r.Main_Billing_Contact__r.Email</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Contact_available</name>
        <label>Contact available</label>
        <locationX>484</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.SBQQ__Account__r.Main_Admin_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.SBQQ__Account__r.Main_Billing_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_recipient</targetReference>
            </connector>
            <label>Has Contact</label>
        </rules>
    </decisions>
    <interviewLabel>Send Invoice email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Invoice email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Data</name>
        <label>Get Quote Data</label>
        <locationX>294</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quote</targetReference>
        </connector>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_recipient</name>
        <label>Select recipient</label>
        <locationX>681</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Invoice_Payment_Email</targetReference>
        </connector>
        <fields>
            <name>Choose_Contacts</name>
            <choiceReferences>AdminM</choiceReferences>
            <choiceReferences>BillingM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Contacts</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Quote_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Quote_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Opp Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetrievedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
