force-app/main/default/flows/Set_Question_Bank_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Determine_Object_Type</name>
        <label>Determine Object Type</label>
        <locationX>182</locationX>
        <locationY>267</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Conference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Conference</targetReference>
            </connector>
            <label>Conference</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Update</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>Sets a question bank Id based on url parameters passed to variables. objectType is custom object name. objectId is object id. formId is the form id to track down correct question bank. question bank is filtered for latested published.</description>
    <interviewLabel>Set Question Bank Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Question Bank Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Current_Question_Bank_based_on_Form_ID</name>
        <label>Lookup Current Question Bank based on Form ID</label>
        <locationX>180</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Object_Type</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Published</stringValue>
            </value>
        </filters>
        <object>Question_Bank__c</object>
        <outputAssignments>
            <assignToReference>questionBankId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Published_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity_Update</name>
        <label>Opportunity Update</label>
        <locationX>375</locationX>
        <locationY>446</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Question_Bank__c</field>
            <value>
                <elementReference>questionBankId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Conference</name>
        <label>Update Conference</label>
        <locationX>182</locationX>
        <locationY>443</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Question_Bank__c</field>
            <value>
                <elementReference>questionBankId</elementReference>
            </value>
        </inputAssignments>
        <object>Conference__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Current_Question_Bank_based_on_Form_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>formId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Object id passed from Process Flow</description>
        <name>objectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>string variable to track the object type that will be updated from Process Flow</description>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>questionBankId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
