force-app/main/default/flows/Site_Region_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignRegiontoSite</name>
        <label>assignRegiontoSite</label>
        <locationX>213</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>currentSite.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countryRegion.Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSiteRegion</targetReference>
        </connector>
    </assignments>
    <description>Flow updates the Site Region based on Country selection</description>
    <interviewLabel>Site Region Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Region Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCountryRegion</name>
        <label>getCountryRegion</label>
        <locationX>215</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRegiontoSite</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentSite.Country__c</elementReference>
            </value>
        </filters>
        <object>Country__c</object>
        <outputReference>countryRegion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSite</name>
        <label>getSite</label>
        <locationX>214</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCountryRegion</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>currentSite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateSiteRegion</name>
        <label>updateSiteRegion</label>
        <locationX>212</locationX>
        <locationY>467</locationY>
        <inputReference>currentSite</inputReference>
    </recordUpdates>
    <startElementReference>getSite</startElementReference>
    <status>Active</status>
    <variables>
        <name>countryRegion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country__c</objectType>
    </variables>
    <variables>
        <name>currentSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
