force-app/main/default/flows/Sub_Request_Attempt_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Sub_Request_Task</name>
        <label>Create Sub Request Task</label>
        <locationX>138</locationX>
        <locationY>556</locationY>
        <actionName>Lead.Sub_Request_Attempt</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>Activity_Type__c</name>
            <value>
                <elementReference>Call_Outcome</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Sub Request Attempt {!Call_Outcome}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Update_Lead_Values</name>
        <label>Update Lead Values</label>
        <locationX>138</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Last_Activity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_Attempt_Number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Undecided__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_is_Undecided</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Next_Outreach_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextOutreachDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceLeftVoicemail</name>
        <choiceText>Left Voicemail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Left Voicemail</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSpokeWith</name>
        <choiceText>Spoke With</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spoke With</stringValue>
        </value>
    </choices>
    <formulas>
        <name>NextOutreachDate</name>
        <dataType>Date</dataType>
        <expression>If({!Customer_is_Undecided}=TRUE,{!Today}+7 ,{!Today}+1)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$user.Id}</expression>
    </formulas>
    <interviewLabel>Sub Request Attempt Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Request Attempt Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>137</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>138</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Create_Sub_Request_Task</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Log_a_Sub_Request_Attempt</name>
        <label>Log a Sub Request Attempt</label>
        <locationX>136</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <fields>
            <name>Call_Outcome</name>
            <choiceReferences>choiceSpokeWith</choiceReferences>
            <choiceReferences>choiceLeftVoicemail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_is_Undecided</name>
            <dataType>Boolean</dataType>
            <fieldText>Customer is Undecided</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>31</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Log_a_Sub_Request_Attempt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentAttemptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
