force-app/main/default/flows/Sync_Meeting_Plan_Data_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Syncs overlapping fields between Meeting Plan and Account</description>
    <interviewLabel>Sync Meeting Plan Data to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Meeting Plan Data to Account</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>FastLookupMeetingPlan</name>
        <label>FastLookupMeetingPlan</label>
        <locationX>101</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordUpdateAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account_Summary__c</object>
        <outputReference>ThisMeetingPlan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Selling_Process__c</queriedFields>
        <queriedFields>Primary_Competitor__c</queriedFields>
        <queriedFields>Competitor_Agreement_Expiration_Date__c</queriedFields>
        <queriedFields>Competitor_Notes__c</queriedFields>
        <queriedFields>Overlap_Complete_Date__c</queriedFields>
        <queriedFields>Potential_Number_of_Contractors__c</queriedFields>
        <queriedFields>Potential_Number_of_Non_Subscribers__c</queriedFields>
        <queriedFields>Account_Description__c</queriedFields>
        <queriedFields>Biggest_Challenge_w_Account__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Buying_Process__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>RecordUpdateAccount</name>
        <label>RecordUpdateAccount</label>
        <locationX>101</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisMeetingPlan.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Biggest_Challenges_with_Account__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Biggest_Challenge_w_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buying_Process__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Buying_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompetitorAccount__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Primary_Competitor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Notes__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Competitor_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Renewal_Date__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Competitor_Agreement_Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contractor_Overlap_Complete__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Overlap_Complete_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ThisMeetingPlan.Account_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Net_New__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Potential_Number_of_Non_Subscribers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Number_of_Contractors__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Potential_Number_of_Contractors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Status__c</field>
            <value>
                <elementReference>ThisMeetingPlan.Selling_Process__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>285</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplayText</name>
            <fieldText>There was an error. Please email SalesforceAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>101</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FastLookupMeetingPlan</targetReference>
        </connector>
        <fields>
            <name>InformationDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The following fields will be updated on the account using information from the current meeting plan:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Selling Process&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Buying Process&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Primary Competitor&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Competitor Agreement Expiration Date&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Competitor Notes&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Overlap Complete Date&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Potential Number of Contractors&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Potential Number of Non-Subscribers&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account Description&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Biggest Challenge w/ Account&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>97</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessDisplayText</name>
            <fieldText>Account was updated successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Information</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThisMeetingPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Summary__c</objectType>
    </variables>
</Flow>
