force-app/main/default/flows/Update_Record_Type_for_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>UpdateConRecordTypeId</name>
        <label>UpdateConRecordTypeId</label>
        <locationX>437</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>con.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <description>Pass in Account Id and Updates Related Contacts Record Type Ids</description>
    <formulas>
        <name>newRecordTypeId</name>
        <dataType>String</dataType>
        <expression>IF({!con.IsProspect__c}, &#39;01234000000BlrnAAC&#39;, &#39;01234000000QFZ4AAO&#39;)</expression>
    </formulas>
    <interviewLabel>Update Record Type for Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Record Type for Contacts</label>
    <loops>
        <name>LoopContacts</name>
        <label>LoopContacts</label>
        <locationX>183</locationX>
        <locationY>228</locationY>
        <assignNextValueToReference>con</assignNextValueToReference>
        <collectionReference>relatedContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateConRecordTypeId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountContacts</name>
        <label>getAccountContacts</label>
        <locationX>180</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>relatedContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsProspect__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>183</locationX>
        <locationY>363</locationY>
        <inputReference>relatedContacts</inputReference>
    </recordUpdates>
    <startElementReference>getAccountContacts</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>con</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>relatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
