force-app/main/default/flows/Update_renewal_quote_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Quote_selected</name>
        <label>Quote selected</label>
        <locationX>372</locationX>
        <locationY>264</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Quote.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Renewal_Quote.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Presented</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Renewal_product</targetReference>
            </connector>
            <label>Yes selected</label>
        </rules>
    </decisions>
    <interviewLabel>Update renewal quote data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update renewal quote data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Renewal_Quote</name>
        <label>Get Renewal Quote</label>
        <locationX>260</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_selected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Status</name>
        <label>Update Quote Status</label>
        <locationX>694</locationX>
        <locationY>50</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Presented</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Renewal_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Renewal_product</name>
        <label>Add Renewal product</label>
        <locationX>493</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Update_Quote_Status</targetReference>
        </connector>
        <flowName>Add_Renewal_Products</flowName>
        <inputAssignments>
            <name>IsRenewal</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityType</name>
            <value>
                <elementReference>Get_Renewal_Quote.SBQQ__Opportunity2__r.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookId</name>
            <value>
                <elementReference>Get_Renewal_Quote.SBQQ__PricebookId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>Get_Renewal_Quote.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
