force-app/main/default/flows/Update_Employee_Goals_Search_and_Assign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Reset_Screen_Fields</name>
        <label>Reset Screen Fields</label>
        <locationX>574</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>selectedEmpID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varempty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varempty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeetingsGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varempty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PointsGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varempty</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setVariables</name>
        <label>setVariables</label>
        <locationX>581</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>PointsGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theEmployee.Weekly_Point_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theEmployee.Weekly_Call_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeetingsGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theEmployee.Weekly_New_Biz_Meeting_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>theEmployee.Weekly_New_Contacts_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Goals</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>MyName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMyID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>selectedEmpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>selectedEmployees</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMyID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>selectedEmpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update Employee Goals Search and Assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Employee Goals Search and Assign</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>getEmployeeandGoals</name>
        <label>getEmployeeandGoals</label>
        <locationX>326</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setVariables</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedEmpID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>theEmployee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Weekly_Point_Goal__c</queriedFields>
        <queriedFields>Weekly_Call_Goal__c</queriedFields>
        <queriedFields>Weekly_New_Biz_Meeting_Goal__c</queriedFields>
        <queriedFields>Weekly_New_Contacts_Goal__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateEmployee</name>
        <label>updateEmployee</label>
        <locationX>810</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>Reset_Screen_Fields</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedEmpID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Weekly_Call_Goal__c</field>
            <value>
                <elementReference>Calls</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_New_Biz_Meeting_Goal__c</field>
            <value>
                <elementReference>Schedule_Meetings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_New_Contacts_Goal__c</field>
            <value>
                <elementReference>Contacts_Added</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Point_Goal__c</field>
            <value>
                <elementReference>Points</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Employee_Goals</name>
        <label>Employee Goals</label>
        <locationX>810</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateEmployee</targetReference>
        </connector>
        <fields>
            <name>selectedEmployeeName</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Update Goals for {!theEmployee.Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Goals are weekly.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Points</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>theEmployee.Weekly_Point_Goal__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Points &lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;I&gt;(Current: {!theEmployee.Weekly_Point_Goal__c})&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Calls</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>theEmployee.Weekly_Call_Goal__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Calls &lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;I&gt;(Current: {!theEmployee.Weekly_Call_Goal__c})&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Schedule_Meetings</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>theEmployee.Weekly_New_Biz_Meeting_Goal__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sched Meeting &lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;I&gt;(Current: {!theEmployee.Weekly_New_Biz_Meeting_Goal__c})&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Contacts_Added</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>theEmployee.Weekly_New_Contacts_Goal__c</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Contacts Added &lt;FONT STYLE=&quot;font-size:10px&quot;&gt;&lt;I&gt;(Current: {!theEmployee.Weekly_New_Contacts_Goal__c})&lt;/I&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getEmployeeandGoals</startElementReference>
    <status>Active</status>
    <variables>
        <name>CallGoal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ContactsGoal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MeetingsGoal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>myEmployees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PointsGoal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedEmpID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>theEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varempty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
