force-app/main/default/flows/Update_Users_ManagerEmail_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_svarUser_Email</name>
        <label>Update svarUser Email</label>
        <locationX>276</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>svarUser.ManagerEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarManager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Manage_Email_Field</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Users ManagerEmail Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Users ManagerEmail Field</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>271</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_svarUser_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarUser.ManagerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>svarManager</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>267</locationX>
        <locationY>148</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>svarUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>ManagerEmail__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Manage_Email_Field</name>
        <label>Update Manage Email Field</label>
        <locationX>276</locationX>
        <locationY>535</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ManagerEmail__c</field>
            <value>
                <elementReference>svarManager.Email</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Get_User</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>svarManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>svarUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
