force-app/main/default/flows/Update_Employee_Goals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>MyName</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>selectedEmpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>selectedEmployees</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>selectedEmpID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Update Employee Goals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Employee Goals</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>FastLookupGoals</name>
        <label>FastLookupGoals</label>
        <locationX>92</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Goals</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedEmpID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SelectedEmployee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CDev_1_1_Meeting_Goal__c</queriedFields>
        <queriedFields>Engage_Pardot_Email_Goal__c</queriedFields>
        <queriedFields>Weekly_Call_Goal__c</queriedFields>
        <queriedFields>Weekly_New_Biz_Meeting_Goal__c</queriedFields>
        <queriedFields>Weekly_New_Contacts_Goal__c</queriedFields>
        <queriedFields>Weekly_Point_Goal__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>RecordUpdateGoals</name>
        <label>RecordUpdateGoals</label>
        <locationX>95</locationX>
        <locationY>442</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedEmpID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CDev_1_1_Meeting_Goal__c</field>
            <value>
                <elementReference>LCO_1_1_Goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Call_Goal__c</field>
            <value>
                <elementReference>Call_Goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_New_Biz_Meeting_Goal__c</field>
            <value>
                <elementReference>New_Biz_Meeting_Goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_New_Contacts_Goal__c</field>
            <value>
                <elementReference>New_Validated_Contacts_Goal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Point_Goal__c</field>
            <value>
                <elementReference>Point_Goal</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>306</locationX>
        <locationY>436</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorInfo</name>
            <fieldText>Oops. There was an error. Email SalesforceAdmin@isn.com for assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Employee</name>
        <label>Select Employee</label>
        <locationX>92</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FastLookupGoals</targetReference>
        </connector>
        <fields>
            <name>Employee</name>
            <choiceReferences>selectedEmployees</choiceReferences>
            <choiceReferences>MyName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Employee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>97</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessInfo</name>
            <fieldText>Employee updated successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Goals</name>
        <label>Update Goals</label>
        <locationX>95</locationX>
        <locationY>307</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordUpdateGoals</targetReference>
        </connector>
        <fields>
            <name>Call_Goal</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmployee.Weekly_Call_Goal__c</elementReference>
            </defaultValue>
            <fieldText>Call Goal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Point_Goal</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmployee.Weekly_Point_Goal__c</elementReference>
            </defaultValue>
            <fieldText>Point Goal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>New_Biz_Meeting_Goal</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmployee.Weekly_New_Biz_Meeting_Goal__c</elementReference>
            </defaultValue>
            <fieldText>New Biz Meeting Goal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>New_Validated_Contacts_Goal</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmployee.Weekly_New_Contacts_Goal__c</elementReference>
            </defaultValue>
            <fieldText>New/Validated Contacts Goal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LCO_1_1_Goal</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SelectedEmployee.CDev_1_1_Meeting_Goal__c</elementReference>
            </defaultValue>
            <fieldText>LCO 1:1 Goal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Select_Employee</startElementReference>
    <status>Active</status>
    <variables>
        <name>selectedEmpID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
