force-app/main/default/flows/User_Update_Address_based_on_Division.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Matches_ISN_Office</name>
        <label>Matches ISN Office</label>
        <locationX>395</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ISN_Office_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When user division changes, get ISN Office from Custom Metadata and update address of user.</description>
    <interviewLabel>User - Update Address based on Division {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Update Address based on Division</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>pull isn office from custom metadata</description>
        <name>Get_ISN_Office_Metadata</name>
        <label>Get ISN Office Metadata</label>
        <locationX>205</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matches_ISN_Office</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userDivision</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISN_Office__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Postal_Code__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Locale_Code__c</queriedFields>
        <queriedFields>Time_Zone_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update user address from ISN Office details</description>
        <name>Update_User_Address</name>
        <label>Update User Address</label>
        <locationX>612</locationX>
        <locationY>50</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_ISN_Office_Metadata.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_ISN_Office_Metadata.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>Get_ISN_Office_Metadata.Locale_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_ISN_Office_Metadata.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_ISN_Office_Metadata.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_ISN_Office_Metadata.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>Get_ISN_Office_Metadata.Time_Zone_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ISN_Office_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>userDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
