force-app/main/default/flows/User_Update_Groups_When_Team_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Found_Matching_Group</name>
        <label>Found Matching Group</label>
        <locationX>610</locationX>
        <locationY>372</locationY>
        <defaultConnectorLabel>Group Not Found</defaultConnectorLabel>
        <rules>
            <name>Group_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Group_Member</targetReference>
            </connector>
            <label>Group Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Group_Status</name>
        <label>Update Group Status</label>
        <locationX>182</locationX>
        <locationY>210</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Override_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.Update_Groups__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Override Existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_User_from_Groups</targetReference>
            </connector>
            <label>Override Existing</label>
        </rules>
        <rules>
            <name>Add_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.Update_Groups__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGroup</targetReference>
            </connector>
            <label>Add Only</label>
        </rules>
        <rules>
            <name>Do_Not_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.Update_Groups__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Do Not Update</stringValue>
                </rightValue>
            </conditions>
            <label>Do Not Update</label>
        </rules>
    </decisions>
    <interviewLabel>User - Update Groups When Team Changes {!$Flow.CurrentDateTime} {!UserID}</interviewLabel>
    <label>User - Update Groups When Team Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Group_Member</name>
        <label>Create Group Member</label>
        <locationX>813</locationX>
        <locationY>370</locationY>
        <assignRecordIdToReference>GroupMemberID</assignRecordIdToReference>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordLookups>
        <name>getGroup</name>
        <label>getGroup</label>
        <locationX>468</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Matching_Group</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Team__c</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Group</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedUser</name>
        <label>getUpdatedUser</label>
        <locationX>180</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Group_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Group__c</queriedFields>
        <queriedFields>Team__c</queriedFields>
        <queriedFields>Update_Groups__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getUpdatedUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Remove_User_from_Groups</name>
        <label>Remove User from Groups</label>
        <locationX>468</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>getGroup</targetReference>
        </connector>
        <flowName>Remove_User_from_Groups</flowName>
        <inputAssignments>
            <name>UserID</name>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <name>UserID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Group</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>GroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GroupMemberIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
